<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= htmlWebpackPlugin.options.title %>
  <%= htmlWebpackPlugin.options.helmetMeta %>
  <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>

<body>
  <div id="app"><%= htmlWebpackPlugin.options.html %></div>
  <script>window.__INITIAL_STATE__ = <%= htmlWebpackPlugin.options.extraScript %></script>
</body>
</html>
