<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/6dc6394fdffdada525ee.css">
  </head>

  <body>
    <div id="app"></div>

    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="/js/vendor.6dc6394fdffdada525ee.js"></script>
    <script src="/js/bundle.6dc6394fdffdada525ee.js"></script>
  </body>
</html>
