@import "responsive"

.ymaps-b-balloon
  +smaller-than($small-screen)
    width: 247px !important

.ymaps-b-balloon__content
  > ymaps
    +smaller-than($small-screen)
      width: 260px !important

.ymaps-b-balloon__content
  background: transparent!important

.ymaps-controls-righttop
  > ymaps
    +smaller-than($medium-screen)
      top: 75px !important
      right: 20px !important
    +smaller-than($small-screen)
      top: 25px !important
      right: 75px !important

.ymaps-b-form-button
  background: #fff!important
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 10px
  border-radius: 17px
  +smaller-than($small-screen)
    display: none!important

.ymaps-b-form-button__left
  background-image: none!important

.ymaps-b-form-button__content, .ymaps-b-form-button_theme_grey-no-transparent-26
  background-image: none!important

.ymaps-b-balloon__content-holster
  padding: 0!important

.ymaps-b-balloon__sprite
  background: none!important

.ymaps-b-balloon__content
  border: none!important

.ymaps-b-balloon__close
  top: 0px!important

.ymaps-b-balloon__tail
  background: none!important
  > .ymaps-b-balloon__sprite
    background: #fff!important
    width: 15px
    height: 15px
    transform: rotate(135deg)
    position: relative
    top: -6px
    position: relative
    // +smaller-than($small-screen)
    //   top: -19px
