@import "responsive"

.popup-label
  text-align: left
  margin-left: 10px
  line-height: 38px

.popup
  visibility: visible
  position: fixed
  left: 0
  bottom: 0
  right: 0
  top: 0
  background-color: rgba(#000, 0.54)
  z-index: 10

  &.hidden
    visibility: hidden

.popup-wrapper
  position: absolute
  top: 50%
  left: 50%
  width: 800px
  height: auto
  transform: translate(-50%, -50%)
  z-index: 11
  background-color: #fff
  border-radius: 3px
  text-align: center
  user-select: none
  overflow: hidden
  +smaller-than($small-screen + 120px)
    width: calc(100% - 40px)

  > .popup-header
    width: 800px
    height: 40px
    background-color: #fff
    border-radius: 3px 3px 0 0
    text-align: right
    position: relative
    +smaller-than($small-screen + 120px)
      width: calc(100% - 40px)
      margin-left: auto
    > .popup-close
      height: 40px
      position: absolute
      top: 50%
      right: 0px
      transform: translateY(-50%)
      > svg
        position: relative
        top: 50%
        transform: translateY(-50%)
        right: 10px
        width: 20px
        height: 20px
        cursor: pointer
        > path
          fill: #000
          opacity: 0.28
