.paper {
  width: 800px;
  margin: 40px auto;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans"; }
  body * {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400; }

p {
  margin: 0;
  padding: 0; }

a {
  color: white;
  text-decoration: none;
  font-family: "Raleway"; }

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0; }

@media (max-width: 1199px) {
  .paper {
    width: 600px; } }
@media (max-width: 729px) {
  .paper {
    width: calc(100% - 20px); } }
section.bs-nf-container {
  margin: 40px auto;
  max-width: 1200px; }

h2.bs-nf-header {
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 20px; }

p.bs-nf-description {
  font-size: 16px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  max-width: 600px;
  margin: 0 auto; }

div.bs-nf-telephones {
  margin: 40px 0; }
  div.bs-nf-telephones a.bs-nf-tel {
    color: #4967af;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: "Noto Sans";
    display: block;
    width: 190px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(73, 103, 175, 0);
    text-align: center; }
    div.bs-nf-telephones a.bs-nf-tel:first-of-type {
      margin-bottom: 15px; }
    div.bs-nf-telephones a.bs-nf-tel:hover {
      border-bottom: 1px solid #4967af; }

div.bs-nf-buttons {
  text-align: center;
  font-size: 0;
  word-spacing: 40px; }
  div.bs-nf-buttons button.bs-nf-button {
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    width: 240px;
    display: inline-block;
    padding: 0 20px 0 40px;
    box-sizing: border-box;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Raleway";
    font-weight: 500;
    border-radius: 20px;
    margin: 0 auto;
    position: relative; }
    div.bs-nf-buttons button.bs-nf-button:hover {
      box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
    div.bs-nf-buttons button.bs-nf-button::before {
      content: " ";
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      top: 12px;
      left: 12px; }
  div.bs-nf-buttons button.bs-nf-write-to-us {
    background-color: #20d320; }
    div.bs-nf-buttons button.bs-nf-write-to-us:before {
      background-image: url("/images/email.svg"); }
  div.bs-nf-buttons button.bs-nf-recall {
    background-color: #4967af; }
    div.bs-nf-buttons button.bs-nf-recall:before {
      background-image: url("/images/phone.svg"); }

section.vk-calc-sitetypes {
  margin: 40px auto;
  position: relative;
  max-width: 1200px; }

div#types-container {
  position: absolute;
  white-space: nowrap;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
  div#types-container div.type-item {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 480px;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    border-radius: 2px;
    margin: 0 10px;
    box-sizing: border-box;
    padding: 20px; }
    div#types-container div.type-item img {
      width: 175px;
      height: 175px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }
    div#types-container div.type-item div.header {
      position: relative;
      height: 40px; }
      div#types-container div.type-item div.header h2 {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: "Raleway";
        font-weight: 300;
        text-align: center;
        line-height: 24px; }
        div#types-container div.type-item div.header h2 span {
          display: block;
          font-size: 16px; }
    div#types-container div.type-item hr {
      border: none;
      display: block;
      width: 120px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.12);
      margin: 20px auto; }
    div#types-container div.type-item p {
      white-space: normal;
      min-height: 75px;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.54);
      margin: 0;
      margin-bottom: 20px; }
    div#types-container div.type-item a {
      text-decoration: none;
      color: white;
      position: relative;
      display: block;
      height: 40px;
      padding: 10px 20px 10px 40px;
      box-sizing: border-box;
      background-color: #4967AF;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      border-radius: 20px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      text-transform: uppercase;
      line-height: 20px;
      font-size: 14px;
      font-family: "Raleway";
      font-weight: 500;
      text-align: center; }
      div#types-container div.type-item a::before {
        content: " ";
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        background-image: url("/images/svg/arrow-forward.svg");
        top: 12.5px;
        left: 12.5px; }
      div#types-container div.type-item a:hover {
        box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }

@media (min-width: 1800px) {
  div#types-container {
    position: static;
    margin-top: 40px;
    text-align: center;
    white-space: normal; }
    div#types-container div.type-item {
      width: 340px;
      height: 255px;
      margin: 5px; }
      div#types-container div.type-item img {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top; }
      div#types-container div.type-item div.header {
        display: inline-block;
        width: 220px;
        height: 60px;
        vertical-align: top; }
      div#types-container div.type-item hr {
        display: none; }
      div#types-container div.type-item p {
        height: 75px;
        text-align: left; } }
@media (max-width: 1799px) {
  div#types-container {
    position: static;
    margin-top: 40px;
    text-align: center;
    white-space: normal; }
    div#types-container div.type-item {
      width: 340px;
      height: 255px;
      margin: 5px; }
      div#types-container div.type-item img {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top; }
      div#types-container div.type-item div.header {
        display: inline-block;
        width: 220px;
        height: 60px;
        vertical-align: top; }
      div#types-container div.type-item hr {
        display: none; }
      div#types-container div.type-item p {
        height: 75px;
        text-align: left; } }
@media (max-width: 1199px) {
  section.vk-calc-sitetypes {
    width: calc(100% - 30px); }

  div#types-container {
    position: static;
    margin-top: 40px;
    text-align: center;
    white-space: normal; }
    div#types-container div.type-item {
      width: 340px;
      height: 255px;
      margin: 5px; }
      div#types-container div.type-item img {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top; }
      div#types-container div.type-item div.header {
        display: inline-block;
        width: 220px;
        height: 60px;
        vertical-align: top; }
      div#types-container div.type-item hr {
        display: none; }
      div#types-container div.type-item p {
        height: 75px;
        text-align: left; }

  ul.vk-calc-cost-factors-list {
    width: calc(100% - 40px); } }
@media (max-width: 729px) {
  section.bs-nf-container {
    width: calc(100% - 20px); }

  div.bs-nf-buttons button.bs-nf-button:first-of-type {
    margin-bottom: 20px; }

  h1 {
    font-size: 24px;
    margin: 20px auto; }

  h2 {
    font-size: 20px; }

  p {
    font-size: 14px; }

  section.vk-calc-sitetypes {
    margin: 40px auto;
    width: 100%; }
    section.vk-calc-sitetypes h2.vk-calc-sitetypes-h {
      margin-bottom: 20px; }

  div#types-container {
    margin-top: 0;
    width: 100%;
    position: static;
    text-align: center;
    white-space: normal; }
    div#types-container div.type-item {
      width: 100%;
      max-width: 340px;
      height: auto;
      margin: 5px 0; }
      div#types-container div.type-item img {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top; }
      div#types-container div.type-item div.header {
        display: inline-block;
        width: 200px;
        height: 40px;
        vertical-align: top; }
      div#types-container div.type-item hr {
        display: none; }
      div#types-container div.type-item p {
        height: auto;
        text-align: left; }

  ul.vk-calc-cost-factors-list {
    width: calc(100% - 30px); }
    ul.vk-calc-cost-factors-list li.vk-calc-cost-factor {
      margin-bottom: 30px; }
    ul.vk-calc-cost-factors-list h3.vk-calc-cost-factor-name {
      font-size: 18px;
      margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
