body {
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans";
  overflow-x: hidden;
  overflow-y: scroll; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Raleway"; }
  body nav {
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: center; }
    body nav div#overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #2a2f5d;
      opacity: 0;
      z-index: 1;
      transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    body nav h1 {
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      font-size: 108px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      mix-blend-mode: difference; }
    body nav div#list-container {
      width: calc(100% - 20px);
      overflow: hidden;
      padding: 0 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(42, 47, 93, 0), #2a2f5d);
      transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      body nav div#list-container ul#categories {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 0; }
        body nav div#list-container ul#categories li {
          display: inline-block;
          height: 40px;
          padding: 0 15px;
          position: relative;
          opacity: .7;
          color: white;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
          cursor: pointer; }
          body nav div#list-container ul#categories li::before {
            content: " ";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #19ab19;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
          body nav div#list-container ul#categories li:hover {
            opacity: 1; }
        body nav div#list-container ul#categories li#chosen {
          opacity: 1; }
          body nav div#list-container ul#categories li#chosen::before {
            opacity: 1; }
  body main {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
    text-align: center;
    perspective: 1200px;
    perspective-origin: 50% 0%;
    position: relative; }
    body main article {
      display: inline-block;
      vertical-align: top;
      transition: all 900ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 900ms step-start 0ms;
      margin: 20px;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      width: 360px;
      height: 500px;
      overflow: hidden;
      position: relative;
      text-align: left;
      background-color: white; }
      body main article img {
        width: 100%;
        height: auto;
        display: block; }
      body main article h2 {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        min-height: 30px;
        max-height: 60px;
        width: calc(100% - 40px);
        margin: 20px auto 0 auto;
        overflow: hidden; }
      body main article div.date {
        margin: 10px auto;
        width: calc(100% - 40px);
        line-height: 15px;
        font-size: 14px;
        font-style: italic;
        color: rgba(0, 0, 0, 0.38); }
      body main article p {
        margin: 0 auto;
        height: 8em;
        width: calc(100% - 40px);
        overflow: hidden;
        line-height: 1.6em;
        font-size: 14px;
        position: relative; }
        body main article p::after {
          content: " ";
          position: absolute;
          bottom: 0;
          right: 0;
          display: block;
          height: 1.6em;
          width: 60px;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), white); }
      body main article div.options {
        position: absolute;
        width: calc(100% - 40px);
        bottom: 20px;
        left: 20px; }
        body main article div.options span {
          display: inline-block;
          height: 30px;
          border-radius: 15px;
          background-color: #ededed;
          color: rgba(0, 0, 0, 0.38);
          font-size: 13px;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 28px;
          padding: 0 10px; }
        body main article div.options div.actions {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 30px; }
          body main article div.options div.actions a:first-of-type {
            color: white;
            text-decoration: none;
            position: relative;
            display: inline-block;
            height: 30px;
            padding: 10px 20px 10px 40px;
            box-sizing: border-box;
            background-color: #19ab19;
            box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
            border-radius: 20px;
            transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
            text-transform: uppercase;
            line-height: 20px;
            font-size: 14px;
            text-align: center;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 450ms step-start 0ms;
            padding: 0 15px;
            margin-right: 10px; }
            body main article div.options div.actions a:first-of-type::before {
              content: " ";
              background-image: url("/images/svg/share.svg");
              position: absolute;
              display: block;
              width: 15px;
              height: 15px;
              top: 7.5px;
              left: 7.5px; }
            body main article div.options div.actions a:first-of-type:hover {
              box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
          body main article div.options div.actions a:last-of-type {
            color: white;
            text-decoration: none;
            position: relative;
            display: inline-block;
            height: 30px;
            padding: 10px 20px 10px 40px;
            box-sizing: border-box;
            background-color: #4967af;
            box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
            border-radius: 20px;
            transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
            text-transform: uppercase;
            line-height: 20px;
            font-size: 14px;
            text-align: center;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 450ms step-start 0ms;
            padding: 0 15px; }
            body main article div.options div.actions a:last-of-type::before {
              content: " ";
              background-image: url("/images/svg/arrow-forward.svg");
              position: absolute;
              display: block;
              width: 15px;
              height: 15px;
              top: 7.5px;
              left: 7.5px; }
            body main article div.options div.actions a:last-of-type:hover {
              box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
  body section#share-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12000;
    background: rgba(42, 47, 93, 0.72);
    visibility: hidden;
    perspective: 1200px;
    perspective-origin: center;
    opacity: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    body section#share-modal div {
      font-size: 0;
      width: calc(100% - 30px);
      max-width: 480px;
      margin: 0 auto;
      background: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) rotateX(-45deg) rotateY(-45deg);
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.29804) 0px 19px 60px, rgba(0, 0, 0, 0.21961) 0px 15px 20px;
      text-align: center;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      opacity: 0; }
      body section#share-modal div h3 {
        line-height: 20px;
        font-size: 20px;
        font-weight: 300;
        background-color: #19ab19;
        color: white;
        margin: 0;
        padding: 20px 10px;
        border-radius: 2px 2px 0 0; }
      body section#share-modal div a {
        display: inline-block;
        margin: 20px 10px; }
        body section#share-modal div a img {
          width: 40px;
          height: 40px;
          box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
          display: block;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
          body section#share-modal div a img:hover {
            box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }

@media (min-width: 1200px) and (max-width: 1299px) {
  body main {
    margin-top: 30px; }
    body main article {
      margin: 10px; } }
@media (min-width: 730px) and (max-width: 1199px) {
  body main {
    width: 100%;
    margin-top: 10px; }
    body main article {
      margin: 10px;
      width: 330px; }
      body main article p {
        height: 9.6em; } }
@media (min-width: 320px) and (max-width: 729px) {
  body nav {
    height: 240px; }
    body nav h1 {
      font-size: 60px; }
    body nav div#list-container {
      overflow-x: scroll; }
  body main {
    width: 100%;
    margin-top: 20px; }
    body main article {
      width: calc(100% - 20px);
      margin: 10px auto;
      height: auto; }
      body main article h2 {
        line-height: 24px;
        font-size: 20px;
        min-height: 24px;
        max-height: 48px; }
      body main article p {
        height: 6.4em;
        margin-bottom: 70px; } }
header#mobile {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: rgba(42, 47, 93, 0);
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  perspective: 900px; }
  header#mobile img {
    width: 115px;
    height: 40px; }
  header#mobile div#h-locale-selector-mobile {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px;
    line-height: 20px;
    cursor: pointer; }
    header#mobile div#h-locale-selector-mobile::before {
      content: " ";
      position: absolute;
      height: 40px;
      width: 20px;
      background-image: url("/images/svg/locale-arrow-mobile.svg");
      right: 0;
      top: 0; }
    header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
      z-index: 9100;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 60px;
      left: 0;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#mobile div#h-menu-mobile {
    position: absolute;
    width: 25px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-image: url("/images/svg/menu-mobile.svg");
    cursor: pointer; }
  header#mobile ul#h-menu-list-mobile {
    z-index: 9050;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    header#mobile ul#h-menu-list-mobile li {
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #2A2F5D;
      transform: rotateX(-90deg);
      text-align: center; }
      header#mobile ul#h-menu-list-mobile li a {
        color: white;
        text-decoration: none;
        display: block;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#mobile ul#h-menu-list-mobile li a:hover {
        background-color: rgba(255, 255, 255, 0.12); }

@media (min-width: 320px) and (max-width: 729px) {
  header#mobile {
    height: 60px;
    padding: 15px; }
    header#mobile img {
      height: 30px;
      width: auto; }
    header#mobile div#h-locale-selector-mobile {
      right: 45px;
      top: 10px;
      width: 105px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
        top: 50px;
        width: 105px; }
    header#mobile div#h-menu-mobile {
      right: 10px;
      top: 10px; }
    header#mobile ul#h-menu-list-mobile {
      top: 60px; } }
