img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header#pc nav div[role=group] {
  position: relative;
  margin-top: 40px; }
  header#pc nav div[role=group]::before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); }

body {
  padding: 0 40px 0 200px;
  margin: 0;
  font-family: "Noto Sans"; }
  body h1 {
    font-family: "Raleway";
    font-size: 30px;
    line-height: 120%;
    width: 800px;
    margin: 40px auto;
    font-weight: 200;
    text-align: center; }
  body form {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative; }
    body form ul#autocomplete {
      height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 800px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      position: absolute;
      left: calc(50% - 400px);
      top: calc(100% + 10px);
      background-color: white;
      border-radius: 0 0 2px 2px;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      body form ul#autocomplete li {
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #4967AF;
        font-weight: 500;
        position: relative;
        padding: 0 20px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        cursor: pointer; }
        body form ul#autocomplete li::before {
          content: " ";
          position: absolute;
          bottom: 0;
          height: 1px;
          left: 20px;
          right: 20px;
          background-color: rgba(0, 0, 0, 0.12); }
        body form ul#autocomplete li:hover {
          background-color: rgba(0, 0, 0, 0.06); }
      body form ul#autocomplete li:last-of-type::before {
        visibility: hidden; }
    body form input[type=search] {
      width: calc(100% - 40px);
      height: 40px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.38);
      font-family: "Noto Sans";
      font-size: 16px;
      vertical-align: top;
      border-right: none;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      outline: none; }
      body form input[type=search]:focus {
        border: 1px solid #4967AF;
        border-right: none; }
    body form button {
      outline: none;
      width: 40px;
      height: 40px;
      border: none;
      background-color: #4967AF;
      vertical-align: top;
      cursor: pointer;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-sizing: border-box;
      padding: 10px; }
      body form button img {
        width: 20px;
        height: 20px; }
    body form button:hover {
      background-color: rgba(73, 103, 175, 0.84); }
  body div#categories-container {
    text-align: center; }
    body div#categories-container a.category-item {
      color: white;
      text-decoration: none;
      display: inline-block;
      width: 225px;
      height: 175px;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      border-radius: 2px;
      overflow: hidden;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      margin: 10px; }
      body div#categories-container a.category-item:hover {
        box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
      body div#categories-container a.category-item img {
        display: block;
        width: 100%;
        height: auto; }
      body div#categories-container a.category-item div {
        position: relative;
        height: 70px;
        padding: 10px;
        box-sizing: border-box; }
        body div#categories-container a.category-item div p {
          font-size: 14px;
          line-height: 20px;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: black;
          text-align: left; }

@media (min-width: 1200px) and (max-width: 1799px) {
  body h1 {
    width: 600px; }
  body form {
    width: 600px; }
    body form ul#autocomplete {
      width: 600px;
      left: calc(50% - 300px); } }
@media (min-width: 730px) and (max-width: 1199px) {
  body {
    padding: 80px 15px 0 15px; }
    body h1 {
      width: 600px; }
    body form {
      width: 600px;
      margin-bottom: 35px; }
      body form ul#autocomplete {
        width: 600px;
        left: calc(50% - 300px); }
    body div#categories-container a.category-item {
      margin: 5px; } }
@media (min-width: 320px) and (max-width: 729px) {
  body {
    padding: 60px 10px 0 10px; }
    body h1 {
      width: 100%;
      font-size: 24px;
      margin: 20px auto; }
    body form {
      width: 100%;
      margin-bottom: 20px; }
      body form ul#autocomplete {
        width: auto;
        left: 0;
        right: 0; }
    body div#categories-container a.category-item {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 10px; } }
header#pc {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  perspective: 2000px; }
  header#pc img {
    width: 140px;
    height: 120px;
    display: block;
    margin: 20px auto; }
  header#pc div#h-locale-selector {
    position: relative; }
    header#pc div#h-locale-selector div#h-locale-current {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current span {
        display: inline-block;
        text-align: center;
        width: 100%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current::before {
        content: " ";
        width: 20px;
        height: 40px;
        position: absolute;
        background-image: url("/images/svg/locale-arrow.svg");
        background-size: 20px 40px;
        opacity: 0;
        right: 0;
        transform: translateX(-20px);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc div#h-locale-selector div#h-locale-current:hover {
      background-color: rgba(255, 255, 255, 0.12); }
      header#pc div#h-locale-selector div#h-locale-current:hover span {
        width: 40%; }
      header#pc div#h-locale-selector div#h-locale-current:hover::before {
        transform: translateX(0px);
        opacity: 1; }
    header#pc div#h-locale-selector ul#h-locale-list {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 0;
      left: 100%;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#pc div#h-locale-selector ul#h-locale-list li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#pc div#h-locale-selector ul#h-locale-list li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#pc div#h-locale-selector ul#h-locale-list li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#pc nav {
    margin-top: 50px; }
    header#pc nav a {
      color: white;
      text-decoration: none;
      display: block;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc nav a:hover {
      background-color: rgba(255, 255, 255, 0.12); }

@media (max-width: 1199px) {
  header#pc {
    display: none; } }
header#mobile {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  perspective: 900px; }
  header#mobile img {
    width: 115px;
    height: 40px; }
  header#mobile div#h-locale-selector-mobile {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px;
    line-height: 20px;
    cursor: pointer; }
    header#mobile div#h-locale-selector-mobile::before {
      content: " ";
      position: absolute;
      height: 40px;
      width: 20px;
      background-image: url("/images/svg/locale-arrow-mobile.svg");
      right: 0;
      top: 0; }
    header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
      z-index: 9100;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 60px;
      left: 0;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#mobile div#h-menu-mobile {
    position: absolute;
    width: 25px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-image: url("/images/svg/menu-mobile.svg");
    cursor: pointer; }
  header#mobile ul#h-menu-list-mobile {
    z-index: 9050;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    header#mobile ul#h-menu-list-mobile li {
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #2A2F5D;
      transform: rotateX(-90deg);
      text-align: center; }
      header#mobile ul#h-menu-list-mobile li a {
        color: white;
        text-decoration: none;
        display: block;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#mobile ul#h-menu-list-mobile li a:hover {
        background-color: rgba(255, 255, 255, 0.12); }

@media (min-width: 1200px) {
  header#mobile {
    display: none; } }
@media (min-width: 320px) and (max-width: 729px) {
  header#mobile {
    height: 60px;
    padding: 15px; }
    header#mobile img {
      height: 30px;
      width: auto; }
    header#mobile div#h-locale-selector-mobile {
      right: 45px;
      top: 10px;
      width: 105px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
        top: 50px;
        width: 105px; }
    header#mobile div#h-menu-mobile {
      right: 10px;
      top: 10px; }
    header#mobile ul#h-menu-list-mobile {
      top: 60px; } }
