header#pc nav div[role=group] {
  position: relative;
  margin-top: 40px; }
  header#pc nav div[role=group]::before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); }

body {
  padding: 0 40px 0 200px;
  margin: 0;
  font-family: "Noto Sans";
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body a#back {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 40px;
    left: 200px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #99BBFF;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-sizing: border-box;
    padding: 12.5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    body a#back:hover {
      box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
    body a#back img {
      width: 15px;
      height: 15px;
      vertical-align: top; }
  body h1#sitetypes-title {
    font-family: "Raleway";
    font-size: 30px;
    line-height: 120%;
    width: 800px;
    margin: 40px auto;
    margin-bottom: 0;
    font-weight: 200;
    text-align: center; }
  body div#types-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    body div#types-container div.type-item {
      display: inline-block;
      vertical-align: top;
      width: 300px;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      border-radius: 2px;
      margin: 0 10px;
      box-sizing: border-box;
      padding: 20px; }
      body div#types-container div.type-item img {
        width: 175px;
        height: 175px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px; }
      body div#types-container div.type-item div.header {
        position: relative;
        height: 40px; }
        body div#types-container div.type-item div.header h2 {
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin: 0;
          padding: 0;
          font-size: 20px;
          font-family: "Raleway";
          font-weight: 300;
          text-align: center;
          line-height: 24px; }
          body div#types-container div.type-item div.header h2 span {
            display: block;
            font-size: 16px; }
      body div#types-container div.type-item hr {
        border: none;
        display: block;
        width: 120px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.12);
        margin: 20px auto; }
      body div#types-container div.type-item p {
        white-space: normal;
        min-height: 75px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
        margin-bottom: 20px; }
      body div#types-container div.type-item a {
        color: white;
        text-decoration: none;
        position: relative;
        display: block;
        height: 40px;
        padding: 10px 20px 10px 40px;
        box-sizing: border-box;
        background-color: #4967AF;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
        border-radius: 20px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        text-transform: uppercase;
        line-height: 20px;
        font-size: 14px;
        font-family: "Raleway";
        font-weight: 500;
        text-align: center; }
        body div#types-container div.type-item a::before {
          content: " ";
          position: absolute;
          display: block;
          width: 15px;
          height: 15px;
          background-image: url("/images/svg/arrow-forward.svg");
          top: 12.5px;
          left: 12.5px; }
        body div#types-container div.type-item a:hover {
          box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
  body div#scroll-arrows {
    position: absolute;
    width: calc(100% - 180px);
    height: 120px;
    top: calc(50% - 60px);
    left: 170px; }
    body div#scroll-arrows div {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30px;
      border-radius: 2px;
      background-color: #99BBFF;
      cursor: pointer;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15px 15px; }
      body div#scroll-arrows div:hover {
        box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
    body div#scroll-arrows div#scroll-forward {
      right: 0;
      background-image: url("/images/svg/arrow-forward.svg"); }
    body div#scroll-arrows div#scroll-backward {
      left: 0;
      background-image: url("/images/svg/arrow-back.svg"); }

@media (min-width: 1200px) and (max-width: 1799px) {
  body h1#sitetypes-title {
    width: 600px; }
  body div#types-container {
    top: 50%;
    transform: translateY(-50%); }
    body div#types-container div.type-item {
      width: 225px; }
      body div#types-container div.type-item img {
        width: 100px;
        height: 100px; } }
@media (min-width: 730px) and (max-width: 1199px) {
  body {
    padding: 80px 15px 0 15px; }
    body h1#sitetypes-title {
      width: 600px; }
    body a#back {
      top: 120px;
      left: 20px; }
    body div#types-container {
      position: static;
      margin-top: 40px;
      text-align: center;
      transform: none;
      white-space: normal; }
      body div#types-container div.type-item {
        width: 340px;
        margin: 5px; }
        body div#types-container div.type-item img {
          width: 60px;
          height: 60px;
          display: inline-block;
          margin-right: 20px;
          vertical-align: top; }
        body div#types-container div.type-item div.header {
          display: inline-block;
          width: 220px;
          margin-top: 10px;
          vertical-align: top; }
        body div#types-container div.type-item hr {
          display: none; }
        body div#types-container div.type-item p {
          height: 75px;
          text-align: left; }
    body div#scroll-arrows {
      display: none; } }
@media (min-width: 320px) and (max-width: 729px) {
  body {
    padding: 60px 10px 0 10px; }
    body h1#sitetypes-title {
      width: 100%;
      font-size: 24px;
      margin: 20px auto; }
    body a#back {
      display: none; }
    body div#types-container {
      width: 100%;
      position: static;
      text-align: center;
      transform: none;
      white-space: normal; }
      body div#types-container div.type-item {
        width: 100%;
        max-width: 340px;
        margin: 5px 0; }
        body div#types-container div.type-item img {
          width: 40px;
          height: 40px;
          display: inline-block;
          margin-right: 20px;
          vertical-align: top; }
        body div#types-container div.type-item div.header {
          display: inline-block;
          width: 200px;
          vertical-align: top; }
        body div#types-container div.type-item hr {
          display: none; }
        body div#types-container div.type-item p {
          margin-bottom: 35px;
          height: 75px;
          text-align: left; }
    body div#scroll-arrows {
      display: none; } }
header#pc {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  perspective: 2000px; }
  header#pc img {
    width: 140px;
    height: 120px;
    display: block;
    margin: 20px auto; }
  header#pc div#h-locale-selector {
    position: relative; }
    header#pc div#h-locale-selector div#h-locale-current {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current span {
        display: inline-block;
        text-align: center;
        width: 100%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current::before {
        content: " ";
        width: 20px;
        height: 40px;
        position: absolute;
        background-image: url("/images/svg/locale-arrow.svg");
        background-size: 20px 40px;
        opacity: 0;
        right: 0;
        transform: translateX(-20px);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc div#h-locale-selector div#h-locale-current:hover {
      background-color: rgba(255, 255, 255, 0.12); }
      header#pc div#h-locale-selector div#h-locale-current:hover span {
        width: 40%; }
      header#pc div#h-locale-selector div#h-locale-current:hover::before {
        transform: translateX(0px);
        opacity: 1; }
    header#pc div#h-locale-selector ul#h-locale-list {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 0;
      left: 100%;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#pc div#h-locale-selector ul#h-locale-list li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#pc div#h-locale-selector ul#h-locale-list li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#pc div#h-locale-selector ul#h-locale-list li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#pc nav {
    margin-top: 50px; }
    header#pc nav a {
      color: white;
      text-decoration: none;
      display: block;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc nav a:hover {
      background-color: rgba(255, 255, 255, 0.12); }

@media (max-width: 1199px) {
  header#pc {
    display: none; } }
header#mobile {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  perspective: 900px; }
  header#mobile img {
    width: 115px;
    height: 40px; }
  header#mobile div#h-locale-selector-mobile {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px;
    line-height: 20px;
    cursor: pointer; }
    header#mobile div#h-locale-selector-mobile::before {
      content: " ";
      position: absolute;
      height: 40px;
      width: 20px;
      background-image: url("/images/svg/locale-arrow-mobile.svg");
      right: 0;
      top: 0; }
    header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
      z-index: 9100;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 60px;
      left: 0;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#mobile div#h-menu-mobile {
    position: absolute;
    width: 25px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-image: url("/images/svg/menu-mobile.svg");
    cursor: pointer; }
  header#mobile ul#h-menu-list-mobile {
    z-index: 9050;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    header#mobile ul#h-menu-list-mobile li {
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #2A2F5D;
      transform: rotateX(-90deg);
      text-align: center; }
      header#mobile ul#h-menu-list-mobile li a {
        color: white;
        text-decoration: none;
        display: block;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#mobile ul#h-menu-list-mobile li a:hover {
        background-color: rgba(255, 255, 255, 0.12); }

@media (min-width: 1200px) {
  header#mobile {
    display: none; } }
@media (min-width: 320px) and (max-width: 729px) {
  header#mobile {
    height: 60px;
    padding: 15px; }
    header#mobile img {
      height: 30px;
      width: auto; }
    header#mobile div#h-locale-selector-mobile {
      right: 45px;
      top: 10px;
      width: 105px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
        top: 50px;
        width: 105px; }
    header#mobile div#h-menu-mobile {
      right: 10px;
      top: 10px; }
    header#mobile ul#h-menu-list-mobile {
      top: 60px; } }
