img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header#pc nav div[role=group] {
  position: relative;
  margin-top: 40px; }
  header#pc nav div[role=group]::before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); }

body {
  padding: 40px 40px 40px 200px;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans"; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    font-weight: 500; }
  body h1 {
    font-size: 30px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    line-height: 30px;
    text-align: center; }
  body section {
    margin: 80px auto;
    margin-bottom: 40px;
    width: 1200px; }
    body section > div {
      width: 100%;
      position: relative; }
      body section > div div.step-number {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: grey;
        color: white;
        text-align: center;
        line-height: 38px;
        font-size: 24px;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: calc(50% - 20px);
        z-index: 1; }
      body section > div div.step-line {
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: calc(50% - 1px);
        background-color: grey; }
      body section > div article {
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
        padding: 15px;
        box-sizing: border-box;
        width: 540px;
        height: auto;
        min-height: 150px; }
        body section > div article div[role=img] {
          width: 120px;
          margin-right: 15px;
          float: left;
          position: relative;
          height: 100%;
          min-height: 120px; }
          body section > div article div[role=img] img {
            width: 120px;
            height: 120px;
            display: inline-block; }
        body section > div article h2.step-header {
          font-size: 24px;
          line-height: 20px;
          margin-bottom: 20px;
          max-width: 375px;
          margin-left: auto;
          position: relative; }
          body section > div article h2.step-header::before {
            content: " ";
            position: absolute;
            width: calc(100% + 75px);
            height: 1px;
            background-color: rgba(0, 0, 0, 0.12);
            bottom: -5px;
            left: 0; }
        body section > div article ul {
          list-style: none;
          margin: 0;
          margin-left: auto;
          padding: 0;
          padding-left: 25px;
          max-width: 375px;
          box-sizing: border-box; }
          body section > div article ul li {
            margin-bottom: 15px;
            line-height: 24px;
            font-size: 20px;
            position: relative;
            color: rgba(0, 0, 0, 0.54); }
            body section > div article ul li::before {
              content: " ";
              width: 20px;
              height: 20px;
              background-image: url("/images/svg/list-marker-cooperation.svg");
              position: absolute;
              top: 3px;
              left: -25px; }
          body section > div article ul li:last-of-type {
            margin-bottom: 0; }
    body section > div:nth-of-type(2n) article {
      margin-left: auto; }
      body section > div:nth-of-type(2n) article div[role=img] {
        float: right;
        margin-right: 0;
        margin-left: 15px; }
      body section > div:nth-of-type(2n) article h2 {
        margin-left: 0;
        margin-right: auto; }
        body section > div:nth-of-type(2n) article h2::before {
          left: -75px; }
      body section > div:nth-of-type(2n) article ul {
        margin-left: 0;
        margin-right: auto; }
    body section > div:last-of-type div.step-line {
      visibility: hidden; }

@media (min-width: 1200px) and (max-width: 1499px) {
  body {
    padding: 40px 20px 40px 180px; }
    body section {
      width: 1000px; }
      body section > div article {
        width: 440px; }
        body section > div article h2.step-header {
          font-size: 20px;
          max-width: 275px; }
        body section > div article ul {
          max-width: 275px; } }
@media (min-width: 730px) and (max-width: 1199px) {
  body {
    padding: 100px 20px 20px 20px; }
    body h1 {
      margin-top: 20px; }
    body section {
      width: calc(100% - 20px);
      margin: 40px auto; }
      body section > div {
        margin-bottom: 20px; }
        body section > div div.step-number {
          left: auto;
          right: 0; }
        body section > div div.step-line {
          height: calc(100% + 20px);
          left: auto;
          right: 19px; }
        body section > div article {
          width: calc(100% - 70px); }
          body section > div article h2.step-header {
            font-size: 20px;
            max-width: calc(100% - 135px); }
            body section > div article h2.step-header::before {
              width: calc(100% + 65px);
              left: 0; }
          body section > div article ul {
            max-width: calc(100% - 135px); }
      body section > div:nth-of-type(2n) article {
        margin-left: 0;
        margin-right: auto; }
        body section > div:nth-of-type(2n) article div[role=img] {
          float: left;
          margin-right: 15px;
          margin-left: 0; }
        body section > div:nth-of-type(2n) article h2 {
          margin-right: 0;
          margin-left: auto; }
          body section > div:nth-of-type(2n) article h2::before {
            width: calc(100% + 65px);
            left: 0; }
        body section > div:nth-of-type(2n) article ul {
          margin-right: 0;
          margin-left: auto; } }
@media (min-width: 320px) and (max-width: 729px) {
  body {
    padding: 70px 10px 10px 10px; }
    body h1 {
      width: 100%;
      font-size: 24px;
      margin: 20px auto;
      margin-top: 10px; }
    body section {
      width: 100%;
      margin: 20px auto; }
      body section > div {
        margin-bottom: 20px; }
        body section > div div.step-number {
          left: auto;
          right: 0; }
        body section > div div.step-line {
          height: calc(100% + 20px);
          left: auto;
          right: 19px; }
        body section > div article {
          width: calc(100% - 50px); }
          body section > div article div[role=img] {
            width: 40px; }
            body section > div article div[role=img] img {
              width: 40px;
              height: 40px; }
          body section > div article h2.step-header {
            font-size: 20px;
            max-width: calc(100% - 55px);
            margin-bottom: 15px; }
            body section > div article h2.step-header::before {
              width: 100%;
              left: 0; }
          body section > div article ul {
            max-width: calc(100% - 55px);
            padding-left: 15px; }
            body section > div article ul li {
              font-size: 16px;
              line-height: 18px;
              margin-bottom: 10px; }
              body section > div article ul li::before {
                left: -20px;
                top: 1px;
                width: 15px;
                height: 15px;
                background-size: 15px 15px; }
      body section > div:nth-of-type(2n) article {
        margin-left: 0;
        margin-right: auto; }
        body section > div:nth-of-type(2n) article div[role=img] {
          float: left;
          margin-right: 15px;
          margin-left: 0; }
        body section > div:nth-of-type(2n) article h2 {
          margin-right: 0;
          margin-left: auto; }
          body section > div:nth-of-type(2n) article h2::before {
            width: 100%;
            left: 0; }
        body section > div:nth-of-type(2n) article ul {
          margin-right: 0;
          margin-left: auto; } }
header#pc {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  perspective: 2000px; }
  header#pc img {
    width: 140px;
    height: 120px;
    display: block;
    margin: 20px auto; }
  header#pc div#h-locale-selector {
    position: relative; }
    header#pc div#h-locale-selector div#h-locale-current {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current span {
        display: inline-block;
        text-align: center;
        width: 100%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current::before {
        content: " ";
        width: 20px;
        height: 40px;
        position: absolute;
        background-image: url("/images/svg/locale-arrow.svg");
        background-size: 20px 40px;
        opacity: 0;
        right: 0;
        transform: translateX(-20px);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc div#h-locale-selector div#h-locale-current:hover {
      background-color: rgba(255, 255, 255, 0.12); }
      header#pc div#h-locale-selector div#h-locale-current:hover span {
        width: 40%; }
      header#pc div#h-locale-selector div#h-locale-current:hover::before {
        transform: translateX(0px);
        opacity: 1; }
    header#pc div#h-locale-selector ul#h-locale-list {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 0;
      left: 100%;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#pc div#h-locale-selector ul#h-locale-list li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#pc div#h-locale-selector ul#h-locale-list li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#pc div#h-locale-selector ul#h-locale-list li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#pc nav {
    margin-top: 50px; }
    header#pc nav a {
      color: white;
      text-decoration: none;
      display: block;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc nav a:hover {
      background-color: rgba(255, 255, 255, 0.12); }
    header#pc nav div[role=group] {
      position: relative;
      margin-top: 40px; }
      header#pc nav div[role=group]::before {
        content: " ";
        position: absolute;
        top: -20px;
        left: 10px;
        right: 10px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5); }

@media (max-width: 1199px) {
  header#pc {
    display: none; } }
header#mobile {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  perspective: 900px; }
  header#mobile img {
    width: 115px;
    height: 40px; }
  header#mobile div#h-locale-selector-mobile {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px;
    line-height: 20px;
    cursor: pointer; }
    header#mobile div#h-locale-selector-mobile::before {
      content: " ";
      position: absolute;
      height: 40px;
      width: 20px;
      background-image: url("/images/svg/locale-arrow-mobile.svg");
      right: 0;
      top: 0; }
    header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
      z-index: 9100;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 60px;
      left: 0;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#mobile div#h-menu-mobile {
    position: absolute;
    width: 25px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-image: url("/images/svg/menu-mobile.svg");
    cursor: pointer; }
  header#mobile ul#h-menu-list-mobile {
    z-index: 9050;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    header#mobile ul#h-menu-list-mobile li {
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #2A2F5D;
      transform: rotateX(-90deg);
      text-align: center; }
      header#mobile ul#h-menu-list-mobile li a {
        color: white;
        text-decoration: none;
        display: block;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#mobile ul#h-menu-list-mobile li a:hover {
        background-color: rgba(255, 255, 255, 0.12); }
    header#mobile ul#h-menu-list-mobile li[role=separator] {
      height: 40px;
      position: relative; }
      header#mobile ul#h-menu-list-mobile li[role=separator]::before {
        content: " ";
        position: absolute;
        width: 240px;
        height: 1px;
        top: 20px;
        left: calc(50% - 120px);
        background-color: rgba(255, 255, 255, 0.5); }

@media (min-width: 1200px) {
  header#mobile {
    display: none; } }
@media (min-width: 320px) and (max-width: 729px) {
  header#mobile {
    height: 60px;
    padding: 15px; }
    header#mobile img {
      height: 30px;
      width: auto; }
    header#mobile div#h-locale-selector-mobile {
      right: 45px;
      top: 10px;
      width: 105px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
        top: 50px;
        width: 105px; }
    header#mobile div#h-menu-mobile {
      right: 10px;
      top: 10px; }
    header#mobile ul#h-menu-list-mobile {
      top: 60px; } }
