.place-search {
  margin-bottom: 45px;
}

.paper {
  background: #fff;
}

#mapPins {
  width: 100%;
  position: absolute;
  height: 410px;
  margin-top: 32px;
  z-index: -1;
}

#we-work-in {
  text-align: center;
  color: #20D320;
  font-size: 20px;
  display: none;
}

p {
  font-family: "Noto Sans";
}

body, html {
  height: 100%;
}

.pinsoverlay {
  /*margin: 100px auto;*/
}

#glass-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(16, 105, 171, .40);
  -webkit-filter: url('#blur');
  filter: url('#blur');
  -webkit-filter: blur(3px);
  filter: blur(3px);
  border-radius: 100%;
  position: relative;
  top: -20px;
  display: none;
}

#container {
  display: none;
}

#mSnow {
  display: none;
}

header#mobile {
  background-color: rgba(42, 47, 93, 0);
}

.map-wrapper {
  position: relative;
}

.div-wrapper {
  background: #fff;
  width: 300px;
}

.moove-types input {
  display: none;
}

.moove-types input:checked + label {
  background: rgba(0, 0, 0, .12);
  opacity: 1;
}

.moove-types label {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin: 5px;
  border-radius: 100%;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  opacity: .5;
}

.moove-types label svg {
  margin: 8px;
}

.moove-types {
  background: #4285f4;
  text-align: center;
}

.-m-rastoyanie, .-m-time {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  text-align: center;
  font-family: Noto Sans;
  padding: 10px 0;
  color: rgba(0, 0, 0, .54);
}

.-m-rastoyanie span, .-m-time span {
  display: block;
  color: #3a75d7;
  font-weight: bold;
}

.div-wrapper {
  font-size: 0px;
}

.-m-ways {
  margin: 5px 5px 0 5px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  overflow-y: auto;
  max-height: 235px;
}

.-m-way {
  position: relative;
  font-size: 14px;
  font-family: Noto Sans;
  line-height: 1.46em;
  position: relative;
  padding: 10px 60px 10px 30px;
  min-height: 25px;
  color: rgba(0, 0, 0, .76);
}

.-m-way:hover {
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
  color: #000;
}

.-m-way svg {
  position: absolute;
  left: 5px;
  zoom: 0.8;
  opacity: .3;
  top: 10px;
}

.-m-way svg path {
  fill: #000000;
}

.-m-way-time {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #20D320;
}

.-m-way-km {
  position: absolute;
  right: 5px;
  top: 25px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: rgba(0, 0, 0, .54);
}

.map-wrapper > div:last-of-type {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  width: 305px;
  height: 200px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  border-radius: 2px;
}

.map-wrapper > div:last-of-type > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

.map-wrapper > div:last-of-type > section {
  margin-left: 20px;
  font-size: 18px;
  position: relative;
  height: 120px;
}

.map-wrapper > div:last-of-type > section > a {
  position: absolute;
  bottom: 10px;
  width: 225px;
  left: calc(50% - 121.5px);
  text-align: center;
  color: white;
  text-decoration: none;
  height: 35px;
  padding: 5px 15px 5px 40px;
  box-sizing: border-box;
  background-color: #4967AF;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  border-radius: 17.5px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  text-transform: uppercase;
  line-height: 25px;
  font-size: 12px;
  font-family: "Raleway";
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.buttons-container * {
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes example {
  from {
    left: -600px;
  }

  to {
    left: 20px;
  }
}

@keyframes example2 {
  from {
    left: 20px;
  }

  to {
    left: -600px;
  }
}

.map-wrapper > section {
  position: absolute;
  width: 300px;
  height: calc(100% - 120px);
  background-color: #fff;
  top: 60px;
  left: -600px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
}

.map-wrapper > section.no-active {
  animation-name: example2;
  animation-duration: 750ms;
}

.map-wrapper > section.active {
  left: 20px;
  animation-name: example;
  animation-duration: 750ms;
}

.map-wrapper > div:last-of-type > section > a::before {
  content: " ";
  background-image: url("/images/svg/arrow-forward.svg");
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 12.5px;
}

.map-wrapper > div:last-of-type > section > a:hover {
  box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px;
}

.map-wrapper > div:last-of-type > section > img {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  transform: translateY(13%);
}

.map-wrapper > div:last-of-type > section > div {
  display: inline-block;
  vertical-align: top;
}

ul.direction-menu > li > a {
  color: #000;
  cursor: pointer;
}

#map {
  width: 100%;
  height: 480px;
  transition: none;
}

#map * {
  transition: none;
}

.map-title {
  margin-top: 40px;
  margin-bottom: 45px;
}

.text-block {
  text-align: center;
  margin-bottom: 80px;
}

.text-block > p {
  text-align: left;
  font-family: "Noto Sans";
  width: 800px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.86);
}

.text-block > h1 {
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 45px;
}

@media (max-width: 840px) {
  .text-block > p {
    width: calc(100% - 20px);
  }
}

h1#main-title {
  color: #fff !important;
  font-weight: 500;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header#pc nav div[role=group] {
  position: relative;
  margin-top: 40px; }
  header#pc nav div[role=group]::before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); }

body {
  margin: 0;
  padding: 0 0 0 160px;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 1);
  font-family: "Noto Sans";
  font-size: 16px; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Raleway";
    font-weight: 300;
    margin: 0;
    padding: 0; }
  body p {
    margin: 0; }
  body section[role=main] {
    width: 100%;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    background-position: center;
    height: 100%;
    position: relative;
    color: white; }
    body section[role=main] div[role=heading] {
      z-index: 1;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center; }
      body section[role=main] div[role=heading] img {
        display: block;
        margin: 0 auto;
        width: 420px;
        height: auto; }
      body section[role=main] div[role=heading] h1 {
        font-size: 32px;
        line-height: 30px;
        margin: 30px auto 40px auto;
      }
      body section[role=main] div[role=heading] div[role=group] {
        display: inline-block;
        width: 240px;
        vertical-align: top;
        margin: 0 40px; }
        body section[role=main] div[role=heading] div[role=group] p {
          font-size: 18px;
          line-height: 15px;
          margin-bottom: 10px; }
        body section[role=main] div[role=heading] div[role=group] a[role=button] {
          white-space: nowrap;
          color: white;
          text-decoration: none;
          position: relative;
          display: inline-block;
          height: 40px;
          padding: 0 20px 0 40px;
          box-sizing: border-box;
          background-color: #4967af;
          box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
          border-radius: 20px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
          text-transform: uppercase;
          line-height: 40px;
          font-size: 14px;
          text-align: center;
          width: 100%;
          cursor: pointer;
          font-family: "Raleway";
          font-weight: 500; }
          body section[role=main] div[role=heading] div[role=group] a[role=button]::before {
            content: " ";
            background-image: url("/images/svg/location.svg");
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            top: 12.5px;
            left: 12.5px; }
          body section[role=main] div[role=heading] div[role=group] a[role=button]:hover {
            box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
      body section[role=main] div[role=heading] div[role=group]:last-of-type a[role=button] {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        height: 40px;
        padding: 0 20px 0 40px;
        box-sizing: border-box;
        background-color: #4967af;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
        border-radius: 20px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        text-transform: uppercase;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        width: 100%;
        cursor: pointer;
        font-family: "Raleway";
        font-weight: 500; }
        body section[role=main] div[role=heading] div[role=group]:last-of-type a[role=button]::before {
          content: " ";
          background-image: url("/images/svg/phone.svg");
          position: absolute;
          display: block;
          width: 15px;
          height: 15px;
          top: 12.5px;
          left: 12.5px; }
        body section[role=main] div[role=heading] div[role=group]:last-of-type a[role=button]:hover {
          box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
      body section[role=main] div[role=heading] p[role=alert] {
        display: none;
        width: calc(100% - 30px);
        max-width: 560px;
        margin: 40px auto 0 auto;
        background-color: rgba(255, 23, 73, 0.6);
        padding: 20px;
        box-sizing: border-box;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
        body section[role=main] div[role=heading] p[role=alert] a {
          color: white;
          text-decoration: none; }
    body section[role=main] div[role=navigation] {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      text-align: center;
      z-index: 1; }
      body section[role=main] div[role=navigation] a[role=button] {
        margin-top: 10px; }
      body section[role=main] div[role=navigation] a[role=button]:first-of-type {
        width: 282.72px;
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        height: 40px;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
        background-color: #19ab19;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
        border-radius: 20px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        text-transform: uppercase;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        /*width: auto;*/
        cursor: pointer;
        font-family: "Raleway";
        font-weight: 500; }
        body section[role=main] div[role=navigation] a[role=button]:first-of-type:hover {
          box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
      body section[role=main] div[role=navigation] a[role=button]:last-of-type {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        height: 40px;
        padding: 0 20px 0 40px;
        box-sizing: border-box;
        background-color: #19ab19;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
        border-radius: 20px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        text-transform: uppercase;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        width: auto;
        cursor: pointer;
        font-family: "Raleway";
        font-weight: 500; }
        body section[role=main] div[role=navigation] a[role=button]:last-of-type::before {
          content: " ";
          background-image: url("/images/svg/arrow-forward.svg");
          position: absolute;
          display: block;
          width: 15px;
          height: 15px;
          top: 12.5px;
          left: 12.5px;
          transform: rotate(90deg);
        }
        body section[role=main] div[role=navigation] a[role=button]:last-of-type:hover {
          box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
    body section[role=main] div[role=marquee] {
      position: absolute;
      top: 20px;
      right: 20px;
      display: none;
      z-index: 1; }
      body section[role=main] div[role=marquee] img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        vertical-align: top; }
      body section[role=main] div[role=marquee] div {
        display: inline-block;
        vertical-align: top; }
        body section[role=main] div[role=marquee] div p {
          margin-bottom: 10px; }
        body section[role=main] div[role=marquee] div p#city {
          width: 100px;
          line-height: 20px;
          font-size: 24px;
          text-align: right; }
        body section[role=main] div[role=marquee] div p#temperature {
          width: 100px;
          font-size: 60px;
          height: 45px;
          line-height: 36px; }
          body section[role=main] div[role=marquee] div p#temperature sup {
            color: rgba(255, 255, 255, 0.7);
            font-size: 30px;
            line-height: 0px; }
        body section[role=main] div[role=marquee] div p#weather-status {
          margin-bottom: 0;
          line-height: 15px;
          color: rgba(255, 255, 255, 1);
          text-align: left; }

@media (min-width: 1200px) and (max-width: 2000px) {
  body section[role=main] div[role=heading] {
    zoom: 0.90;
  }

  body section[role=main] div[role=heading] img {
    width: 300px;
    height: auto; }
  body section[role=main] div[role=heading] h1 {
    font-size: 24px;
    line-height: 20px;
    margin: 20px auto 40px auto; } }
@media (min-width: 730px) and (max-width: 1199px) {
  #centerCircle {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px !important;
  }

  #canvasWrapper2 {
    display: none !important;
  }

  body section[role=main] div[role=marquee] {
    display: none;
  }

  .text-block > p {
    font-size: 16px;
  }

  .text-block > p {
    width: calc(100% - 60px);
  }

  body {
    padding: 0; }
    body section[role=main] div[role=heading] img {
      width: 300px;
      height: auto; }
    body section[role=main] div[role=heading] h1 {
      font-size: 24px;
      line-height: 20px;
      margin: 20px auto 40px auto; } }
@media (min-width: 320px) and (max-width: 729px) {
  body section[role=main] div[role=heading] h1 {
    font-weight: 500;
  }

  .map-title {
    display: none;
  }

  .map-wrapper {
    display: none;
  }

  .text-block > h1 {
    margin-top: 40px;
  }

  #watch-map {
    display: none;
  }

  body {
    padding: 0; }
    body section[role=main] div[role=heading] img {
      width: 50%;
      height: auto; }
    body section[role=main] div[role=heading] h1 {
      font-size: 24px;
      line-height: 24px;
      margin: 20px auto; }
    body section[role=main] div[role=heading] div[role=group] {
      display: block;
      margin: 0 auto;
      margin-top: 20px; }
    body section[role=main] div[role=heading] div[role=group]:last-of-type a[role=button] {
      color: white;
      text-decoration: none;
      position: relative;
      display: inline-block;
      height: 40px;
      padding: 0 20px 0 40px;
      box-sizing: border-box;
      background-color: #20d320;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      border-radius: 20px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      text-transform: uppercase;
      line-height: 40px;
      font-size: 14px;
      text-align: center;
      width: 100%;
      cursor: pointer;
      font-family: "Raleway";
      font-weight: 500; }
      body section[role=main] div[role=heading] div[role=group]:last-of-type a[role=button]::before {
        content: " ";
        background-image: url("/images/svg/phone.svg");
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        top: 12.5px;
        left: 12.5px; }
      body section[role=main] div[role=heading] div[role=group]:last-of-type a[role=button]:hover {
        box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
    body section[role=main] div[role=navigation] {
      display: none; }
    body section[role=main] div[role=marquee] {
      display: none; } }

/*# sourceMappingURL=style.css.map */

@media (min-width: 1400px) {
  #centerCircle {
    zoom: 0.90;
  }
}

@media (max-width: 1400px) and (min-width: 1200px) {
  #centerCircle {
    zoom: 0.90;
  }
}

#centerCircle {
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(16, 105, 171, .51);
}

#canvasWrapper2 canvas {
  position: static!important;
  margin: 350px 0 0 0;
}

#canvasWrapper2 {
  position: absolute;
  right: -300px;
  top: -350px;
  width: 600px;
  height: 600px;
  overflow: hidden;
  border-radius: 100%;
  overflow: hidden;
}

#canvasWrapper2 span {
  position: relative!important;
  transform: scale(0.5);
}

.movingBackImg {
  position: relative;
  width: 140%;
  height: 140%;
  left: -20%;
  top: -20%;
  background-size: cover;
  background-position: center;
}

@media (min-width: 1200px) {
  .movingBackImg {
    position: relative;
    width: 112%;
    height: 112%;
    left: -6%;
    top: -6%;
  }
}

.movingBackImg > img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  left: 0;
  top: 0;
}

#movingBack li {
  width: 100%;
  height: 100%;
}

#movingBack {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #123;
  overflow: hidden;
}

.-m-blured {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.-rain-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .0;
  mix-blend-mode: color-burn;
}

@media (min-width: 2000px) {
  #down {
    transform: scale(1.1);
  }
}

@media (max-width: 2000px) {
  #centerCircle {
    width: 700px;
    height: 700px;
  }
}

@media (max-width: 729px) {
  #centerCircle {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  #canvasWrapper2 {
    display: none;
  }
}
