.testdrive-form__line__section {
    width: calc(50% - 10px);
    word-spacing: normal;
    vertical-align: top;
    display: inline-block;
    margin: 5px 0;
}

@media (max-width: 729px) {
    .testdrive-form__line__section {
        width: 100%;
    }
}

.testdrive-form__line {
    word-spacing: 20px;
}

.testdrive-form {
    padding: 20px;
}

.testdrive-form__title {
    font-family: Raleway;
    font-size: 24px;
    color: rgba(0, 0, 0, .72);
    margin: 0 0 10px 0;
}

.table-wrapper-mobile-scroll {
    overflow-x: auto;
}

.table-wrapper-mobile-scroll table {
    min-width: 600px;
    width: 100%;
}

.telephone-database__table-res__header td {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    padding: 10px;
    white-space: nowrap;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.telephone-database__table-res__data td {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .54)
}

.telephone-database__table-res__data td:first-of-type {
    color: #4967AF;
}

.telephone-database__table-res__data:last-of-type td {
    border: none!important;
}
.telephone-database {
    padding: 20px;
}

.testdrive-btn {
    margin: 20px 0 0 0;
    width: 100%;
    max-width: 260px;
}

@media (max-width: 729px) {
   .testdrive-btn {
        width: 100%;
       max-width: 100%;
    }
}


.telephone-databese__filter__cell {
    display: inline-block;
    vertical-align: top;
    width: calc(33.3% - 10px);
    word-spacing: normal;
    margin: 5px 0;
}

@media (max-width: 729px) {
    .telephone-databese__filter__cell {
        width: 100%;
    }
}

.telephone-database__filter {
    word-spacing: 10px;
}

.telephone-database-btn {
    margin: 20px 0;
    width: 240px;
}

@media (max-width: 729px) {
 .telephone-database-btn {
    width: 100%;
}
}

.testdrive__map {
    border-radius: 2px 2px 0 0;
    height: 300px;
    width: 100%;
    background: url("");
}

.testdrive__chose-avto__acto__img {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
}

.testdrive__chose-avto__avto {
    width: 240px;
    display: inline-block;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.testdrive__chose-avto__avto:hover {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.testdrive__chose-avto__avto__brand {
    font-family: Raleway;
    font-size: 20px;
    color: rgba(0, 0, 0, .72);
    padding: 5px 10px 0 10px;
    text-align: left;
}

.testdrive__chose-avto__avto__model {
    font-family: Noto Sans;
    font-size: 18px;
    color: rgba(0, 0, 0, .54);
    padding: 5px 10px;
    text-align: left;
}

.testdrive__chose-avto {
    white-space: nowrap;
    overflow-x: auto;
    margin: 20px 0 0 0;
}

.testdrive__chose-avto__avto_active {
    border-color: #4967af;
}

.db {
	display: block !important;
}

.discount-header > h1 {
	color: #fff !important;
}

.melnik-google * {
	font-family: Arial !important;
}

img {
	-webkit-user-select: none;
}

.color-pink {
	color: #069a06!important;
}

.mbily-only {
	display: none;
}

.m-ta-center {
	text-align: center
}

.m-usluga-example-wrapper {
	display: block;
	box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
	padding: 20px;
	text-align: center
}

.m-usluga-example-wrapper>.exmpl-item {
	width: 380px;
}

.exmpl-name {
	color: #757575;
	font-size: 13px;
	padding: 0 0 0 10px;
	line-height: 25px;
	text-align: left;
}

.exmpl-item {
	width: calc(50%);
	display: inline-block;
	margin: 0 0 0 0;
	font-size: 0px;
	padding: 5px 0;
}

.exmpl-item input {
	width: calc(100% - 10px);
	height: 35px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .54);
}

.exmpl-item input:focus {
	color: #000;
	border: 1px solid #000;
}

.exmpl-item input {
	padding: 0 0 0 10px;
	color: #757575;
	font-size: 15px;
}

.exmpl-item-price {
	text-align: center
}

.exmpl-item-price .exmpl-name {
	padding: 0px;
	text-align: center;
}

.exmpl-item-price .exmpl-body {
	color: #4967af;
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
}

.exmpl-body	.custom-input-calendar {
	width: calc(100% - 10px);
}

.concert-input-pep {
	width: calc(100% - 40px) !important;
}

.exmpl-item-full-line {
	padding: 20px 0 0 0;
}

.m-blue-btn {
	outline: none;
	border: none;
	background: #4967af;
	text-transform: uppercase;
	color: #fff;
	height: 40px;
	line-height: 36px;
	margin: 0 auto;
	width: 240px;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
	transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);

}

.m-blue-btn:hover {
	box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px;
}

.msg {
	width: 90%;
	margin: 0 5%;
}

.msg .outhor {
	font-size: 17px;
	text-align: left;
	color: #757575;
	width: 80%;
	margin: 0 10%;
	position: relative;
	font-weight: 200;
}

.msg-left .outhor img {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: #fff;
	position: absolute;
	border: none!important;
	z-index: 999;
	left: -75px;
	top: 32px;
}

.msg-right .outhor img {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: #000;
	position: absolute;
	border: none!important;
	z-index: 999;
	left: calc(100% + 15px);
	top: 32px;
}

.msg-content {
	text-align: left;
	padding: 10px;
	width: 80%;
	margin: 10px 10%;
	background: #f8f8f8;
	font-size: 13px;
	border-radius: 2px;
	line-height: 1.46em;
	position: relative;
	box-sizing: border-box;
}

.msg-left .msg-content:after {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	border-right: solid 10px #f8f8f8;
	border-top: solid 10px rgba(0, 0, 0, 0);
	border-bottom: solid 10px rgba(0, 0, 0, 0);
	left: -10px;
	top: 15px;
}

.msg-right .outhor {
	color: #4967af;
}

.msg-right .msg-content {
	background: #d7e4ff
}

.msg-right .msg-content:after {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: solid 10px #d7e4ff;
	border-top: solid 10px rgba(0, 0, 0, 0);
	border-bottom: solid 10px rgba(0, 0, 0, 0);
	left: 100%;
	top: 15px;
}

.m-preimushestva-wrap {
	text-align: left;
}

.img-preimushestva {
	width: 240px;
	height: 160px;
	margin: 0 20px 0 0;
}

.m-preimushestva {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 260px);
	position: relative;
}

.m-preimushestva h1 {
	margin: 0!important;
	font-size: 17px;
	font-weight: 300;
	color: #757575;
	margin: 0 0 10px 0!important;
}

.m-preimushestva ul {
	font-size: 13px;
	padding: 0!important;
	margin: 10px 0 0 0!important;
}

.m-preimushestva span {
	font-size: 13px;
}
.m-preimushestva .bottom-info {
	margin: 24px 0 0 0;
}
.m-preimushestva button {
	height: 30px;
	line-height: 26px;
	width: 160px;
	float: right;
}

.m-bottom-icon {
	width: 30px;
	height: 30px;
	margin: 0 10px 0 0;
}

.m-price {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 22px;
	font-weight: 600;
	color: #4967af;
}

.adaptation-img {

}

.adaptation-img {
	display: inline-block;
	font-size: 15px;
	color: #757575;
	text-align: center;
	margin: 0 50px
}

.adaptation-img img {
	height: 160px;
}

.browser-img .adaptation-img {
	margin: 0 20px;
	font-size: 12px;
}

.browser-img .adaptation-img  img {
	height: 140px;
}

.top-filter-wrapper {
	font-size: 14px;
}

.top-filter {
	text-align: center;
	color: #757575;
	line-height: 2em;
	margin: 0 0 15px 0;
}

.top-filter input {
	display: none;
}

.top-filter input:checked+label {
	color: #4967af;
	border-color: #4967af;
}

.top-filter-wrapper i {
	position: relative;
	display: inline-block;
	font-style: normal;
	width: 26px;
	color: #4967af;
}

.top-filter-wrapper span {
	opcaity: .6;
}

.top-filter-wrapper label {
	font-weight: bold;
	display: inline-block;
	padding: 0 2px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	margin: 0 7px;
}

.top-filter-wrapper i .value {
	display: inline-block;
	font-weight: bold;
}

.top-filter-wrapper .down-colvo, .top-filter-wrapper .up-colvo {
	position: absolute;
	left: calc(50% - 12px);
	height: 26px;
	width: 26px;
	cursor: pointer;
}

.up-colvo {
	top: -12px;
}

.down-colvo {
	top: 12px;
}

.down-colvo img, .up-colvo img {
	width: 10px;
	height: 10px;
}

.down-colvo img {
	transform: rotate(180deg);
}

.nomer-types {
	text-align: center
}

.nomer-type {
	width: 210px;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
	margin: 0 10px;
	position: relative;
	opacity: .7
}

.nomer-type-lux {
	opacity: 1!important;
}

.wrapper-to-center-align-2 {
	height: 200px;
	line-height: 200px;
}


.wrapper-to-center-align-2>ul {
	line-height: 1.46em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translatex(-50%) translatey(-50%);
	white-space: nowrap;
	margin: 0!important;
}

.nomer-type h1 {
	font-weight: 400;
	color: #000;
	font-size: 18px;
	margin: 0px 0 15px 0;
}

.nomer-type .price {
	font-size: 22px;
	color: #4967af;
	font-weight: 500
}

.nomer-type ul {
	text-align: left;
}

.nomer-type button {
	width: calc(100% - 20px);
	height: 30px;
	line-height: 26px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.roow-img-wrapper {
	width: 500px;
	height: 250px;
	overflow: hidden;
	display: inline-block;
	margin: 0 15px 0 0;
}

.roow-img-wrapper img {
	width: 100%;
}

.room-info-x {
	display: inline-block;
	vertical-align: top;
	width: 245px;
	text-align: left;
}

.room-info-x h1 {
	font-size: 18px;
	font-weight: 400;
	color: #757575;
	margin: 0 0 20px 0;

}

.room-parameter .name {
	font-size: 12px;
	color: #757575;
}


.room-parameter .value-o {
	font-size: 24px;
	font-weight: 600;
	color: rgba(0, 0, 0, .33);
	position: relative;
}


.room-parameter .value-o:after {
	content: '';
	display: block;
	height: 1px;
	width: 50px;
	left: -5px;
	top: 50%;
	position: absolute;
	width: 70px;
	transform: rotate(350deg);
	background: red;
}

.time-block {
	display: inline-block;
	vertical-align: top;
	padding: 0 2px;
}

.time-to-end {
	font-size: 28px;
	color: #4967af;
}

.time-block .value {
	font-size: 28px;
	font-weight: 600;
	color: #4967af;
}

.time-block .name {
	text-align: center;
}

.room-parameter .value-n {
	font-size: 28px;
	color: #ff1749;
	font-weight: 600;
}

.room-info-x button {
	width: 100%;
	height: 30px;
	line-height: 26px;
	margin: 22px 0 0 0;
}

.melnik-google {
	box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
}

.google-top-line {
	height: 60px;
	background: #f1f1f1;
	text-align: left;
}

.g-logo {
	display: inline-block;
}

.g-logo img {
	height: 43px;
	margin: 10px 0 0 15px;
}

.search-line {
	display: inline-block;
	vertical-align: top;
	height: 38px;
	background: #fff;
	border: 1px solid #d9d9d9;
	color: #545454;
	line-height: 38px;
	padding: 0 0 0 10px!important;
	margin: 11px 0 0 20px;
	width: calc(100% - 170px);
	border-radius: 2px;
	overflow: hidden;
	font-size: 16px;
	font-family:  arial, sans-serif;
	font-weight: normal;
}

.search-line button {
	float: right;
	width: 38px;
	height: 38px;
	border: none;
	outline: none;
	background: #4285f4;
	cursor: pointer;
}

.res {
	font-size: 16px;
	text-align: left;
	padding: 0 0 10px 138px!important;
}

.res-col {
	color: #222;
	font-size: 13px;
	height: 43px;
	line-height: 43px;
	font-family: Arial, sans-serif;
}

.res-name {
	color: #1a0dab;
	font-weight: 600;
	font-size: 19px;
}
.res-link {
	color: #006621;
	font-weight: 600;
	font-size: 14px;
}

.res-deskp {
	font-size: 14px;
	color: #444;
	font-family: Arial, sans-serif;
}

.res-block {
	margin: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 1199px) {
	.adaptation-img {
		margin: 0 15px !important;
	}

	.m-preimushestva button {
		width: 120px;
	}

	.browser-img .adaptation-img  img {
		height: 100px
	}

	.nomer-type {
		width: 160px;
		margin: 0 2px;
	}

	.slider-big {
		height: 310px!important;
	}
}

@media (min-width: 320px) and (max-width: 729px) {

	.slider-big {
		height: 170px!important;
	}

	.m-usluga-example-wrapper>.exmpl-item {
		width: 90%;
		margin: 0 5%;
	}

	.browser-img .adaptation-img  img {
		height: 100px;
		margin: 5px 15px;
	}

	.m-preimushestva {
		display: block;
		width: 260px;
		margin: 0 auto;
		text-align: left;
	}

	.m-preimushestva {
		padding: 5px 0 0 0;
	}

	.m-preimushestva-wrap {

		text-align: center
	}

	.m-preimushestva-wrap>img {
		margin: 0 auto;
		width: 260px;
		height: auto;
	}

	.m-preimushestva button {
		display: block;
		float: none;
		width: 100%;
		margin: 20px 0 0 0;
		height: 40px;
		line-height: 40px;
	}

	.msg {
		width: 300px;
		margin: 0 auto;
	}

	.msg .outhor img {
		width: 20px;
		height: 20px;
		top: 0;
	}

	.msg .outhor {
		width: 100%;
		padding: 0 25px;
		box-sizing: border-box;
		margin: 15px 0;
	}

	.msg-left.msg .outhor img{
		left: 0;
		top: 2px;
	}

	.msg-right.msg .outhor img{
		right: 0;
		left: auto;
		top: 2px;
	}

	.msg-right.msg .outhor {
		text-align: right
	}

	.msg-right .msg-content:after {
		content: '';
		position: absolute;
		width: 0px;
		height: 0px;
		border-bottom: solid 10px #d7e4ff;
		border-left: solid 10px rgba(0, 0, 0, 0);
		border-right: solid 10px rgba(0, 0, 0, 0);
		right: 0;
		left: auto;
		top: -15px;
	}

	.msg-left .msg-content:after {
		content: '';
		position: absolute;
		width: 0px;
		height: 0px;
		border-bottom: solid 10px #f8f8f8;
		border-left: solid 10px rgba(0, 0, 0, 0);
		border-right: solid 10px rgba(0, 0, 0, 0);
		right: auto;
		left: 0;
		top: -15px;
	}

	.msg-content {
		width: 100%;
		margin: 0;
	}

	.roow-img-wrapper {
		width: 260px;
		display: block;
		margin: 0 auto;
		height: 160px;
		width: 100%;
	}

	.nomer-type {
		width: 240px;
		margin: 10px auto;
		display: block;
	}

	.room-info-x {
		width: 100%;
	}

	.room-info-x button {
		height: 40px;
		line-height: 40px;
	}

	.room-info-x h1 {
		margin: 10px 0 10px 0;
	}
	.mbily-only {
		display: inline-block;
	}

	.google-top-line {
		height: auto;
		width: 100%;
		padding: 0!important;
	}

	.g-logo {
		width: 100%;
		margin: 0;
		text-align: center;
		padding: 0!important;
	}

	.g-logo img {
		margin: 0!important;
	}

	.search-line {
		display: block;
		width: 90%;
		margin: 0 auto;
		background: #fff!important;
	}

	.res {
		padding: 0px!important;
		text-align: center;
	}

	.res-block, .res-block>div {
		text-align: left;
		background: #fff!important
	}

	.res-block>div {
		padding: 2px 0!important;
	}

	.res-block {
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}

	.res-block .res-link {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding: 0 0 15px 0!important;
		margin: 0 0 10px 0;
	}
}


/*Slider 228 Pro v1.488 build 1337*/

.slider-big {
	width: 100%;
	overflow: hidden;
	height: 425px;
	position: relative;
}

.slider-big .img_wrapper_200_plus_88 img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.small-img {
	white-space: nowrap;
	overflow: auto
}

.small-img>img {
	height: 60px;
	margin: 5px;
	cursor: pointer;
}

.prev, .next {
	position: absolute;
	width: 50%;
	height: 100%;
	cursor: pointer;
	color: #fff;
	font-size: 44px;
	text-align: left;
	opacity: .5;
	padding: 20px;
	box-sizing: border-box;
	transition: all 300ms ease;
}

.prev:hover, .next:hover {
	transform: scale(1.1);
	opacity: .7
}

.prev b, .next b {
	position: relative;
	top: calc(50% - 30px);
	-webkit-user-select: none;
	-moz-user-select: none;
}

.next {
	left: 50%;
	text-align: right;
}

.wrapper-for-scroll {
	height: 80px;
	overflow: hidden;
	position: relative;
}

.wrapper-for-scroll>div.slider {
	height: 100px;
}

.custom-scroll {
	width: 30px;
	height: 10px;
	border-radius: 10px;
	background: #4967af;
	position: absolute;
	bottom: 0px;
	cursor: pointer;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

}

.rotate-180 {
	transform: rotate(180deg)
}

.prev img, .next img {
	height: 40px;
}

img[data-active="true"] {
	transform: scale(0.8)
}


img[data-active="true"], img[data-active="false"] {
	transition: all 30ms ease;
}
* {
	font-family: "Noto Sans";
}

.custom-input-calendar {
	-webkit-user-select: none;
}

.calendar-days-wrapper {
	width: 224px;
}

.calendar-day-cell {
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 2px;
	display: inline-block;
	margin: 2px;
	background: #F8F8F8;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	color: rgba(0, 0, 0, .54);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.calendar-day-cell:hover {
	box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
	color: rgba(0, 0, 0, 1);
}

.custom-calendar-day-active {
	background: #4967AF!important;
	color: #fff!important;
}

.calendar-day-cell-st {
	background: #E9ECF5;
	color: rgba(0, 0, 255, .54);
}

.calendar-day-cell-st:hover {
	color: rgba(0, 0, 255, 1);
}

.calendar-day-cell-sn {
	background: #FFE3E3;
	color: rgba(255, 0, 0, .54);
}

.calendar-day-cell-sn:hover {
	color: rgba(255, 0, 0, 1);
}

.custom-calendar-nav-btn, .custom-calendar-nav-month {
	display: inline-block;
	width: 20px;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
	height: 35px!important;
	overflow: hidden;
	line-height: 35px;
	border-bottom: 1px solid rgba(0, 0, 0, .12);
	font-family: "Noto Sans";
	color: rgba(0, 0, 0, .54);
	font-weight: normal;
	padding: 0 0 10px 0;
}

.custom-calendar-nav-btn {
	font-weight: bold;
	color: #4967AF;
}

.custom-calendar-nav-btn img {
	vertical-align: middle;
	height: 20px;
}

.custom-calendar-nav-month {
	width: 184px;
}

.custom-input-calendar {
	position: relative;
	display: inline-block;
	font-size: 0px;
	vertical-align: top;
}

.custom-input-calendar .value, .custom-time .value {
	height: 35px;
	line-height: 35px;
	border: 1px solid rgba(0, 0, 0, .54);
	font-size: 16px;
	padding: 0 10px;
	/*min-width: 218px;*/
	cursor: pointer;
	text-align: left;
	color: rgba(0, 0, 0, .54);
}

.calendar-block {
	display: none;
	position: absolute;
	text-align: center;
	padding: 10px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
	z-index: 90;
}

.calendar-days-wrapper {
	text-align: left;
}

.calendar-block button {
	border: none;
	outline: none;
	border-radius: 3px;
	height: 30px;
	line-height: 26px;
	background: #123;
	margin: 0 auto;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	display: none;
}

@keyframes showCalendar {
	0% {
		opacity: 0;
		top: 35px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

.calendar-block[dataVisible='true'] {
	display: block;
	animation-name: showCalendar;
    animation-duration: 400ms;
	top: 0;
}

.calendar-week-days {
	font-size: 14px;
}

.calendar-week-day {
	text-transform: lowercase;
	display: inline-block;
	width: 28px;
	margin: 0 2px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: rgba(0, 0, 0, .54);
}

.calendar-hide {
	opacity: 0!important;
	cursor: default;
}

.value img {
	height: 35px;
	position: absolute;
	right: 0;
}

.date-picker-wrap-2 {
	display: inline-block;
	width: 240px;
	vertical-align: top;
}

.date-picker-wrap-2 > .value {
	color: #757575;
    font-size: 13px;
    padding: 0 0 0 10px;
    line-height: 25px;
    text-align: left;
}

.date-picker-wrap {
	margin: 0 0 10px 0;
}

.date-picker-wrap-2 {
	margin: 0 5px;
}

.date-picker-wrap-2 .custom-input-calendar {
	width: 240px;
}

.m-ex-event {
	display: inline-block;
	width: 240px;
	height: 240px;
	margin: 10px 5px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
}

.m-ex-event-img {
	width: 240px;
	height: 160px;
	background: url("/images/img/party.jpg");
	background-size: cover;
}

.m-ex-event-name {
	font-size: 20px;
	text-align: left;
	margin: 15px 0 0 0;
	padding: 0 0 0 10px;
}

.m-ex-event-date {
	color: rgba(0, 0, 0, .54);
	font-size: 14px;
	padding: 0 0 0 10px;
	margin: 10px 0 0 0;
	text-align: left;
}

.exmpl-body div#input-number {
	width: calc(100% - 10px);
}

div#input-number+img {
	width: 35px;
	vertical-align: top;
}

div#input-number {
	display: inline-block;
  position: relative;
  width: 205px;

  vertical-align: top;
}
  div#input-number span.arrow {
    width: 35px;
    height: 17.5px;
    position: absolute;
    display: block;
    right: 0;
    cursor: pointer;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    div#input-number span.arrow:hover {
      background-color: rgba(0, 0, 0, 0.03); }
  div#input-number span.arrow-up {
    background-image: url(../img/arrow-up.svg);
    top: 0; }
  div#input-number span.arrow-down {
    background-image: url(../img/arrow-down.svg);
    bottom: 0; }
  div#input-number input[type=number] {
    width: 100%;
    height: 35px;
    font-family: "Noto Sans";
    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.54);
    color: rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    padding: 0 10px;
    outline: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    div#input-number input[type=number]:focus {
      border: 1px solid #2979FF; }

.objects-wrapper {
	text-align: center;
}

.m-object {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	width: 320px;
	background: #fff;
	font-family: "Noto Sans";
	padding: 0 0 10px 0;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.img-for-object {
	width: 100%;
	height: 200px;
	background: url("/images/img/office.jpg");
	background-size: cover;
	text-align: right;
}

.obj-label {
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	font-size: 12px;
	background: #FF004F;
	display: inline-block;
	color: #fff;
	margin: 5px 5px 0 5px;
	position: relative;
}

.obj-label:before {
	content: '';
	display: block;
	width: 0px;
	height: 0px;
	border-top: 12px solid rgba(0, 0, 0, 0);
	border-bottom: 12px solid rgba(0, 0, 0, 0);
	border-right: 12px solid #FF004F;
	position: absolute;
	right: 100%;
}

.obj-label.blue-label {
	background: #3271CC;
}

.obj-label.blue-label:before {
	border-right: 8px solid #3271CC;
}

.object-param {
	display: inline-block;
	width: 33.3%;
}

.object-param .name {
	font-size: 12px;
	color: rgba(0, 0, 0, .54);
	margin: 10px 0 0 0;
}

.object-param .value {
	color: #009688;
	font-size: 20px;
	line-height: 20px;
	margin: 10px 0 0 0;
}

.object-param .value sup {
	line-height: 0px;
}

.object-price-wrap {
	display: table;
	height: 85px;
	text-align: center;
	width: 100%;
}

.object-price {
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
	text-align: center;
	font-weight: 500;
	color: #2979FF;
}

.m-object button {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 2px;
	background: #009688;
	width: calc(100% - 20px);
	margin: 0 10px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	text-transform: uppercase;
	transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.m-object button:hover {
	box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px;
}
/*
@media screen and (max-width: 735px) {
	.object-param {
		width: 100%;
	}
}*/


.m-usluga-ex {
	border-radius: 2px;
	box-sizing: border-box;
	max-width: 360px;
	width: 100%;
	padding: 15px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	margin: 5px;
	display: inline-block;
}

.m-usluga-ex-image-wrapper {
	display: inline-block;
	width: 50px;
	padding: 0 5px 0 0;
}

.m-usluga-ex-image-wrapper img {
	height: 50px;
}

.m-usluga-ex-text-wrapper {
	display: inline-block;
	vertical-align: top;
	width: calc(100%  - 55px);
	text-align: left;
	font-size: 18px;
	font-family: Raleway;
	line-height: 50px;
	color: #009688;
}

.m-usluga-ex-text-wrapper div {
	display: inline-block;
	font-size: 18px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
}

.m-usluga-ex-content {
	max-height: 110px;
	overflow: hidden;
	margin: 10px 0 0 0;
}

.m-usluga-ex-content p {
	font-size: 14px;
	text-align: left;
	text-overflow: ellipsis;
	line-height: 1.46em;
}


/*asdasd*/

.m-send-ex-wrapper {
	display: inline-block;
	vertical-align: top;
}

.m-send-ex-wrapper>div {
	display: inline-block;
	vertical-align: top;
}

.m-send-ex {
	width: 200px;
	padding: 10px;
	height: 75px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.m-send-ex input {
	height: 25px;
	line-height: 25px;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, .18);
	width: 100%;
	padding: 0 0 0 5px;
	box-sizing: border-box;
	font-size: 13px;
}

.m-send-ex button {
	font-size: 13px;
	margin: 20px 0 0 0;
	border: none;
	outline: none;
	width: 100%;
	height: 30px;
	line-height: 26px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	color: #fff;
	text-transform: uppercase;
	background: #20D320;
	cursor: pointer;
	transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1)
}

.m-send-ex button:hover {
	box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px;
}

.m-send-ex-arrow {
	width: 220px;
	line-height: 95px;
	height: 95px;
}

.m-send-ex-arrow img {
	width: 100px;
	vertical-align: middle;
}

.m-send-ex-mail {
	width: 200px;
	padding: 10px;
	height: 75px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	line-height: 75px;
}

.m-send-ex-mail img{
	height: 75px;
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 100%
	}
}

.m-send-ex-wrapper.validatin-true .m-send-ex-arrow {
	animation-name: fadeIn;
	animation-
}

@media screen and (max-width: 1200px) {

	.m-send-ex-wrapper>div {
		display: block;
		margin: 0 auto
	}

	.m-send-ex-arrow {
		width: 220px;
		line-height: 95px;
		height: 95px;
	}

	.m-send-ex-arrow img {
		width: 50px;
		vertical-align: middle;
		transform: rotate(90deg)
	}

	.brone-picker .date-picker-wrap-2 {
		display: block;
		margin: 10px auto;
	}
}

@media screen and (max-width: 719px) {
	.adaptation-img {
		display: block;
		text-align: center;
		padding: 10px 0;
	}
}

.custom-time-chose {
	z-index: 999;
}

.bg_blue {
    background: #4967AF;
}

body {
    margin: 0;
}

.color_w {
    color: #fff;
}

.bank-calculator__calculator-header {
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-align: left;
    padding: 0 15px;
}
.bank-calculator__dropdown {
    display: inline-block;
    word-spacing: normal;
    margin: 15px 0;
    font-size: 0px;
}

.bank-calculator__calculator-body__params {
    font-size: 0px;
    text-align: left;
    word-spacing: 60px;
    padding: 0 20px;
}

.bank-calculator__dropdown__title {
    height: 35px;
    line-height: 34px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    padding: 0 25px 0 0;
    display: inline-block;
    vertical-align: top;
}

.dropdown-select {
    font-size: 14px;
    line-height: 33px;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid #4967AF;
    height: 35px;
    box-sizing: border-box;
    white-space: nowrap;
    vertical-align: top;
    color: #4967AF;
    padding: 0 25px 0 0;
}

.dropdown-select span {
    cursor: pointer;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dropdown-select span:after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    top: 5px;
    background-image: url("/modules/credit-images/convert-arrow.svg");
    background-size: cover;
}



.dropdown-select__dropdown {
    position: absolute;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding: 10px;
    text-align: left;
    line-height: 25px;
    visibility: hidden;
    opacity: 0;
    z-index: 99999999;
}

.dropdown-select_active .dropdown-select__dropdown {
    opacity: 1;
    visibility: visible;
}

.bank-calculator {
}

.dropdown-select__dropdown__chose-line {
    cursor: pointer;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    padding: 0 5px 0 0;
    color: rgba(0, 0, 0, .54);
}

.dropdown-select__dropdown__chose-line:hover {
    padding: 0 0 0 5px;
}


.mw_200 {
    min-width: 200px;
}

.mw_50 {
    min-width: 50px;
}

.bank-calculator__custom-help-popup {
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.bank-calculator__custom-help-popup .custom-help-icon {
    background: #99BBFF!important;
    cursor: default
}
.bank-calculator__range-line__header__span {
    text-align: left;
    font-family: Noto Sans;
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

.bank-calculator__range-line__header {
    text-align: left;
}

.bank-calculator__range-line {
    padding: 0 20px;
    margin: 15px 0;
}



.bank-calculator__range-line__custom-range-wrapper {
    margin: 20px 0 5px 0;
}

.bank-calculator__range-line__custom-range-wrapper .custom-range-circle {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 0;
}
.bank-calculator__range-line__custom-range-wrapper .custom-range-circle:before {
    left: 5px;
}

.bank-calculator__range-line__custom-range-wrapper .custom-range-back-line, .bank-calculator__range-line__custom-range-wrapper .custom-range-value-line {
    height: 2px;
    margin: -1px 0 0 0;
}

.bank-calculator__range-line__custom-range-wrapper .custom-range-max-value {
    right: 0px!important;
}
.bank-calculator__range-line__custom-range-wrapper .custom-range-value {
    left: 0px!important;
}

.bank-calculator__calculator-body__back-type {
    text-align: left;
    padding: 30px 0 10px 0;
    position: relative
}

.bank-calculator__calculator-body__back-type:before {
    content: '';
    display: block;
    height: 1px;
    background: #000;
    opacity: .12;
    width: calc(100% - 40px);
    position: absolute;
    left: 20px;
    top: 0;
}

.bank-calculator__calculator-body__back-type__circle-num {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #99BBFF;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 20px 0 0;
    font-family: Noto Sans;
    font-size: 24px;
}

.bank-calculator__calculator-body__back-type_bank-calculator__dropdown {
    margin: 0px!important;
    vertical-align: middle
}

.bank-calculator__calculator-body__back-type:nth-of-type(1) .bank-calculator__calculator-body__back-type__title button {
    display: none;
}

.bank-calculator__calculator-body__back-type:nth-of-type(1) .bank-calculator__calculator-body__back-type__circle-num:before {
    content: "1";
}
.bank-calculator__calculator-body__back-type:nth-of-type(2) .bank-calculator__calculator-body__back-type__circle-num:before {
    content: "2";
}
.bank-calculator__calculator-body__back-type:nth-of-type(3) .bank-calculator__calculator-body__back-type__circle-num:before {
    content: "3";
}
.bank-calculator__calculator-body__back-type:nth-of-type(4) .bank-calculator__calculator-body__back-type__circle-num:before {
    content: "4";
}
.bank-calculator__calculator-body__back-type:nth-of-type(5) .bank-calculator__calculator-body__back-type__circle-num:before {
    content: "5";
}
.bank-calculator__calculator-body__back-type__title {
    padding: 0 20px;
    position: relative;
}

.blue-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
    font-family: Noto Sans;
    background: #99BBFF;
}

.btn_abs_right {
    position: absolute;
    right: 20px;
}

.btn_abs_left {
    position: absolute;
    left: 20px;
}

.dark-blue-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
    font-family: Noto Sans;
    background: #4967AF;
}


.bank-calculator__actions {
    position: relative;
    padding: 20px;
    height: 40px;
}

.bank-calculator__actions:before {
    top: 0px;
    left: 20px;
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 40px);
    background: #000;
    opacity: .12;
    display: block;
}

.usluga-header {
    text-align: left;
    font-size: 18px;
    font-family: Raleway;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    font-weight: 500;
}

.gray-input {
    word-spacing: normal;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, .12);
    height: 40px;
    padding: 0 10px;
    color: rgba(0, 0, 0, .54)
}

.tenders__user-info {
    font-size: 0px;
    word-spacing: 10px;
    line-height: 60px;
}

.tenders__user-info__gray-input {
    width: 240px!important;
    vertical-align: middle;
}

.green-btn {
    background: #3DD83D;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-family: Noto Sans;
    padding: 0 10px;
}

.tenders__material-btn {
    vertical-align: middle;
    width: 240px;
    box-sizing: border-box;
}

.tenders__table {
    width: 100%;
    font-family: Noto Sans;
    color: rgba(0, 0, 0, .54);
    background: #fff;
}

.tenders__table tr td{
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 10px 5px;
}

.tenders__table tr:last-of-type td {
    border-bottom: none!important;
}

.tenders__table tr.tenders__table__header {
    background: rgba(73,103,175,.12);
    height: 60px;
    font-size: 12px;
    color: #4967AF;
    font-family: Noto Sans;
}

.tenders__table tr.tenders__table__header td {
    border-bottom: none;
    padding: 0 0 0 0;

}

.tenders__table__dropdown span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    text-align: left;
    font-size: 12px;
}

.tenders__table__status {
    color: #3DD83D
}

.tenders__table__status_no-active {
    color: #FF1749;
}


.tenders__table__tr_hidden {
    display: none;
}

@media (max-width: 1199px){
    .tender__table__wrapper {
        overflow-x: auto;
    }
}

.mass-media__heder {
    font-family: Raleway;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin: 10px 0 0 0;
    line-height: 24px;
}

.mass-media__section__header {
    text-align: left;
    font-family: Raleway;
    color: #4967AF !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin: 40px 0 0 0;
}

.mass-media__scetion p {
    margin: 20px 0 0 0 !important;
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    font-family: Noto Sans !important;
    line-height: 1.46em !important;
}

.mass-media {
    padding: 0 10px 10px 10px;
}

.transport-service__map-placeholder {
    width: 100%;
    height: 300px;
    background: url("")
}

.transport-service {
    font-size: 0px;
}

.trnasport_service__gray-input {
    width: 240px;
    vertical-align: middle;
}

.trnasport_service__material-btn {
    width: 240px;
    vertical-align: middle;
}

.trnasport_service__input-area {
    line-height: 60px;
    word-spacing: 20px;
    padding: 20px 0;
}

.transport_service__way-info__line {
    font-family: Noto Sans;
    font-size: 14px;
    position: relative;
    height: 40px;
    line-height: 20px;
    margin: 5px 0;
}

.blue_span {
    color: #4967AF;
}

.transport_service__way-info__line__value {
    position: absolute;
    right: 0;
    font-weight: bold;
    color: #4967AF;
    top: 0;
    height: 40px;
    line-height: 38px;
    box-sizing: border-box;
    border-bottom: 2px solid #4967AF;
}

.transport_service__way-info__line__title {
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    box-sizing: border-box;
    line-height: 39px;
    text-align: left;
}

.transport_service__way-info {
    padding: 5px 15px 15px 15px;
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 auto 20px auto;
}

.logistics__transport__img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-size: cover;
    background-color: #010106;
}

.logistics__transport {
    width: 120px;
    display: inline-block;
}

.logistics__transport__title__num {
    width: 30px;
    height: 30px;
    background: #4967AF;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    font-family: Noto Sans;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.logistics__transport__title__name {
    width: calc(100% - 40px);
    font-size: 18px;
    color: #4967AF;
    line-height: 20px;
    text-align: center;
    font-family: Noto Sans;
    display: inline-block;
    vertical-align: middle;
    word-spacing: normal;
}

.logistics__transports {
    /*word-spacing: 140px;*/
}

.logistics__transport {
	margin: 0 20px;
}

@media (max-width: 729px) {
	.logistics__transport {
		margin: 10px 20px;
	}
}

.logistics__transport__title {
    word-spacing: normal;
}

.logistics {
    padding: 10px;
}

.logistics__map img {
    width: calc(100% - 40px);
    margin: 20px;
}

.elevator__image {
    height: 220px;
    background-size: cover;
    width: 240px;
}

.elevator {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    height: 416px;
    word-spacing: normal;
    margin: 0 0 20px 0;
}

.elevator__name {
    font-size: 18px;
    font-family: Raleway;
    line-height: 20px;
    text-align: left;
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.elevator__contact__text {
    text-align: left;
    width: calc(100% - 20px);
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: 500;
    color: #4967AF;
    box-sizing: border-box;
    padding: 0 0 0 5px;
}
.field__contact__text {
    text-align: left;
    width: calc(100% - 20px);
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: 500;
    color: #4967AF;
    box-sizing: border-box;
    padding: 0 0 0 5px;
}

.elevator__contact_icon {
    padding: 5px 0 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}

.field__contact_icon {
    padding: 2px 0 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}

.elevator__contact {
    padding: 5px 10px;
}
.field__contact {
    padding: 5px 10px;
}

.elevator__contacts {
    padding: 10px 0;
}

.elevators {
    padding: 20px 10px 0 10px;
    word-spacing: 20px;
}

.leasing {
    padding: 10px;
}

.leasing__table {
    text-align: left;
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 1.46em;
}

.leasing__table tr {
    min-height: 40px;
}

.leasing__table tr td {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.leasing__table tr:last-of-type td {
    border: none;
}

.leasing__table tr td:first-of-type {
    white-space: nowrap;
    color: rgba(0, 0, 0, .54)
}

.leasing__table tr td:last-of-type {
    color: #4967AF;
}

.ping-ul {
    padding: 0 0 0 20px;
    margin: 0;
    list-style-image: url("./img/pink-arrow-ul.svg")
}

.leasing__material-btn {
    margin: 20px 0 0 0;
}

.vacancies__list {
    display: inline-block;
    max-width: calc(100% - 260px);
    vertical-align: top;
}

@media (max-width: 729px) {
    .vacancies__list {
        width: 100%;
        max-width: 100%;
    }
}

.vacancy {
    word-spacing: normal;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.vacancy:hover {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.vacancy:first-of-type {
    margin-top: 0px;
}

.vacancy p {
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 1.46em;
    color: rgba(0, 0, 0, .54);
    margin: 0;
}

.vacancy__title {
    margin: 0 0 15px 0;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
}

.vacancies {
    word-spacing: 20px;
    padding: 10px;
}

.vacancies__manager {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
}

.vacancies__manager__image {
    height: 240px;
    background-size: cover;
}

.vacancies__manager__title {
    text-align: center;
    line-height: 25px;
    margin: 10px 0;
    font-size: 15px;
    font-family: Noto Sans;
    font-weight: 500;
}

.vacancies__manager__type {
    text-align: center;
    font-family: Noto Sans;
    font-size: 14px;
    color: rgba(0, 0, 0, .54)
}

.conact__line__icon {
    display: inline-block;
    line-height: 15px;
    height: 15px;
    vertical-align: top;
    padding: 0 5px 0 0;
}

.conact__line__icon img {
    vertical-align: middle;
}

.conact__line__text {
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    color: #4967AF;
    line-height: 15px;
    height: 15px;

}

.vacancies__manager__contact {
    margin: 15px 0;
}

.hr {
    height: 1px;
    background: rgba(0, 0, 0, .12)
}

.vacancies__manager__form__gray-input {
    width: 100%;
    margin: 5px 0;
}

.vacancies__manager__form__material-btn {
    width: 100%;
    margin: 5px 0;
}

.field__map {
    width: 100%;
}

.field__map path {
    fill: rgba(73, 103, 175, 0.28);
    stroke: #fff;
    stroke-width: 1px;
}


.field__map path:hover {
    fill: rgba(73, 103, 175, 0.25);
}


.filed__point__point {
    font-size: 14px;
    width: 30px;
    height: 30px;
    background: #4967AF;
    line-height: 30px;
    text-align: center;
    font-family: Noto Sans;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.filed__point_wrap {
    position: absolute;
    left: 10%;
    top: 10%;
}

.field {
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
}

.field__custom-help-msg {
    top: 40px;
}

.field__custo-help-arrow-wrap {
    left: 5px;
}

.fied__msg-header {
    margin: 0;
    font-family: Raleway;
    font-size: 18px;
}

.filed__custom-help-hidden-part:hover {
	display: block;
	animation-name: customPopupAnimation;
	animation-duration: 300ms;
}

.filed__custom-help-hidden-part {
    padding: 5px 0 0 0;
}

.field__custom-help-msg {
    top: 45px;
}

.partners__marquee {
    padding: 30px 0;
    background: rgba(73, 103, 175, 0.06);
    white-space: nowrap;
    overflow: hidden;

}

.partners__marquee img {
    height: 50px;
    margin: 0 15px;
}

.partners__header {
    margin: 0;
    font-size: 18px;
    font-family: Raleway;
    line-height: 60px;
}

.seeds__header {
    font-size: 24px;
    font-family: Raleway;
    font-weight: 500;
    margin: 5px 0;
}

.seeds__header2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    font-family: Raleway;
    margin: 5px 0;
    font-weight: 500;
    margin: 40px 0 20px 0;
}

.seeds__info-table {
    font-family: Noto Sans;
    font-size: 14px;
    width: 100%;
}

@media (max-width: 729px) {
    .seeds__info-table tr:last-of-type td {
        font-size: 16px;
    }
}

.seeds__info-table td {
    width: 25%;
    box-sizing: border-box;
}

.seeds__info-table tr:last-of-type td {
    font-size: 20px;
    font-weight: bold;
    color: #4967AF;
    height: 30px;
    padding: 10px 0;
    box-sizing: border-box;
}

.seeds__info-table td {
    height: 25px;
    border-right: 1px solid rgba(0, 0, 0, .12)
}

.seeds__info-table td:last-of-type {
    border: none;
}


.seeds__heder-sub {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    font-family: Noto Sans;
    margin: 5px 0;
    font-weight: 500;
}

.seeds__info-table-2 {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    width: 100%;
    text-align: left;
    font-family: Noto Sans;
}

.seeds__info-table-2 td:last-of-type {
    font-weight: bold;
    font-size: 14px;
    color: #4967AF;
}

.seeds__info-table-2 td {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    height: 40px;
    padding: 0 10px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.seeds__info-table-2 tr:hover td {
    background: rgba(0, 0, 0, .03)
}

.seeds__info-table-2  tr:last-of-type td {
    border: none
}

.color-div {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.color-div_light-pink, .diagram__visual-part__column_light-pink {
    background: #9507b7
}

.color-div_pink, .diagram__visual-part__column_pink {
    background: #FF1749
}

.color-div_green, .diagram__visual-part__column_green {
    background: #3DD83D
}

.color-div_light-blue, .diagram__visual-part__column_light-blue {
    background: #ff5010
}

.color-div_blue, .diagram__visual-part__column_blue {
    background: #4967AF
}

.diagram_column-opacity .diagram__visual-part__column {
    opacity: .4;
}

.diagram__info-part__table {
    display: inline-table;
    font-family: Noto Sans;
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    line-height: 1.46em;
    vertical-align: middle;
}

.diagram__info-part__table__tr_active {
    color: #000;
}

.diagram__info-part__table tr {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.diagram__info-part__table tr:hover {
    color: #000!important;
}

.diagram__info-part__table td {
    height: 50px;
    cursor: default;
}

.diagram__info-part__table td:last-of-type {
    padding: 0 0 0 10px;
}

.diagram__info-part {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 360px;
    height: 360px;
}

@media (max-width: 1199px) {
   .diagram__info-part {
       width: 100%;
       line-height: normal;
       height: auto;
       padding: 40px 0;
    }

    .diagram__visual-part {
        width: 100%!important;
    }
}

.diagram__visual-part {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    height: 360px;
    position: relative;
    text-align: center;
}

.diagram__visual-part__horizontal-line {
    height: 1px;
    position: relative;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .12);
    margin-top: 39px;
    opacity: attr(data-opacity)
}

.diagram__visual-part__horizontal-line:first-of-type {
    margin: 0
}

.diagram__visual-part__horizontal-line:after {
    content: attr(data-num);
    display: block;
    position: absolute;
    left: 100%;
    height: 20px;
    line-height: 20px;
    font-family: Noto Sans;
    font-size: 14px;
    top: -10px;
    margin: 0 0 0 5px;
    color: #4967AF;
}

.diagram__visual-part__horizontal-line:nth-of-type(1):after {opacity: 1}
.diagram__visual-part__horizontal-line:nth-of-type(2):after {opacity: .95}
.diagram__visual-part__horizontal-line:nth-of-type(3):after {opacity: .9}
.diagram__visual-part__horizontal-line:nth-of-type(4):after {opacity: .85}
.diagram__visual-part__horizontal-line:nth-of-type(5):after {opacity: .8}
.diagram__visual-part__horizontal-line:nth-of-type(6):after {opacity: .75}
.diagram__visual-part__horizontal-line:nth-of-type(7):after {opacity: .7}
.diagram__visual-part__horizontal-line:nth-of-type(8):after {opacity: .65}
.diagram__visual-part__horizontal-line:nth-of-type(9):after {opacity: .6}
.diagram__visual-part__horizontal-line:nth-of-type(10):after {opacity: .55}



.diagram__visual-part__column {
    width: 50px;
    height: 40px;
    display: inline-block;
    height: 10px;
    vertical-align: bottom;
    margin: 0 10px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@media (max-width: 729px) {
	.diagram__visual-part__column {
		width: 34px;
	}
}

.diagram__visual-part__column:hover {
    opacity: 1!important;
}

.diagram__visual-part__columns {
    position: absolute;
    bottom: 0;
    height: 360px;
    line-height: 360px;
    width: 100%;
    text-align: center;
}

.diagram__visual-part__columns:hover .diagram__visual-part__column {
    opacity: .4;
}

.plant-protext-header {
    font-family: Raleway;
    font-size: 24px;
    text-align: left;
    margin: 0;
    font-weight: 500;
}

.plans-protect__about__header {
    font-family: Raleway;
    font-weight: 500;
    text-align: left;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.plans-protect__about__text {
    font-family: Noto Sans;
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    text-align: left;
    line-height: 1.46em;
}

.plans-protect__about {
    font-family: Noto Sans;
    margin: 35px 0 0 0;
}

.plants-protect {
    padding: 10px;
}

.plans-protect__info-table {
    font-family: Noto Sans;
    font-size: 14px;
    color: #4967AF;
    line-height: 1.46em;
}

.plans-protect__info-table tr:first-of-type {
    background: #fff!important;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    height: 35px;
    line-height: normal;
}

.plans-protect__info-table tr td {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.plans-protect__info-table tr:last-of-type td {
    border: none;
}


.td_border_none {
    border: none!important;
}
.list-defice {
    list-style: none;
    padding: 0;
}

.list-defice li:before {
    content: " - "
}

.plans-protect__about_table-wrap {
    overflow-x: auto;
}

.plans-protect__about_table-wrap table {
    min-width: 600px;
}

.leasing_table-wrapper {
    overflow-x: auto;
}

.leasing_table-wrapper table {
    min-width: 600px;
}

.m_t_10 {
    margin: 10px 0 0 0;
}

.tables-wrapper {
    overflow-x: auto;
}

.tables-wrapper table {
    min-width: 600px;
}

.sclad-table {
    font-size: 14px;
    font-family: Noto Sans;
    width: 100%;
    color: rgba(0, 0, 0, .54)
}

.sclad-table tr td{
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.sclad-table tr:last-of-type td {
    color: #4967AF;
    border: none;
}

.sclad-table sub {
    line-height: 0px;
}

.norms-table {
    color: #4967AF;
    font-size: 14px;
    width: 100%;
}

.norms-table td:last-of-type {
    color: rgba(0, 0, 0, .54)
}


.norms-table__header {
    font-size: 12px;
    color: rgba(0, 0, 0, .54)
}

.norms-table td {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    height: 40px;
    padding: 10px 5px;
    box-sizing: border-box;
}

.product-characteristics__content__text {
    font-size: 14px;
    font-family: Noto Sans;
    text-align: left;
    color: rgba(0, 0, 0, .54)
}

@media (max-width: 729px) {
    div.product-characteristics__content__text {
        width: 100%;
    }
}

.product-characteristics__mdd {
    width: 100%!important;
    box-shadow: none;
    text-align: left;
}

.product-characteristics__content__text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 220px);
    box-sizing: border-box;
    padding: 0 20px;
}

.product-characteristics__content__image {
    display: inline-block;
    width: 220px;
    vertical-align: top;
}

@media (max-width: 729px) {
    .product-characteristics__content__image {
        width: 100%;
    }
}

.product-characteristics__content__image img {
    max-width: 100%;
}

div.product-characteristics__mdd-b-header:after {
    width: 100%;
}

div.product-characteristics__mdd-b-header span {
    overflow: hidden;
    max-width: calc(100% - 20px);
    text-overflow: ellipsis;
    display: block;
		margin: 0 auto;
}
div.product-characteristics__mdd-b-header {
    text-overflow: ellipsis;
    white-space: nowrap;

}

div.product-characteristics__mdd-b-header {
    padding-left: 0;
}

.color_blue {
    color: #4967AF;
    font-weight: bold;
}

.video-galery__video {
    width: 320px;
    height: 180px;
    background: #123;
    position: relative;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}


html, body {
    height: 100%;
}

.video-youtube-full__back {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.video-youtube-full__video-wrapper {
    width: 70%;
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

@media (max-width: 1200px) {
	.video-youtube-full__video-wrapper {
		width: 100%;
	}

	.for-investors__block__image {
		margin-top: 20px;
	}
}

.video-youtube-full__video-wrapper iframe {
    width: 100%;
}
.authentication__gray-input {
    width: 100%;
    margin: 10px 0;
}

.authentication__material-btn {
    width: 125px!important;
    margin: 10px 0;
}

.authentication__form {
    word-spacing: 10px;
    padding: 10px 20px;
}

.authentication__hr {
    width: calc(100% - 80px);
    height: 1px;
    margin: 10px 40px;
    background: rgba(0, 0, 0, .12)
}

.authentication__soc-header {
    font-family: Raleway;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    word-spacing: normal;
}

.authentication__soc {
    margin: 10px 0;
    word-spacing: 0px;
}

.authentication__soc img {
    width: 35px;
    margin: 0 5px;
    cursor: pointer;
}


.authentication__title {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-family: Raleway;
    text-align: center;
    background: #4967AF;
    color: #fff;
}

.upload-adio__form {
    max-width: 370px;
    margin: 0 auto;
}

.input-with-header__gray-input {
    width: 100%;
}

.input-with-header__gray-input_em {
    width: calc(100% - 35px)
}

.input-with-header__header {
    font-size: 12px;
    font-family: Raleway;
    text-align: left;
    line-height: 30px;
    padding: 0 0 0 10px;
    color: rgba(0, 0, 0, .54)
}

.upload-adio__material-btn {
    width: 100%;
    margin: 10px 0;
}

.upload-adio__input-with-header, .delivery-price__input-with-header, .input-with-header_10{
    margin: 10px 0;
}

.upload-audio__form__title {
    font-family: Raleway;
    font-size: 18px;
    margin: 10px 0;
}

.upload-audio__hr {
    height: 1px;
    background: rgba(0, 0, 0, .12);
    margin: 10px 0;
}

.upload-audio {
    padding: 10px;
}

@media (max-width: 729px) {
    .upload-audio {
        padding: 20px;
    }
}

.upload-audio__title {
    font-family: Raleway;
    font-size: 24px;
    margin: 10px 0;
}

.upload-audio__plus-btn {
    width: 60px;
    background: #4967AF;
    border-radius: 100%;
    height: 60px;
    margin: 30px auto;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.upload-audio__plus-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

#upload-audio__plus-btn {
    display: none;
}


.d_none {
    display: none
}
.product-sausage__product, .product-delivery__product {
    width: 240px;
    display: inline-block;
    margin: 0 0 20px 0;
}

.product-sausage__product__img {
    width: 240px;
    height: 190px;
}

.product-delivery__product__img {
    width: 240px;
    height: 190px;
    box-sizing: border-box;
    border: 20px solid #fff;
}

.product-sausage__product__text, .product-delivery__product__text {
    width: 200px;
    margin: 0 20px;
    font-family: Noto Sans;
    font-size: 20px;
    color: rgba(0, 0, 0, .54);
    border-top: 1px solid rgba(0, 0, 0, .12);
    padding: 20px 0;
    word-spacing: normal;
}

.product-delivery__product__text {
    font-size: 14px;
}

.product-sausage, .product-delivery {
    word-spacing: 20px;
    padding: 20px 20px 0 20px;
}

.sausage-descp__image__img {
    width: 240px;
    height: 190px;
}

.sausage-descp__image {
    display: inline-block;
    height: 190px;
    width: 240px;
    vertical-align: top;
}

.sausage-descp__text__text {
    font-size: 14px;
    font-family: Noto Sans;
    color: #4967AF;
    text-align: left;
    margin: 10px 0 0 0;
}

.sausage-descp__title {
    font-size: 20px;
    font-family: Noto Sans;
    color: rgba(0, 0, 0, .54);
    text-align: left;
}

.sausage-descp__title-small {
    font-size: 12px;
    font-family: Raleway;
    color: rgba(0, 0, 0, .54);
    text-align: left;
    margin: 20px 0 0 0;
}

.sausage-descp__text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 240px);
    padding: 0 20px;
    box-sizing: border-box;
}

@media (max-width: 1199px) {
    .sausage-descp__text {
        width: 100%;
    }
}

.sausage-descp__label {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: top;
}

.sausage-descp__label__icon {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #4967AF;
    border-radius: 100%;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Noto Sans;
    color: #4967AF;
    margin: 0 auto;
}

.sausage-descp__label__icon img {
    margin: -2px;
}

.sausage-descp__label__text {
    color: #4967AF;
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}

.sausage-descp__labels {
    text-align: left;
    margin: 20px 0 0 0;
    padding: 15px 0     ;
    border-top: 1px solid rgba(0, 0, 0, .12);
    position: relative;
}

@media (max-width: 729px) {
    .sausage-descp__labels {
        text-align: center;
    }
}

.sausage-descp__label_gray {
    position: absolute;
    right: 0;
}

@media (max-width: 729px) {
    .sausage-descp__label_gray {
        position: static;
    }
}

.sausage-descp__label_gray .sausage-descp__label__icon {
    border-color: rgba(0, 0, 0, .54)
}

.sausage-descp__label_gray .sausage-descp__label__text {
    color: rgba(0, 0, 0, .54)
}

.sausage-descp {
    padding: 20px 0;
}

.sausage-descp:nth-of-type(n + 2) {
    margin: 20px 0 0 0;
}

.sausage-descp-wrapper {
    padding: 20px;
}

.for-investors__block__image__img {
    width: 200px;
    height: 200px;
}

.for-investors__block__image {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.for-investors__block__text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 200px);
    position: relative;
    height: 200px;
    padding: 0 20px;
    box-sizing: border-box;
}

@media (max-width: 1199px) {
    .for-investors__block__text {
        width: 100%;
    }
}

.for-investors__block__text__header {
    font-family: Raleway;
    font-size: 20px;
    height: 25px;
    margin-top: 20px;
    text-align: left;
}

@media (max-width: 1199px) {
    .for-investors__block__text__header {
        text-align: center;
    }
}

.for-investors__block__text__text {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    font-family: Noto Sans;
    text-align: left;
    line-height: 1.46em;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
}

@media (max-width: 1199px) {
    .for-investors__block__text__text {
        height: auto;
        max-height: 65px;
    }
}

.for-investors__block__dark-blue-btn {
    width: 125px;
    color: #fff;
    font-size: 14px;
    font-family: Noto Sans;
    position: absolute;
    bottom: 20px;
}

@media (max-width: 1199px) {
    .for-investors__block__dark-blue-btn {
        position: static;
        margin: 20px auto;
    }

		.for-investors__block__text {
			height: auto;
		}
}

.for-investors__block {
    max-width: 600px;
    width: calc(100% - 40px);
    margin: 20px auto;
}

.delivery-price {
}

.block-370 {
    width: calc(100% - 40px);
    max-width: 370px;
    margin: 0 auto;
}

.input-with-header__dropdown-select, .dropdown-select_10 {
    width: 100%;
}

.input-with-header__dropdown-select>span, .dropdown-select_10>span {
		white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.delivery-price__hr {
    height: 1px;
    background: rgba(0, 0, 0, .12);
    margin: 30px 0 10px 0;
}

.input-with-header__em {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    font-family: Noto Sans;
    width: 35px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.delivery-price__size-line__block {
    display: inline-block;
    vertical-align: top;
    width: calc(33.3% - 10px);
    word-spacing: normal;
}

.delivery-price__size-line {
    word-spacing: 15px;
}

.delivery-price__price-line__block {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
}

.delivery-price__price-line {
    word-spacing: 20px;
}

.delivery-price__price-line__block_left {
    width: calc(50% - 27.5px)
}

.delivery-price__price-line__block_right {
    width: calc(50% + 7.5px)
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
}

.custom-checkbox__checkbox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
		width: 100%;
		height: 100%;
}

.custom-checkbox__image {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .54);
    background-color: #fff;
    background-size: cover;
    background-position: center;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
}

.custom-checkbox__checkbox:checked + .custom-checkbox__image {
    border-color: #99BBFF;
    background-image: url("/modules/credit-images/checkbox-arrow.svg");
}

.delivery-price__checkboxes__line__label {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    vertical-align: top;
    color: rgba(0, 0, 0, .54);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.custom-checkbox_-_checkbox-label_active {
    color: #000!important;
}

.delivery-price__checkboxes__line {
    text-align: left;
    padding: 10px 0;
}

.back-delivery-hidden {
    max-height: 0px;
    overflow: hidden;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.back-delivery-hidden_active {
    max-height: 300px;
		overflow: visible;
}

.btn-370 {
    width: 100%!important;
    margin: 20px 0 0 0;
}

.title-370 {
    font-family: Raleway;
    font-size: 24px;
}

.subtitle-370 {
    font-family: Raleway;
    color: rgba(0, 0, 0, .54);
    padding: 10px 0 0 0;
    font-size: 18px;
    max-width: 500px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

.delivery-price-wrapper {
    padding: 15px 0;
}

.delivery-time-wrapper {
    padding: 15px 0;
}

.input-with-header__custom-input-calendar.custom-input-calendar .value {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, .12)!important;
    text-align: left;
    color: rgba(0, 0, 0, .54);
    font-family: Noto Sans!important;
    font-size: 14px;
}


.input-with-header__custom-input-calendar.custom-input-calendar {
    width: calc(100% - 40px)!important;
}


.input-with-header_icon {
    width: 40px;
    height: 40px;
    display: inline-block;

}

.input-with-header_icon img {
    width: 40px;
}

.finished-projects__about-company__text {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 160px);
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

@media (max-width: 729px) {
	.finished-projects__about-company__text {
		width: 100%;
		display: block;
		margin-top: 10px;
	}

	.finished-projects__about-company {
		padding: 0 10px !important;
	}
}

.finished-projects__company-logo {
    display: inline-block;
    vertical-align: top;
}

.finished-projects__company-logo__img {
    width: 160px;
}

.finished-projects__about-company {
    padding: 0 40px;
}

.finished-projects__image__img {
    width: 100%;
}

.finished-projects__image__text {
    color: #4967AF;
    font-family: Noto Sans;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.finished-projects__map-placeholder {
    height: 400px;
    background: #123;
}

.finished-projects__map-wrap {
    position: relative;
}

.finished-projects__mdd-line {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    font-family: Noto Sans;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		padding-left: 10px;
		box-sizing: border-box;
}

.finished-projects__mdd-line:hover {
    background: rgba(73,103,175,0.06);
    color: #4967AF;
    cursor: pointer;
}

.finished-projects__list-wrapper {
    position: absolute;
    right: 20px;
    top: 50%;
    max-height: calc(100% - 40px);
    background: #fff;
    transform: translateY(-50%);
    overflow-x: auto!important;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.inished-projects__mdd-wrap {
    width: 260px;
    padding: 10px 20px;
}



.finished-projects__title {
    font-size: 24px;
    font-family: Raleway;
    padding: 20px 0;
}

.prom-calculator {
    padding: 15px;
}

.prom-calc__line__left {
    width: 215px;
    display: inline-block;
    vertical-align: bottom;
}

.prom-calc__line__right {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 235px);
    margin: 0 0 0 20px;
}

@media (max-width: 729px) {
	.prom-calc__line__right {
		width: 100%;
		margin: 5px 0px;
	}

	.prom-calc__line__left {
		width: 100%;
	}
}

.prom-calculator__block-370 {
    margin-top: 10px;
}

.dye-price__table {
    font-size: 14px;
}

.dye-price__table tr:last-of-type td {
    border: none!important;
}

.dye-price__table .no-border {
    border-bottom: none!important;
}

.dye-price__table tr {
    height: 60px;
}

.dye-price__table td {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    color: #4967AF;
    padding: 10px;
}

.dye-price__table tr:first-of-type td {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    padding: 5px;
}

.dye-price__table tr:first-of-type {
    height: 40px;
}

.dye-name {
    font-family: Raleway;
    font-size: 18px;
    color: #000;
}

.dye-subname {
    font-size: 15px;
    color: #4967AF;
    margin: 10px 0 0 0;
    font-family: Raleway;
}

.dye-description {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    font-family: Noto Sans;
    margin: 20px 0 0 0;
}

.blue-text-sapn {
    color: #4967AF;
}

.dye-price {
    padding: 20px;
}

.dye-price__title {
    font-family: Raleway;
    font-size: 24px;
    color: #000;
    margin: 0 0 20px 0;
}

.product-colors__info {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    padding: 20px;
    text-align: left;
    position: absolute;
    right: 0;
}

@media (max-width: 1199px) {
    .product-colors__info {
        position: static;
        width: 100%;
        box-sizing: border-box;
    }
}

.product-colors__info__title {
    font-family: Raleway;
    font-size: 24px;
    margin: 0 0 30px 0;
}

.product-colors__info__text {
    font-size: 14px;
    font-family: Noto Sans;
    color: rgba(0, 0, 0, .54);
    margin: 10px 0;
}

.material-btn_160 {
    width: 160px!important;
    max-width: 160px!important;
    display: inline-block;
}

.product-colors__info__text_btn-wrap {
    word-spacing: 10px;
}

.product-colors-image {
    width: 450px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    background-size: auto calc(100% - 20px);
    background-repeat: no-repeat;
    background-position: 20px 20px;
    transition: background-image 300ms ease;
}

@media (max-width: 1199px) {
    .product-colors-image {
        margin-left: 50%;
        transform: translateX(-50%)
    }
}

.product-colors {
    text-align: left;
    position: relative;
}

.product-color__color-pick__circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #8ED800;
    cursor: pointer;
    border: 2px solid #8ED800;
    box-sizing: border-box;
    display: inline-block;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
}

@media (max-width: 729px) {
	.product-color__color-pick__circle {
		width: 50px;
		height: 50px;
	}

	.product-color__color-pick__circle svg {
		width: 50px !important;
		height: 50px !important;
	}

	.material-btn_160 {
		margin-top: 10px;
	}
}

.product-color__color-pick__circle svg {
    margin: -2px;
    width: 60px;
    height: 60px;
}

.circle_green {
    border-color: #8ED800;
    background-color: #8ED800;
}

.circle_orange {
    background-color: #F5B800;
    border-color: #F5B800;
}

.circle_blue {
    background-color: #00C1C6;
    border-color: #00C1C6;
}

.circle_dark-orange {
    background-color: #F46220;
    border-color: #F46220;
}

.circle_active {
    background: #fff;
}

.circle_green.circle_active path,  .circle_green.circle_active rect {
    fill: #8ED800;
}
.circle_orange.circle_active path,  .circle_orange.circle_active rect {
    fill: #F5B800;
}
.circle_blue.circle_active path,  .circle_blue.circle_active rect {
    fill: #00C1C6;
}
.circle_dark-orange.circle_active path,  .circle_dark-orange.circle_active rect {
    fill: #F46220;
}

.product-color__color-pick {
    position: absolute;
    bottom: 40px;
    word-spacing: 20px;
    width: 400px;
    padding: 0 20px;
    right: 0px;
    text-align: left;
}

@media (max-width: 1199px) {
    .product-color__color-pick {
        position: static;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 20px;
        text-align: center;
    }
}

.finished-projects__map-header {
    font-size: 20px;
    font-family: Raleway;
    text-align: left;
    margin: 40px 0 10px 0;
    padding: 0 20px;
}

.avto-chose__hr {
    height: 1px;
    background: rgba(0, 0, 0, .12);
    margin: 10px 0;
}

.avto-chose__left-title {
    text-align: left;
    font-family: Raleway;
    font-size: 20px;
    color: rgba(0, 0, 0, .54)
}

.avto-chose__line__part {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 1199px) {
    .avto-chose__line__part {
        width: 100%;
        display: block;
    }
}

.avto-chose label > div {
	pointer-events: none;
}

.avto-chose__line__part:first-of-type {
    margin-right: 20px;
}

.mw_0 {
    min-width: 0px!important;
    font-size: 14px!important;
    font-family: Noto Sans;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-with-header__custom-time {
    width: calc(100% - 40px)!important;
    vertical-align: top;
}

.input-with-header__custom-time .value {
    height: 40px!important;
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, .12);
    font-size: 14px;
    font-family: Noto Sans;
    text-align: left;
    color: rgba(0, 0, 0, .54);
    line-height: 38px;
}

.avto-chose {
    padding: 20px;
}

.avto-chose__age-control__label {
    height: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: Noto Sans;
    padding: 0 0 0 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, .54);
		width: calc(100% - 50px);
}

.chat-input-area-inp {
	user-select: text;
	-webkit-user-select: text;
	width: 100%;
	border: none;
	outline: none;
}

.avto-chose__age-control {
    text-align: left;
    margin: 40px 0;
}

.avto-chose__btn {
    width: 100%;
    max-width: 370px;
}

.no_overflow {
    overflow: visible!important;
}

.avto-chose__avto-type {
    font-size: 16px;
    font-family: "Noto Sans";
}

.avto-chose__price {
    color: #4967AF;
    font-size: 14px;
    font-family: "Noto Sans";
}

.avto-chose__chose input {
    display: none;
}

.avto-chose__chose label {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    box-sizing: border-box;
    border-bottom:2px solid rgba(73, 103, 175, 0.06);
    padding: 20px 0;
    cursor: pointer;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    height: 80px;
}


.avto-chose__chose input:checked + label {
    border-bottom: 2px solid #4967AF;
}

@media (max-width: 729px) {
    .avto-chose__chose label {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        box-sizing: border-box;
        border:2px solid rgba(73, 103, 175, 0.06);
        padding: 20px 0;
        cursor: pointer;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        height: 80px;
    }


    .avto-chose__chose input:checked + label {
        border: 2px solid #4967AF;
    }
}

.avto-chose__chose {
    margin: 0 0 20px 0;
}




.ship-chose__chose input {
    display: none;
}

.ship-chose__chose label {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    box-sizing: border-box;
    border-bottom:2px solid rgba(73, 103, 175, 0.06);
    padding: 20px 0;
    cursor: pointer;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}


.ship-chose__chose input:checked + label {
    border-bottom: 2px solid #4967AF;
    color: #4967AF;
}

@media (max-width: 729px) {
    .ship-chose__chose label {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        box-sizing: border-box;
        border:2px solid rgba(73, 103, 175, 0.06);
        padding: 20px 0;
        cursor: pointer;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        height: 50px;
        width: 100%;
        line-height: 46px;
        padding: 0;
    }


    .ship-chose__chose input:checked + label {
        border: 2px solid #4967AF;
        color: #4967AF;
    }
}
.ship__name {
    font-family: Raleway;
    color: #4967AF;
    font-size: 18px;
    text-align: left;
    margin: 0 0 10px 0;
}

.ships__ship__info {
    text-align: left;
    padding: 10px;
}

.ship__info__line {
    font-family: Noto Sans;
    font-size: 14px;
    color: rgba(0, 0, 0, .54)
}

.ships__ship {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    margin: 10px 0;
}
.ships__ship__img {
    width: 300px;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.ships__list {
    word-spacing: 20px;
    padding: 0 0 10px 0;
}

.ships__ship_hidden {
    display: none;
}

.ships__ship_visible {
    animation: shipShowAnim 200ms;
}

@keyframes shipShowAnim {
    from {
        opacity: 0;
        transform: scale(0.7);

    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.jd-tickets__line__inp {
    width: calc(50% - 35px);
    display: inline-block;
    vertical-align: bottom;
    word-spacing: normal;
    opacity: 1;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.jd-tickets__line__material_btn {
    height: 40px;
    width: 40px;
    vertical-align: bottom;
    padding: 0;
}

.jd-tickets__line__material_btn svg {
    transform: rotate(90deg)
}

.jd-tickets__line {
    word-spacing: 15px;
}

.jd-tickets {
    text-align: left;
    padding: 20px;
}

.jd-tickets__line__inp_no-btn {
    width: calc(50% - 7.5px)!important;
}

.jd-tickets__line__inp__btn-placeholder {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
}

.margin_10-0 {
    margin: 10px 0;
}

.jq-tickets__find {
    margin: 40px 0 10px 0;
    text-align: center;
}

.cinema-place__row {
    position: relative;
}

.cinema-place__row__num {
    width: 60px;
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    font-family: Noto Sans;
    text-align: left;
    line-height: 40px;
    vertical-align: top;
}

.cinema-place__row__places {
    height: 40px;
    line-height: 40px;
    width: calc(100%);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.cinema-place__row__place {
    height: 30px;
    width: 30px;
    background: #99BBFF;
    display: inline-block;
    word-spacing: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 0 2.5px;
    border-radius: 2px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cinema-place__display {
    text-align: right;
}

.cinema-place__display__display {
    width: calc(100%);
    text-align: center;
    display: inline-block;
}

.cinema-place__display__display__placeholder {
    font-size: 14px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #4967AF;
    width: 200px;
    font-family: Raleway;
    font-size: 18px;
    color: #4967AF;
}

.cinema-place__row__place_checked {
    background: #4967AF!important;
}

.cinema-place__row__place_engaged {
    background: rgba(73, 103, 175, 0.18)!important;
}

.cinema-place__legend__block {
    height: 30px;
    padding: 0 10px;
    border-radius: 2px;
    color: #fff;
    background: #99BBFF;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 30px;
    width: 70px;
    margin: 5px 5px;
}

.cinema-place__legend__block_checked {
    background: #4967AF!important;
}

.cinema-place__legend__block_engaged {
    background: rgba(73, 103, 175, 0.18)!important;
}

.cinema-place__legend {
    width: calc(100%);
    margin: 5px 0;
}

.cinema-pace__places-wrap {
    margin: 20px 0 0 0;
}

.cinema-place {
    padding: 20px;
}

.cinema-pace__summ {
    font-size: 16px;
    font-family: Noto Sans;
    color: rgba(0, 0, 0, .54);
    margin: 20px 0;
}

.cinema-pace__summ span {
    color: #4967AF;
    font-weight: bold;
    font-size: 18px;
}


@media (max-width: 430px) {
    .cinema-place__row__place {
        width: 21px;
    }

    .cinema-place__row__num {
        display: none;
    }
}

@media (max-width: 729px) {
    .avto-chose__age-control__label {
        padding: 0 10px;
    }

    .jd-tickets__line__inp {
        width: 100%;
    }

    #jdSwap {
        margin: 10px auto;
        margin-left: 50%;
        transform: translateX(-50%)
    }

    #jdSwap svg {
        transform: rotate(0deg);
    }


    .jd-tickets__line__inp__btn-placeholder {
        display: none;
    }

    .jd-tickets-way-type__custom-radio {
        padding: 5px;
    }
}

.jd-tickets__line__inp_hidden {
    opacity: 0!important;
    pointer-events: none;
    display: none;
}

.cinema-pace__material-btn {
    width: 100%;
    max-width: 300px;
}

.popular-ways__way__radio-wrap .value {
    font-size: 14px;
    padding: 0 10px;
    font-size: 16px;
}

.popular-ways .value {
	display: inline-block !important;
	padding-left: 10px !important;
}

.popular-ways .custom-radio-circle-wrapper {
	top: 10px;
	left: 5px;
}

@media (max-width: 729px) {
	.popular-ways__way+.popular-ways__way {
		display: none;
	}

	.popular-ways__way {
		width: 100% !important;
	}

	.popular-ways .material-btn {
		margin-top: 10px !important;
		width: 100% !important;
	}

	.popular-ways__nav__inp {
		width: 100% !important;
	}
}

.popular-ways__way__custom-radio {
    display: block;
    padding: 15px 10px;
    width: calc(100% - 20px);
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: rgba(73, 103, 175, 0);
}

.popular-ways__way__custom-radio:hover {
    background: rgba(73, 103, 175, 0.18);
}

.popular-ways__way {
    width: calc(50% - 10px);
    margin: 0 5px 40px 5px;
    text-align: left;
    display: inline-block;
    border: 1px solid rgba(73, 103, 175, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
}

.popular-ways {
    padding: 20px;
}

.width_100 {
    width: 100%;
}

.opacity_0 {
    opacity: 0;
}

.popular-ways__nav__inp {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 0 5px;
}

.popular-ways__way__radio-wrap {
    border-bottom: 1px solid rgba(73, 103, 175, 0.15);
}

.popular-ways__way__radio-wrap:last-of-type {
    border: none;
}

.popular-ways__title {
    font-size: 24px;
    font-family: Raleway;
    line-height: 30px;
    margin: 0 0 20px 0;
    color: rgba(0, 0, 0, .54)
}

/*@import url("https://fonts.googleapis.com/css?family=Noto+Sans") all;*/
@import "http://webfonts.ru/import/raleway.css";
@import "http://webfonts.ru/import/noto.css";

input {
	border-radius: 0px;
}

.ws_nw {
    white-space: nowrap;
}

div.fz_0 {
    font-size: 0px;
}

.ta_l {
    text-align: left;
}

.ta_center {
    text-align: center!important;
}

.padding_0 {
    padding: 0!important;
    overflow: hidden;
}

.padding_5 {
    padding: 10px;
}

.padding_20 {
	padding: 20px!important;
}

.text_gray {
    color: rgba(0, 0, 0, .54)
}

.mt_30 {
    margin-top: 30px!important;
}

.m-usluga-example-wrapper {
	margin: 20px auto;
	width: 800px;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
	/*overflow: hidden;*/
}

.no-padding {
	padding: 0!important;
}

.paper, .material-shadow {
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    overflow: hidden;
}

.material-btn {
	text-transform: uppercase;
	border-radius: 2px;
	outline: none;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	font-family: Raleway;* {
	font-family: Lato
}
}

.material-btn:hover {
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

@media screen and (max-width: 1199px) {
	.m-usluga-example-wrapper {
		width: 600px;
	}

	.-bd-wrap+.-bd-wrap+.-bd-wrap {
		display: none;
	}
}

.deposits-mandarinka .value {
	width: calc(100% - 25px) !important;
	text-align: left !important;
	display: inline-block !important;
	padding: 0 !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 729px) {
	div.news-block-content {
		display: block !important;
		margin: 10px 0 !important;
	}

	.news-line-240, .news-line-500 {
		margin: 0 !important;
	}

	.-ocenka-wrapper {
		width: auto !important;
	}

	.m-usluga-example-wrapper {
		width: 100%;
		box-sizing: border-box;
		margin: 10px 0;
	}

	.radio_20 .db {
		display: inline-block !important;
	}

	.brand-history-images-block, .brand-history-text-block {
		margin: 0 !important;
	}

	.chart-menu label {
		width: 50% !important;
	}
}

.clear_all {
    clear: both;
}

.radio_20 .custom-radio {
	width: 20%;
}
