body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans"; }

a {
  color: black;
  text-decoration: none; }

h1 {
  font-family: "Raleway";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 40px 0;
  font-weight: 400; }

.portfolio-title {
  margin-top: 80px;
  margin-bottom: 40px;
}

ul.projects-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.projects-list li.project-item {
    display: block;
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 1200px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    margin-bottom: 40px; }
    ul.projects-list li.project-item:hover div.image-container a.hover-overlay {
      opacity: 1; }
    ul.projects-list li.project-item:hover div.image-container a.project-link {
      opacity: 1;
      transform: rotateY(0deg); }
    ul.projects-list li.project-item:hover div.image-container img.project-image {
      opacity: 0; }

div.image-container * {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
div.image-container a.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.36);
  opacity: 0; }
div.image-container a.project-link {
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  background-color: #2A2F5D;
  background-image: url("/images/svg/link2.svg");
  background-size: cover;
  z-index: 2;
  border-radius: 50%;
  opacity: 0;
  transform: rotateY(-90deg); }
div.image-container img.project-image {
  display: block;
  width: 100%; }
div.image-container div.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: -1; }

a.project-description {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 40px; }
  a.project-description h2.project-name {
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    font-family: "Raleway";
    line-height: 30px;
    margin: 0 0 20px 0; }
  a.project-description span.project-type {
    display: inline-block;
    border-radius: 15px;
    background-color: #FF1749;
    height: 30px;
    line-height: 29px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    padding: 0 10px; }

@media (max-width: 1199px) {
  h1 {
    margin: 20px 0; }

  ul.projects-list li.project-item {
    margin-bottom: 20px; }

  div.image-container a.hover-overlay {
    opacity: 1; }
  div.image-container a.project-link {
    opacity: 1;
    transform: none;
    background-color: white;
    background-image: url("/images/svg/link-mobile.svg");
    width: 40px;
    height: 40px;
    top: 20px;
    left: auto;
    right: 20px; }

  a.project-description {
    padding: 20px; }
    a.project-description h2.project-name {
      font-size: 24px; } }
@media (max-width: 729px) {
  h1 {
    margin: 10px 0;
    font-size: 24px; }

  ul.projects-list li.project-item {
    margin-bottom: 20px;
    width: calc(100% - 30px); }

  div.image-container a.hover-overlay {
    opacity: 1; }
  div.image-container a.project-link {
    opacity: 1;
    transform: none;
    background-color: white;
    background-image: url("/images/svg/link-mobile.svg");
    width: 30px;
    height: 30px;
    top: 10px;
    left: auto;
    right: 10px; }

  a.project-description {
    padding: 10px; }
    a.project-description h2.project-name {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px; } }
