img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header#pc nav div[role=group] {
  position: relative;
  margin-top: 40px; }
  header#pc nav div[role=group]::before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); }

body {
  padding: 40px 40px 40px 200px;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans"; }
  body section.project {
    position: relative;
    direction: rtl; }
    body section.project div#img-transform-container {
      position: relative;
      width: calc(33.33333% + 80px);
      display: inline-block;
      vertical-align: top;
      perspective-origin: center;
      perspective: 1600px; }
      body section.project div#img-transform-container img {
        display: block;
        width: 100%;
        height: auto; }
    body section.project div.characteristics {
      direction: ltr;
      display: inline-block;
      vertical-align: top;
      width: calc(66.66667% - 120px);
      margin-left: 40px; }
      body section.project div.characteristics h1 {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 200;
        font-family: "Raleway";
        font-size: 36px; }
      body section.project div.characteristics div.tags span {
        cursor: default;
        display: inline-block;
        height: 30px;
        vertical-align: top;
        border-radius: 15px;
        line-height: 28px;
        box-sizing: border-box;
        padding: 0 10px;
        font-size: 13px;
        font-weight: 500;
        color: white;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
        margin-right: 10px; }
        body section.project div.characteristics div.tags span:hover {
          opacity: .72; }
      body section.project div.characteristics div.tags div.site-category {
        margin-bottom: 10px; }
        body section.project div.characteristics div.tags div.site-category span {
          background-color: #FF1749; }
      body section.project div.characteristics div.tags div.business-category span {
        background-color: #19ab19;
        margin-top: 10px; }
    body section.project div.links {
      direction: ltr;
      position: absolute;
      width: calc(66.66667% - 120px);
      bottom: 0;
      right: 0; }
      body section.project div.links a.source-link {
        color: white;
        text-decoration: none;
        display: inline-block;
        height: 30px;
        line-height: 28px;
        position: relative;
        color: #4967AF;
        padding: 0 5px 0 35px;
        font-size: 14px;
        perspective: 1200px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1); }
        body section.project div.links a.source-link::before {
          content: " ";
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          background-image: url("/images/svg/link.svg");
          top: 5px;
          left: 5px;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1); }
        body section.project div.links a.source-link svg {
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0; }
          body section.project div.links a.source-link svg line {
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
            stroke-dasharray: 240%, 0; }
        body section.project div.links a.source-link:hover {
          background-color: rgba(73, 103, 175, 0.12); }
          body section.project div.links a.source-link:hover::before {
            transform: rotateY(180deg); }
          body section.project div.links a.source-link:hover svg line {
            stroke-dasharray: 55%, 25%; }
      body section.project div.links nav {
        position: absolute;
        right: 0;
        top: 0; }
        body section.project div.links nav a {
          color: white;
          text-decoration: none;
          display: inline-block;
          height: 30px;
          border-radius: 25px;
          background-color: #4967AF;
          box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
          line-height: 28px;
          font-size: 13px;
          font-weight: 500;
          margin-left: 10px;
          overflow: hidden;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          body section.project div.links nav a:hover {
            box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
        body section.project div.links nav a.prev {
          padding: 0 10px 0 30px;
          position: relative; }
          body section.project div.links nav a.prev::before {
            content: " ";
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            background-image: url("/images/svg/arrow-back.svg");
            left: 7.5px;
            top: 7px; }
        body section.project div.links nav a.next {
          padding: 0 30px 0 10px;
          position: relative; }
          body section.project div.links nav a.next::before {
            content: " ";
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            background-image: url("/images/svg/arrow-forward.svg");
            right: 7.5px;
            top: 7px; }
    body section.project div.tags-mobile {
      direction: ltr;
      display: none;
      margin-top: 20px; }
      body section.project div.tags-mobile span {
        cursor: default;
        display: inline-block;
        height: 30px;
        vertical-align: top;
        border-radius: 15px;
        line-height: 28px;
        box-sizing: border-box;
        padding: 0 10px;
        font-size: 13px;
        font-weight: 500;
        color: white;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
        margin-right: 5px; }
        body section.project div.tags-mobile span:hover {
          opacity: .72; }
      body section.project div.tags-mobile div.site-category {
        margin-bottom: 10px; }
        body section.project div.tags-mobile div.site-category span {
          background-color: #FF1749; }
      body section.project div.tags-mobile div.business-category span {
        background-color: #19ab19;
        margin-bottom: 5px; }
  body section.stats {
    margin-top: 40px;
    position: relative; }
    body section.stats h2 {
      font-family: "Raleway";
      position: relative;
      font-size: 30px;
      font-weight: 200;
      color: rgba(0, 0, 0, 0.54);
      height: 40px;
      line-height: 35px;
      margin: 0;
      overflow: hidden; }
      body section.stats h2 span {
        background-color: white;
        padding-right: 10px; }
      body section.stats h2 hr {
        margin: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        z-index: -1;
        border: none;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.12); }

@media (min-width: 1200px) and (max-width: 1799px) {
  body section.project div.links {
    position: relative;
    width: calc(33.33333% + 80px);
    margin-top: 10px;
    margin-right: auto; }
    body section.project div.links nav a {
      width: 0px;
      color: transparent; }
    body section.project div.links nav a.prev {
      padding: 0 0 0 30px; }
    body section.project div.links nav a.next {
      padding: 0 30px 0 0; } }
@media (min-width: 730px) and (max-width: 1199px) {
  body {
    padding: 100px 20px 20px 20px; }
    body section.project div#img-transform-container {
      width: 240px; }
    body section.project div.characteristics {
      width: calc(100% - 260px);
      margin-left: 20px; }
      body section.project div.characteristics h1 {
        font-size: 30px;
        line-height: 32px; }
      body section.project div.characteristics div.tags {
        display: none; }
    body section.project div.links {
      width: calc(100% - 260px);
      top: 105px;
      bottom: auto; }
    body section.project div.tags-mobile {
      display: block; }
    body section.stats h2 {
      font-size: 24px; } }
@media (min-width: 320px) and (max-width: 729px) {
  body {
    padding: 70px 10px 10px 10px; }
    body section.project div#img-transform-container {
      width: 100%; }
    body section.project div.characteristics {
      width: 100%;
      margin-left: 0; }
      body section.project div.characteristics h1 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 10px; }
      body section.project div.characteristics div.tags {
        display: none; }
    body section.project div.links {
      margin-top: 15px;
      width: 100%;
      position: relative; }
      body section.project div.links nav a {
        width: 0px;
        color: transparent; }
      body section.project div.links nav a.prev {
        padding: 0 0 0 30px; }
      body section.project div.links nav a.next {
        padding: 0 30px 0 0; }
    body section.project div.tags-mobile {
      display: block; }
    body section.stats h2 {
      font-size: 24px; } }
header#pc {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  perspective: 2000px; }
  header#pc img {
    width: 140px;
    height: 120px;
    display: block;
    margin: 20px auto; }
  header#pc div#h-locale-selector {
    position: relative; }
    header#pc div#h-locale-selector div#h-locale-current {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current span {
        display: inline-block;
        text-align: center;
        width: 100%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current::before {
        content: " ";
        width: 20px;
        height: 40px;
        position: absolute;
        background-image: url("/images/svg/locale-arrow.svg");
        background-size: 20px 40px;
        opacity: 0;
        right: 0;
        transform: translateX(-20px);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc div#h-locale-selector div#h-locale-current:hover {
      background-color: rgba(255, 255, 255, 0.12); }
      header#pc div#h-locale-selector div#h-locale-current:hover span {
        width: 40%; }
      header#pc div#h-locale-selector div#h-locale-current:hover::before {
        transform: translateX(0px);
        opacity: 1; }
    header#pc div#h-locale-selector ul#h-locale-list {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 0;
      left: 100%;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#pc div#h-locale-selector ul#h-locale-list li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#pc div#h-locale-selector ul#h-locale-list li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#pc div#h-locale-selector ul#h-locale-list li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#pc nav {
    margin-top: 50px; }
    header#pc nav a {
      color: white;
      text-decoration: none;
      display: block;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc nav a:hover {
      background-color: rgba(255, 255, 255, 0.12); }

@media (max-width: 1199px) {
  header#pc {
    display: none; } }
header#mobile {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  perspective: 900px; }
  header#mobile img {
    width: 115px;
    height: 40px; }
  header#mobile div#h-locale-selector-mobile {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px;
    line-height: 20px;
    cursor: pointer; }
    header#mobile div#h-locale-selector-mobile::before {
      content: " ";
      position: absolute;
      height: 40px;
      width: 20px;
      background-image: url("/images/svg/locale-arrow-mobile.svg");
      right: 0;
      top: 0; }
    header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
      z-index: 9100;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 60px;
      left: 0;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#mobile div#h-menu-mobile {
    position: absolute;
    width: 25px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-image: url("/images/svg/menu-mobile.svg");
    cursor: pointer; }
  header#mobile ul#h-menu-list-mobile {
    z-index: 9050;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    header#mobile ul#h-menu-list-mobile li {
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #2A2F5D;
      transform: rotateX(-90deg);
      text-align: center; }
      header#mobile ul#h-menu-list-mobile li a {
        color: white;
        text-decoration: none;
        display: block;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#mobile ul#h-menu-list-mobile li a:hover {
        background-color: rgba(255, 255, 255, 0.12); }

@media (min-width: 1200px) {
  header#mobile {
    display: none; } }
@media (min-width: 320px) and (max-width: 729px) {
  header#mobile {
    height: 60px;
    padding: 15px; }
    header#mobile img {
      height: 30px;
      width: auto; }
    header#mobile div#h-locale-selector-mobile {
      right: 45px;
      top: 10px;
      width: 105px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
        top: 50px;
        width: 105px; }
    header#mobile div#h-menu-mobile {
      right: 10px;
      top: 10px; }
    header#mobile ul#h-menu-list-mobile {
      top: 60px; } }
