a.__consult {
  cursor: pointer;
}

.paper {
  width: 800px;
  margin: 40px auto;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans"; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400; }

p {
  margin: 0;
  padding: 0; }

a {
  color: white;
  text-decoration: none;
  font-family: "Raleway"; }

@media (max-width: 1199px) {
  .paper {
    width: 600px; } }
@media (max-width: 729px) {
  .paper {
    width: calc(100% - 20px); } }
.good-value {
  color: #20D320 !important; }

.bad-value {
  color: #FF1749 !important; }

.long-text {
  font-size: 16px !important;
  line-height: 22px !important;
  color: rgba(0, 0, 0, 0.54) !important; }

.note {
  color: #4967AF !important; }

h1 {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 40px 0;
  font-weight: 400; }

h1.detail-header {
  margin-top: 80px; }

a#back {
  position: absolute;
  top: 40px;
  left: 200px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #99BBFF;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  box-sizing: border-box;
  padding: 12.5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
  a#back:hover {
    box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
  a#back img {
    width: 15px;
    height: 15px;
    vertical-align: top; }

section.pricing-tables {
  display: table;
  margin: 0 auto;
  vertical-align: middle;
  border-spacing: 40px;
  width: 100%;
  max-width: 1120px; }

div.pt-subcontainer {
  display: table-row; }

div.pt-item {
  display: table-cell;
  vertical-align: top;
  background: white;
  padding: 0 0 100px 0;
  width: calc(100% / 3);
  position: relative; }
  div.pt-item div.pt-item-heading-container {
    background: #2A2F5D;
    padding: 20px 20px 10px 20px; }
    div.pt-item div.pt-item-heading-container h2.pt-item-header {
      text-align: center;
      font-size: 24px;
      line-height: 30px;
      color: white; }
    div.pt-item div.pt-item-heading-container hr {
      border: none;
      height: 1px;
      background: rgba(255, 255, 255, 0.24);
      width: 120px;
      display: block;
      margin: 20px auto; }
    div.pt-item div.pt-item-heading-container svg.pt-item-icon {
      width: 120px;
      display: block;
      margin: 0 auto;
      -webkit-filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.72));
      filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.72)); }
  div.pt-item div.pt-item-content {
    padding: 20px;
    background-color: white;
    text-align: center; }
    div.pt-item div.pt-item-content div.pt-item-property {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      margin-bottom: 20px; }
      div.pt-item div.pt-item-content div.pt-item-property:last-of-type {
        border-bottom: none; }
      div.pt-item div.pt-item-content div.pt-item-property label.pt-item-property-name {
        display: block;
        font-size: 14px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.38); }
      div.pt-item div.pt-item-content div.pt-item-property p.pt-item-property-value {
        font-size: 20px;
        line-height: 20px;
        color: #4967AF;
        margin: 10px 0 20px 0; }
  div.pt-item div.pt-item-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px; }
  div.pt-item a.pt-item-button {
    position: relative;
    display: block;
    height: 40px;
    padding: 10px 40px;
    box-sizing: border-box;
    background-color: #4967AF;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    border-radius: 20px;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    text-transform: uppercase;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px; }
    div.pt-item a.pt-item-button span.pt-item-button-description {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.12);
      color: white;
      line-height: 30px;
      text-align: center;
      right: 5px;
      top: 5px; }
      div.pt-item a.pt-item-button span.pt-item-button-description p.pt-item-button-description-content {
        position: absolute;
        width: 200px;
        padding: 15px;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        line-height: 160%;
        bottom: -5px;
        right: -5px;
        visibility: hidden;
        opacity: 0;
        background-color: white;
        margin: 0;
        pointer-events: none;
        text-transform: none;
        text-align: left;
        font-family: "Noto Sans";
        box-shadow: rgba(0, 0, 0, 0.18824) 0px 10px 30px, rgba(0, 0, 0, 0.22745) 0px 6px 10px; }
      div.pt-item a.pt-item-button span.pt-item-button-description:hover p.pt-item-button-description-content {
        opacity: 1;
        visibility: visible; }

    div.pt-item a.pt-item-button::before {
      content: " ";
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("/images/svg/arrow-forward.svg");
      top: 12.5px;
      left: 12.5px; }

    a.__rent::before {
      content: " ";
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("/images/svg/rent-button.svg") !important;
      top: 12.5px;
      left: 12.5px;
    }

    a.__consult::before {
      content: " ";
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("/images/svg/consult-button.svg") !important;
      top: 12.5px;
      left: 12.5px;
    }

    div.pt-item a.pt-item-button:hover {
      box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
    div.pt-item a.pt-item-button:last-of-type {
      margin-bottom: 0; }
  div.pt-item a.__rent {
    background-color: #99BBFF;
    box-shadow: 0 0 0 transparent; }
    div.pt-item a.__rent:hover {
      box-shadow: 0 0 0 transparent; }
  div.pt-item a.__consult {
    background-color: #99BBFF;
    box-shadow: 0 0 0 transparent; }
    div.pt-item a.__consult:hover {
      box-shadow: 0 0 0 transparent; }

div.most-profitable div.pt-item-heading-container {
  padding: 10px 20px; }
  div.most-profitable div.pt-item-heading-container h2.pt-item-header {
    font-weight: 700; }
    div.most-profitable div.pt-item-heading-container h2.pt-item-header::after {
      content: attr(data-marker);
      display: block;
      font-weight: 400;
      font-family: "Noto Sans";
      font-size: 14px;
      line-height: 15px;
      margin-top: 5px;
      color: #20D320;
      text-align: center;
      text-shadow: 0px 0px 6px #00FF00; }
  div.most-profitable div.pt-item-heading-container h3.most-profitable-marker {
    font-family: "Noto Sans";
    font-size: 14px;
    line-height: 15px;
    margin-top: 5px;
    color: #20D320;
    text-align: center;
    text-shadow: 0px 0px 6px #00FF00; }
  div.most-profitable div.pt-item-heading-container hr {
    margin: 10px auto 20px auto; }
div.most-profitable a.pt-item-button {
  background: #20D320; }
div.most-profitable a.__rent {
  background-color: #99BBFF; }

div.read-more-button-container {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px; }
  div.read-more-button-container a.read-more-button {
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 10px 20px 10px 40px;
    box-sizing: border-box;
    background-color: #FF1749;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    border-radius: 20px;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    text-transform: uppercase;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    div.read-more-button-container a.read-more-button::before {
      transform: rotate(90deg);
      content: " ";
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      background-image: url("/images/svg/arrow-forward.svg");
      top: 12.5px;
      left: 12.5px; }
    div.read-more-button-container a.read-more-button:hover {
      box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }

section.detail-table-container {
  width: calc(100% - 80px);
  margin: 0 auto;
  overflow-x: hidden;
  margin-bottom: 40px; }
  section.detail-table-container table.detail-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; }
    section.detail-table-container table.detail-table tr:not(:first-of-type):hover {
      background-color: rgba(0, 0, 0, 0.03); }
    section.detail-table-container table.detail-table tr:last-of-type td {
      border-bottom: none; }
    section.detail-table-container table.detail-table th:first-of-type, section.detail-table-container table.detail-table td:first-of-type {
      width: 13%;
      background: none;
      text-align: left;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.38); }
    section.detail-table-container table.detail-table th, section.detail-table-container table.detail-table td {
      width: 29%;
      height: 60px;
      padding: 10px 10px;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    section.detail-table-container table.detail-table th {
      background: #2A2F5D;
      color: white;
      font-family: "Raleway";
      font-weight: 400;
      font-size: 24px;
      border-bottom: none; }
    section.detail-table-container table.detail-table td {
      color: rgba(0, 0, 0, 0.54);
      font-size: 16px;
      line-height: 25px; }
      section.detail-table-container table.detail-table td img {
        width: 40px;
        height: 40px;
        border-radius: 2px;
        margin: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
        section.detail-table-container table.detail-table td img:hover {
          box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }

@media (max-width: 1199px) {
  a#back {
    top: 120px;
    left: 20px; }

  section.pricing-tables {
    border-spacing: 10px;
    width: calc(100% - 10px); }

  section.detail-table-container {
    overflow-x: scroll; } }
@media (max-width: 729px) {
  .read-more-button-container {
    display: none;
  }
  a#back {
    display: none; }

  h1 {
    margin: 20px auto;
    font-size: 24px;
    width: calc(100% - 30px); }

  section.pricing-tables {
    display: block;
    width: calc(100% - 30px); }

  div.pt-subcontainer {
    display: block; }

  div.pt-item {
    display: block;
    width: 100%;
    padding-bottom: 120px;
    margin: 20px 0; }
    div.pt-item div.pt-item-content {
      padding: 10px; }
      div.pt-item div.pt-item-content div.pt-item-property {
        margin-bottom: 10px; }
        div.pt-item div.pt-item-content div.pt-item-property p.pt-item-property-value {
          font-size: 18px;
          line-height: 15px;
          margin: 10px 0; }

  div.read-more-button-container {
    text-align: center;
    margin: 20px auto;
    width: calc(100% - 30px); }
    div.read-more-button-container a.read-more-button {
      width: 100%; }

  section.detail-table-container {
    width: calc(100% - 30px);
    overflow-x: scroll; } }
