.paper {
  width: 800px;
  margin: 40px auto;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans"; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400; }

p {
  margin: 0;
  padding: 0; }

a {
  color: white;
  text-decoration: none;
  font-family: "Raleway"; }

@media (max-width: 1199px) {
  .paper {
    width: 600px; } }
@media (max-width: 729px) {
  .paper {
    width: calc(100% - 20px); } }
button.write-to-us {
  background: #4967AF;
  margin-right: 20px; }

button.request-callback {
  background: #20D320; }

section.recall {
  width: calc(100% - 30px);
  max-width: 800px;
  padding: 40px;
  min-height: 240px;
  box-sizing: border-box;
  position: relative; }
  section.recall img {
    width: 160px;
    height: 160px;
    display: block; }
  section.recall div.recall-content {
    width: calc(100% - 280px);
    margin-left: 40px;
    position: absolute;
    height: calc(100% - 80px);
    top: 40px;
    right: 40px; }
    section.recall div.recall-content p {
      font-size: 20px;
      line-height: 1.6em;
      margin-bottom: 40px; }
    section.recall div.recall-content div.buttons-container {
      position: absolute;
      bottom: 0;
      left: 0; }
    section.recall div.recall-content button {
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
      width: auto;
      display: inline-block;
      vertical-align: top;
      line-height: 40px;
      text-transform: uppercase;
      padding: 0 20px;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      font-family: "Raleway";
      font-weight: 500;
      border-radius: 20px; }
      section.recall div.recall-content button:hover {
        box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }

div.popup {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(42, 47, 93, 0.72);
  z-index: 20000;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  perspective-origin: center;
  opacity: 0; }
  div.popup div.popup-container {
    display: table-cell;
    vertical-align: middle; }
  div.popup div.popup-content {
    width: calc(100% - 20px);
    max-width: 480px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.29804) 0px 19px 60px, rgba(0, 0, 0, 0.21961) 0px 15px 20px;
    background: white;
    margin: 0 auto;
    transform: rotateX(-45deg) rotateY(-45deg);
    opacity: 0; }
  div.popup label {
    line-height: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    color: rgba(0, 0, 0, 0.54);
    padding-left: 10px; }
  div.popup input {
    display: block;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    padding: 0 10px;
    font-size: 16px;
    font-family: "Noto Sans";
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%; }
    div.popup input:focus {
      border: 1px solid #99BBFF; }
    div.popup input:valid {
      border: 1px solid rgba(0, 0, 0, 0.87); }
  div.popup textarea {
    display: block;
    min-height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    padding: 10px;
    font-size: 16px;
    font-family: "Noto Sans";
    line-height: 1.6em;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%; }
    div.popup textarea:focus {
      border: 1px solid #99BBFF; }
    div.popup textarea:valid {
      border: 1px solid rgba(0, 0, 0, 0.87); }
  div.popup button {
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    width: 100%;
    max-width: 260px;
    display: block;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0 20px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Raleway";
    font-weight: 500;
    border-radius: 20px;
    margin: 0 auto; }
    div.popup button:hover {
      box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
  div.popup button.write-to-us2-popup-button {
    background: #4967AF; }

div#request-callback-popup {
  visibility: hidden; }

div#write-to-us2-popup {
  visibility: hidden; }

@media (max-width: 729px) {
  section.recall div.recall-content button {
    width: 100%;
  }
  section.recall {
    padding: 20px;
    width: calc(100% - 30px);
    min-height: auto; }
    section.recall img {
      display: none; }
    section.recall div.recall-content {
      display: block;
      width: 100%;
      position: static;
      margin: 0; }
      section.recall div.recall-content p {
        margin-bottom: 0; }
      section.recall div.recall-content div.buttons-container {
        position: static;
        width: 100%; }
        section.recall div.recall-content div.buttons-container button {
          margin-top: 20px; } }
