.paper {
  width: 800px;
  margin: 40px auto;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans"; }
  body * {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400; }

p {
  margin: 0;
  padding: 0; }

a {
  color: white;
  text-decoration: none;
  font-family: "Raleway"; }

@media (max-width: 1199px) {
  .paper {
    width: 600px; } }
@media (max-width: 729px) {
  .paper {
    width: calc(100% - 20px); } }
h1 {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 40px 0;
  font-weight: 400; }

span.details {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  background: #20D320;
  border-radius: 50%;
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway";
  vertical-align: middle;
  cursor: pointer;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  position: relative; }
  span.details:hover {
    box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
    span.details:hover p.description {
      transform: translateX(-172px) translateY(0px);
      visibility: visible;
      opacity: 1; }
  span.details p.description {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-172px) translateY(-10px);
    visibility: hidden;
    opacity: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    font-family: "Noto Sans";
    font-size: 13px;
    line-height: 1.6em;
    width: 240px;
    padding: 15px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.54);
    text-align: left;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px;
    border-radius: 2px; }

figure {
  width: 185px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 40px 10px; }
  figure img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px; }
  figure figcaption {
    color: rgba(0, 0, 0, 0.54); }

section.services {
  width: calc(100% - 30px);
  max-width: 820px;
  margin: 0 auto;
  margin-top: 80px; }
  section.services h2 {
    font-size: 24px;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 30px; }

section.mail-1 p {
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 1.6em;
  color: rgba(0, 0, 0, 0.54); }
section.mail-1 h2 {
  margin-bottom: 20px;
  line-height: 20px;
  text-align: left; }

section.mail-2 {
  text-align: center; }
  section.mail-2 figure.mail-client figcaption {
    font-size: 16px;
    line-height: 15px; }

section.mail-3 {
  text-align: center; }
  section.mail-3 figure.default-service figcaption {
    font-size: 14px;
    line-height: 18px;
    height: 65px; }

@media (max-width: 729px) {
  h1 {
    margin: 20px auto;
    font-size: 24px;
    width: calc(100% - 30px); }

  section.services {
    margin-top: 40px; }
    section.services h2 {
      font-size: 20px; }

  section.mail-1 p {
    font-size: 14px; }

  section.mail-3 figure.default-service figcaption {
    height: auto; } }
