#request-callback {
  cursor: pointer;
}

.checkbox-group {
  overflow: hidden;
}

a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.service-description {
  margin-top: 40px !important;
}

.goto-map {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4967AF;
  background-image: url("/images/svg/location.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.goto-map:hover {
  box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px;
}

.checkbox-group {
  position: relative;
}

.checkbox-group > input {
  cursor: pointer;
  left: -25%;
  width: 150%;
  height: 100%;
  margin: 0;
  z-index: 5;
  visibility: visible !important;
  opacity: 0;
  box-sizing: border-box;
}

section#second {
  width: 800px;
  margin: 0 auto; }
  section#second div.rent-description-container {
    margin-bottom: 80px; }
    section#second div.rent-description-container p.rent-description-text {
      font-size: 16px;
      line-height: 160%;
      color: rgba(0, 0, 0, 0.54); }
    section#second div.rent-description-container h3.rent-description-subheader {
      font-size: 24px;
      font-family: "Raleway";
      line-height: 20px;
      margin: 40px 0 20px 0;
      font-weight: 400;
      text-align: center; }
    section#second div.rent-description-container ul.rent-description-list {
      list-style: none;
      margin: 0;
      padding: 20px;
      margin-bottom: 40px;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      section#second div.rent-description-container ul.rent-description-list li {
        vertical-align: top;
        margin-bottom: 20px;
        position: relative;
        padding: 0 20px 0 25px;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 25px;
        display: inline-block;
        width: 50%;
        box-sizing: border-box; }
        section#second div.rent-description-container ul.rent-description-list li::before {
          content: " ";
          position: absolute;
          width: 15px;
          height: 15px;
          top: 5px;
          left: 0;
          background-image: url("/images/svg/list-marker-rent.svg"); }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body section#first div#header div h1 {
  color: #fff !important;
}

body section#first {
  height: calc(100vh);
}

header#pc nav div[role=group] {
  position: relative;
  margin-top: 40px; }
  header#pc nav div[role=group]::before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); }

section#second {
  width: 800px;
  margin: 0 auto; }
  section#second h2 {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin: 40px 0;
    text-align: center; }
    section#second h2 strong {
      font-weight: 500; }
  section#second div.container {
    box-sizing: border-box;
    padding: 0 20px 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    border-radius: 2px; }
    section#second div.container p#hint {
      margin: 0;
      padding: 0 20px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      margin-top: 20px;
      line-height: 18px; }
    section#second div.container h3 {
      text-align: center;
      font-family: "Raleway";
      font-weight: 300;
      font-size: 24px;
      padding-top: 25px;
      line-height: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      margin: 20px 0 25px 0; }
      section#second div.container h3 span {
        display: inline-block;
        font-family: "Noto Sans";
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        background-color: #99BBFF;
        font-weight: 500;
        margin-right: 10px;
        color: white;
        line-height: 27px; }
    section#second div.container h3:first-of-type {
      border-top: none;
      margin-top: 0; }
    section#second div.container label {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 500;
      line-height: 10px;
      color: rgba(0, 0, 0, 0.54);
      display: block;
      padding-left: 10px; }
    section#second div.container textarea {
      display: block;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.38);
      transition: border-color 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      outline: none;
      width: 100%;
      resize: none;
      padding: 10px;
      height: 120px;
      font-family: "Noto Sans";
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 20px;
      color: rgba(0, 0, 0, 0.87); }
    section#second div.container textarea:focus {
      border: 1px solid #99BBFF; }

    section#second div.container div.marginright20 {
      margin-right: 20px;
    }

    section#second div.container div.inputs {
      display: inline-block;
      width: calc(50% - 10px);
       }
      section#second div.container div.inputs input[type=text], section#second div.container div.inputs input[type=tel] {
        height: 35px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        font-family: "Noto Sans";
        font-size: 16px;
        line-height: 35px;
        outline: none;
        color: rgba(0, 0, 0, 0.87);
        border: 1px solid rgba(0, 0, 0, 0.38);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      section#second div.container div.inputs input[type=text]:focus, section#second div.container div.inputs input[type=tel]:focus {
        border: 1px solid #99BBFF; }
    section#second div.container div.inputs:nth-of-type(2) {
      margin-right: 0; }
    section#second div.container div.current-site {
      margin-top: 20px; }
      section#second div.container div.current-site input[type=text] {
        height: 35px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        font-family: "Noto Sans";
        font-size: 16px;
        line-height: 35px;
        outline: none;
        color: rgba(0, 0, 0, 0.87);
        border: 1px solid rgba(0, 0, 0, 0.38);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      section#second div.container div.current-site input[type=text]:focus {
        border: 1px solid #99BBFF; }
    section#second div.container p {
      margin: 20px 0 0 0;
      padding: 0;
      text-align: center; }
      section#second div.container p button {
        border: none;
        outline: none;
        position: relative;
        display: inline-block;
        height: 40px;
        padding: 10px 20px 10px 40px;
        box-sizing: border-box;
        background-color: #FF1749;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
        border-radius: 20px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        text-transform: uppercase;
        line-height: 20px;
        font-size: 14px;
        font-family: "Raleway";
        font-weight: 500;
        text-align: center;
        color: white;
        cursor: pointer; }
        section#second div.container p button::before {
          content: " ";
          background-image: url("/images/svg/arrow-forward.svg");
          position: absolute;
          display: block;
          width: 15px;
          height: 15px;
          top: 12.5px;
          left: 12.5px; }
        section#second div.container p button:hover {
          box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
    section#second div.container input[type=checkbox] {
      visibility: hidden;
      position: absolute; }
    section#second div.container input[type=checkbox]:not(:checked) + label {
      font-weight: 400;
      cursor: pointer;
      position: relative;
      margin-left: 30px;
      line-height: 20px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.54);
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      vertical-align: top;
      display: inline-block;
      margin-bottom: 20px;
      padding-left: 0; }
      section#second div.container input[type=checkbox]:not(:checked) + label span.service-description-button {
        position: relative;
        z-index: 5;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        background-color: #20D320;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
        margin-left: 10px;
        color: white;
        text-align: center;
        font-family: "Raleway";
        font-weight: 500;
        border-radius: 50%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        line-height: 20px; }
        section#second div.container input[type=checkbox]:not(:checked) + label span.service-description-button:hover {
          box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
      section#second div.container input[type=checkbox]:not(:checked) + label svg {
        position: absolute;
        top: 0;
        left: -30px;
        width: 20px;
        height: 20px;
        display: inline-block; }
        section#second div.container input[type=checkbox]:not(:checked) + label svg polyline {
          stroke-dasharray: 17;
          stroke-dashoffset: 17;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      section#second div.container input[type=checkbox]:not(:checked) + label::before {
        content: " ";
        position: absolute;
        top: 0;
        left: -30px;
        width: 20px;
        height: 20px;
        border: 2px solid rgba(0, 0, 0, 0.54);
        box-sizing: border-box;
        display: inline-block;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    section#second div.container input[type=checkbox]:checked + label {
      font-weight: 400;
      cursor: pointer;
      position: relative;
      margin-left: 30px;
      line-height: 20px;
      font-size: 18px;
      color: black;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      vertical-align: top;
      display: inline-block;
      margin-bottom: 20px;
      padding-left: 0; }
      section#second div.container input[type=checkbox]:checked + label span.service-description-button {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        background-color: #20D320;
        box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
        margin-left: 10px;
        color: white;
        text-align: center;
        font-family: "Raleway";
        font-weight: 500;
        border-radius: 50%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        line-height: 20px; }
        section#second div.container input[type=checkbox]:checked + label span.service-description-button:hover {
          box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
      section#second div.container input[type=checkbox]:checked + label svg {
        position: absolute;
        top: 0;
        left: -30px;
        width: 20px;
        height: 20px;
        display: inline-block; }
        section#second div.container input[type=checkbox]:checked + label svg polyline {
          stroke-dasharray: 17;
          stroke-dashoffset: 0;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      section#second div.container input[type=checkbox]:checked + label::before {
        content: " ";
        position: absolute;
        top: 0;
        left: -30px;
        width: 20px;
        height: 20px;
        border: 2px solid #99BBFF;
        box-sizing: border-box;
        display: inline-block;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }

p#cooperation-link-container {
  margin: 0 0 40px 0;
  text-align: center; }
  p#cooperation-link-container a#cooperation-link {
    zoom: 1.2;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: auto;
    padding: 5px 15px 5px 40px;
    box-sizing: border-box;
    background-color: #4967AF;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    border-radius: 17.5px;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    text-transform: uppercase;
    line-height: 25px;
    font-size: 12px;
    font-family: "Raleway";
    font-weight: 500;
    text-align: center; }
    p#cooperation-link-container a#cooperation-link::before {
      content: " ";
      background-image: url("/images/svg/arrow-forward.svg");
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      top: 10px;
      left: 12.5px; }
    p#cooperation-link-container a#cooperation-link:hover {
      box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }

h2#services-header {
  width: 800px;
  margin: 120px auto 40px auto;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: center; }
  h2#services-header strong {
    font-weight: 500; }

section.service-description {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  section.service-description h3 {
    margin: 0;
    margin-bottom: 15px;
    line-height: 35px;
    width: calc(100% - 175px);
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top; }
  section.service-description a.to-calculator {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 35px;
    width: 175px;
    padding: 5px 15px 5px 40px;
    box-sizing: border-box;
    background-color: #20D320;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    border-radius: 17.5px;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    text-transform: uppercase;
    line-height: 25px;
    font-size: 12px;
    font-family: "Raleway";
    font-weight: 500;
    text-align: center; }
    section.service-description a.to-calculator::before {
      content: " ";
      background-image: url("/images/svg/arrow-forward.svg");
      transform: rotate(-90deg);
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      top: 10px;
      left: 12.5px; }
    section.service-description a.to-calculator:hover {
      box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
  section.service-description p {
    margin: 0;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    line-height: 160%; }
    section.service-description p strong {
      color: #FF1749;
      font-weight: 500; }
  section.service-description ul {
    margin: 15px 0 15px 10px;
    list-style: none;
    padding: 0;
    color: rgba(0, 0, 0, 0.54); }
    section.service-description ul li {
      margin: 0 0 10px 0;
      /*padding: 0 0 0 20px;*/
      /*background-image: url("/images/svg/list-marker.svg");*/
      background-position: 0 3px;
      background-size: 15px 15px;
      background-repeat: no-repeat; }
  section.service-description > div {
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    border-radius: 2px; }

section.service-description:last-of-type {
  margin-bottom: 0;
  border-bottom: none; }

@media (min-width: 730px) and (max-width: 1199px) {
  body section#first {
    height: calc(100vh - 80px);
  }

  section#second {
    width: 600px; }

  h2#services-header {
    width: 600px;
    margin: 80px auto 40px auto; }

  section.service-description {
    width: 600px; } }
@media (min-width: 320px) and (max-width: 729px) {
  .checkbox-group {
    padding: 5px 0;
  }

  body section#first {
    height: auto !important;
  }

  #down {
    display: none;
  }

    section#second div.rent-description-container {
      margin-bottom: 80px; }
      section#second div.rent-description-container p.rent-description-text {
        font-size: 14px; }
      section#second div.rent-description-container h3.rent-description-subheader {
        font-size: 20px; }
      section#second div.rent-description-container ul.rent-description-list li {
        font-size: 16px;
        width: 100%; }

  p#cooperation-link-container {
    margin: 20px 0 40px 0; }

  section#second {
    width: calc(100% - 20px); }
    section#second h2 {
      font-size: 24px;
      margin: 20px 0; }
    section#second div.container {
      padding: 0 10px 20px 10px; }
      section#second div.container h3 {
        padding-top: 20px;
        font-size: 20px;
        margin-top: 0; }
        section#second div.container h3 span {
          width: 20px;
          height: 20px;
          line-height: 18px; }
      section#second div.container div.inputs {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        padding: 0; }
      section#second div.container div.inputs:nth-of-type(2) {
        margin-bottom: 0; }
    section#second input[type=checkbox]:not(:checked) + label {
      font-size: 16px !important; }
    section#second input[type=checkbox]:checked + label {
      font-size: 16px !important; }

  h2#services-header {
    width: calc(100% - 20px);
    margin: 60px auto 20px auto;
    font-size: 24px; }

  section.service-description {
    width: calc(100% - 20px);
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 14px; }
    section.service-description h3 {
      display: block;
      width: 100%;
      line-height: 20px;
      font-size: 20px; }
    section.service-description a.to-calculator {
      margin-bottom: 20px; }
    section.service-description p {
      font-size: 14px; }
    section.service-description > div {
      padding: 10px; } }
section div img.large {
  display: block;
  width: 100%;
  height: auto; }
section div img.medium {
  display: none;
  width: 100%;
  height: auto; }
section div img.small {
  display: none;
  width: 270px;
  height: auto;
  margin: 0 auto; }

section#hotel-contacts-desc div {
  text-align: center; }
  section#hotel-contacts-desc div div.item {
    box-shadow: none;
    border-radius: 0;
    height: 35px;
    display: inline-block;
    padding: 0;
    margin: 0 37.5px 25px 37.5px; }
    section#hotel-contacts-desc div div.item img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      vertical-align: top; }
    section#hotel-contacts-desc div div.item p {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 120px;
      font-size: 13px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.87);
      vertical-align: top;
      text-align: left; }
  section#hotel-contacts-desc div div.item-rich {
    box-shadow: none;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    margin: 0 37.5px; }
    section#hotel-contacts-desc div div.item-rich img {
      width: 35px;
      height: 35px;
      margin: 0 5px;
      vertical-align: top; }
    section#hotel-contacts-desc div div.item-rich p {
      margin: 5px 0 0 0;
      line-height: 15px;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.87); }

section#speed-desc div {
  padding: 0; }

@media (min-width: 730px) and (max-width: 1199px) {
  section div img.large {
    display: none; }
  section div img.medium {
    display: block; }
  section div img.small {
    display: none; }

  section#hotel-contacts-desc div {
    padding: 20px 5px; }
    section#hotel-contacts-desc div div.item {
      margin: 0 15px 25px 15px; }
    section#hotel-contacts-desc div div.item-rich {
      margin: 0 30px; }

  section#speed-desc div {
    padding: 0; } }
@media (min-width: 320px) and (max-width: 729px) {
  section div img.large {
    display: none; }
  section div img.medium {
    display: none; }
  section div img.small {
    display: block; }

  section#hotel-contacts-desc div {
    padding: 20px 10px; }
    section#hotel-contacts-desc div div.item {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px; }
    section#hotel-contacts-desc div div.item-rich {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px; }
    section#hotel-contacts-desc div div.item-rich:last-of-type {
      margin-bottom: 0; }

  section#speed-desc div {
    padding: 10px;
    background-color: #f2f2f2; } }
@keyframes arrow-down-animation {
  0% {
    transform: rotateY(0) translate(0, -20px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotateY(720deg) translate(0, 0);
    opacity: 0; } }
body {
  padding: 0 0 0 160px;
  font-family: "Noto Sans";
  font-weight: 400;
  margin: 0; }
  body section#first {
    position: relative;
    padding: 80px;
    box-sizing: border-box; }
    body section#first div#contacts {
      z-index: 1;
      position: absolute;
      top: 60px;
      left: 80px;
      height: auto;
      text-align: center; }
      body section#first div#contacts div.container {
        display: inline-block;
        width: 200px;
        margin-right: 20px;
        text-align: left; }
        body section#first div#contacts div.container p {
          font-size: 17px;
          color: white;
          margin: 5px 0 10px 0;
          line-height: 15px; }
        body section#first div#contacts div.container p:last-of-type {
          margin: 0;}
    body section#first button[role=button] {
      z-index: 1;
      border: none;
      background: none;
      width: 30px;
      height: 15px;
      position: absolute;
      bottom: 20px;
      left: calc(50% - 15px);
      cursor: pointer;
      padding: 0;
      perspective: 1200px;
      outline: none; }
      body section#first button[role=button] img {
        width: 30px;
        height: auto;
        display: block;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        animation: arrow-down-animation 1.5s infinite; }
    body section#first div#header {
      height: 100%;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      position: relative; }
      body section#first div#header div {
        width: 880px;
        color: white;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        body section#first div#header div h1 {
          font-family: "Raleway";
          font-weight: 100;
          font-size: 60px;
          margin: 0 0 40px 0;
          padding: 0; }
          body section#first div#header div h1 strong {
            font-weight: 300; }
        body section#first div#header div p {
          font-size: 24px;
          line-height: 28px;
          margin: 0;
          padding: 0;
          font-weight: 300; }
      body section#first div#header nav {
        height: 40px;
        position: absolute;
        width: 100%;
        bottom: 0;
        direction: rtl;
        text-align: left; }
        body section#first div#header nav br {
          display: none; }
        body section#first div#header nav a {
          direction: ltr;
          color: white;
          text-decoration: none;
          position: relative;
          display: inline-block;
          height: 40px;
          padding: 10px 20px 10px 40px;
          box-sizing: border-box;
          background-color: #4967AF;
          box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
          border-radius: 20px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
          text-transform: uppercase;
          line-height: 20px;
          font-size: 14px;
          font-family: "Raleway";
          font-weight: 500;
          text-align: center; }
          body section#first div#header nav a::before {
            content: " ";
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            top: 12.5px;
            left: 12.5px; }
          body section#first div#header nav a:hover {
            box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
        body section#first div#header nav a.red {
          background-color: #FF1749; }
          body section#first div#header nav a.red::before {
            background-image: url("/images/svg/arrow-forward.svg"); }
        body section#first div#header nav a.green {
          background-color: #20D320;
          margin: 0 20px; }
          body section#first div#header nav a.green::before {
            background-image: url("/images/svg/phone.svg"); }
        body section#first div#header nav a.blue {
          position: absolute;
          right: 0; }
          body section#first div#header nav a.blue::before {
            background-image: url("/images/svg/download.svg"); }
    body section#first div#image-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1; }
      body section#first div#image-container div.overlay {
        background-color: rgba(0, 0, 0, 0.48);
        position: absolute;
        width: 100%;
        height: 100%; }
      body section#first div#image-container div.image {
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2; }

@media (min-width: 730px) and (max-width: 1199px) {
  body {
    padding: 80px 0 0 0; }
    body section#first {
      padding: 40px; }
      body section#first div#contacts {
        left: 40px;
        top: 40px; }
      body section#first div#header {
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 80px); }
        body section#first div#header div {
          position: static;
          transform: none;
          width: 100%; }
          body section#first div#header div p {
            margin-bottom: 40px; }
        body section#first div#header nav {
          position: static;
          direction: ltr;
          height: auto; }
          body section#first div#header nav br {
            display: inline; }
          body section#first div#header nav a.green {
            margin: 0;
            margin-bottom: 20px; }
          body section#first div#header nav a {
            width: auto;
            margin-bottom: 20px; }
          body section#first div#header nav a.blue {
            position: relative;
            right: 0; } }
@media (min-width: 320px) and (max-width: 729px) {
  body {
    padding: 60px 0 0 0; }
    body section#first {
      padding: 15px; }
      body section#first div#contacts {
        display: none; }
      body section#first div#header {
        height: auto;
        position: static;
        /*top: 50%;
        transform: translateY(-50%);*/
        transform: none;
        width: calc(100% - 30px); }
        body section#first div#header div {
          position: static;
          transform: none;
          width: 100%; }
          body section#first div#header div h1 {
            margin-bottom: 20px;
            font-size: 36px; }
          body section#first div#header div p {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 20px; }
        body section#first div#header nav {
          position: static;
          direction: ltr;
          height: 160px; }
          body section#first div#header nav br {
            display: inline; }
          body section#first div#header nav a.green {
            margin: 0;
            margin-bottom: 20px; }
          body section#first div#header nav a {
            width: auto;
            margin-bottom: 20px;
            font-size: 12px; }
          body section#first div#header nav a.blue {
            white-space: nowrap;
            position: relative;
            right: 0; } }
header#pc {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  perspective: 2000px; }
  header#pc img {
    width: 140px;
    height: 120px;
    display: block;
    margin: 20px auto; }
  header#pc div#h-locale-selector {
    position: relative; }
    header#pc div#h-locale-selector div#h-locale-current {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current span {
        display: inline-block;
        text-align: center;
        width: 100%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current::before {
        content: " ";
        width: 20px;
        height: 40px;
        position: absolute;
        background-image: url("/images/svg/locale-arrow.svg");
        background-size: 20px 40px;
        opacity: 0;
        right: 0;
        transform: translateX(-20px);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc div#h-locale-selector div#h-locale-current:hover {
      background-color: rgba(255, 255, 255, 0.12); }
      header#pc div#h-locale-selector div#h-locale-current:hover span {
        width: 40%; }
      header#pc div#h-locale-selector div#h-locale-current:hover::before {
        transform: translateX(0px);
        opacity: 1; }
    header#pc div#h-locale-selector ul#h-locale-list {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 0;
      left: 100%;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#pc div#h-locale-selector ul#h-locale-list li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#pc div#h-locale-selector ul#h-locale-list li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#pc div#h-locale-selector ul#h-locale-list li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#pc nav {
    margin-top: 50px; }
    header#pc nav a {
      color: white;
      text-decoration: none;
      display: block;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc nav a:hover {
      background-color: rgba(255, 255, 255, 0.12); }

@media (max-width: 1199px) {
  header#pc {
    display: none; } }
header#mobile {
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  perspective: 900px; }
  header#mobile img {
    width: 115px;
    height: 40px; }
  header#mobile div#h-locale-selector-mobile {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px;
    line-height: 20px;
    cursor: pointer; }
    header#mobile div#h-locale-selector-mobile::before {
      content: " ";
      position: absolute;
      height: 40px;
      width: 20px;
      background-image: url("/images/svg/locale-arrow-mobile.svg");
      right: 0;
      top: 0; }
    header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
      z-index: 9100;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 60px;
      left: 0;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#mobile div#h-menu-mobile {
    position: absolute;
    width: 25px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-image: url("/images/svg/menu-mobile.svg");
    cursor: pointer; }
  header#mobile ul#h-menu-list-mobile {
    z-index: 9050;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    header#mobile ul#h-menu-list-mobile li {
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #2A2F5D;
      transform: rotateX(-90deg);
      text-align: center; }
      header#mobile ul#h-menu-list-mobile li a {
        color: white;
        text-decoration: none;
        display: block;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#mobile ul#h-menu-list-mobile li a:hover {
        background-color: rgba(255, 255, 255, 0.12); }

@media (min-width: 1200px) {
  header#mobile {
    display: none; } }
@media (min-width: 320px) and (max-width: 729px) {
  header#mobile {
    height: 60px;
    padding: 15px; }
    header#mobile img {
      height: 30px;
      width: auto; }
    header#mobile div#h-locale-selector-mobile {
      right: 45px;
      top: 10px;
      width: 105px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
        top: 50px;
        width: 105px; }
    header#mobile div#h-menu-mobile {
      right: 10px;
      top: 10px; }
    header#mobile ul#h-menu-list-mobile {
      top: 60px; } }
header#pc {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  perspective: 2000px; }
  header#pc img {
    width: 140px;
    height: 120px;
    display: block;
    margin: 20px auto; }
  header#pc div#h-locale-selector {
    position: relative; }
    header#pc div#h-locale-selector div#h-locale-current {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current span {
        display: inline-block;
        text-align: center;
        width: 100%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current::before {
        content: " ";
        width: 20px;
        height: 40px;
        position: absolute;
        background-image: url("/images/svg/locale-arrow.svg");
        background-size: 20px 40px;
        opacity: 0;
        right: 0;
        transform: translateX(-20px);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc div#h-locale-selector div#h-locale-current:hover {
      background-color: rgba(255, 255, 255, 0.12); }
      header#pc div#h-locale-selector div#h-locale-current:hover span {
        width: 40%; }
      header#pc div#h-locale-selector div#h-locale-current:hover::before {
        transform: translateX(0px);
        opacity: 1; }
    header#pc div#h-locale-selector ul#h-locale-list {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 0;
      left: 100%;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#pc div#h-locale-selector ul#h-locale-list li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#pc div#h-locale-selector ul#h-locale-list li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#pc div#h-locale-selector ul#h-locale-list li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#pc nav {
    margin-top: 50px; }
    header#pc nav a {
      color: white;
      text-decoration: none;
      display: block;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc nav a:hover {
      background-color: rgba(255, 255, 255, 0.12); }

@media (max-width: 1199px) {
  header#pc {
    display: none; } }
header#mobile {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  perspective: 900px; }
  header#mobile img {
    width: 115px;
    height: 40px; }
  header#mobile div#h-locale-selector-mobile {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px;
    line-height: 20px;
    cursor: pointer; }
    header#mobile div#h-locale-selector-mobile::before {
      content: " ";
      position: absolute;
      height: 40px;
      width: 20px;
      background-image: url("/images/svg/locale-arrow-mobile.svg");
      right: 0;
      top: 0; }
    header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
      z-index: 9100;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 60px;
      left: 0;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#mobile div#h-menu-mobile {
    position: absolute;
    width: 25px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-image: url("/images/svg/menu-mobile.svg");
    cursor: pointer; }
  header#mobile ul#h-menu-list-mobile {
    z-index: 9050;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    header#mobile ul#h-menu-list-mobile li {
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #2A2F5D;
      transform: rotateX(-90deg);
      text-align: center; }
      header#mobile ul#h-menu-list-mobile li a {
        color: white;
        text-decoration: none;
        display: block;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#mobile ul#h-menu-list-mobile li a:hover {
        background-color: rgba(255, 255, 255, 0.12); }

@media (min-width: 1200px) {
  header#mobile {
    display: none; } }
@media (min-width: 320px) and (max-width: 729px) {
  header#mobile {
    height: 60px;
    padding: 15px; }
    header#mobile img {
      height: 30px;
      width: auto; }
    header#mobile div#h-locale-selector-mobile {
      right: 45px;
      top: 10px;
      width: 105px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
        top: 50px;
        width: 105px; }
    header#mobile div#h-menu-mobile {
      right: 10px;
      top: 10px; }
    header#mobile ul#h-menu-list-mobile {
      top: 60px; } }
