section div img.large {
  display: block;
  width: 100%;
  height: auto; }
section div img.medium {
  display: none;
  width: 100%;
  height: auto; }
section div img.small {
  display: none;
  width: 270px;
  height: auto;
  margin: 0 auto; }

section#hotel-contacts-desc div {
  text-align: center; }
  section#hotel-contacts-desc div div.item {
    box-shadow: none;
    border-radius: 0;
    height: 35px;
    display: inline-block;
    padding: 0;
    margin: 0 37.5px 25px 37.5px; }
    section#hotel-contacts-desc div div.item img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      vertical-align: top; }
    section#hotel-contacts-desc div div.item p {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 120px;
      font-size: 13px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.87);
      vertical-align: top;
      text-align: left; }
  section#hotel-contacts-desc div div.item-rich {
    box-shadow: none;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    margin: 0 37.5px; }
    section#hotel-contacts-desc div div.item-rich img {
      width: 35px;
      height: 35px;
      margin: 0 5px;
      vertical-align: top; }
    section#hotel-contacts-desc div div.item-rich p {
      margin: 5px 0 0 0;
      line-height: 15px;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.87); }

section#speed-desc div {
  padding: 0; }

@media (min-width: 730px) and (max-width: 1199px) {
  section div img.large {
    display: none; }
  section div img.medium {
    display: block; }
  section div img.small {
    display: none; }

  section#hotel-contacts-desc div {
    padding: 20px 5px; }
    section#hotel-contacts-desc div div.item {
      margin: 0 15px 25px 15px; }
    section#hotel-contacts-desc div div.item-rich {
      margin: 0 30px; }

  section#speed-desc div {
    padding: 0; } }
@media (min-width: 320px) and (max-width: 729px) {
  section div img.large {
    display: none; }
  section div img.medium {
    display: none; }
  section div img.small {
    display: block; }

  section#hotel-contacts-desc div {
    padding: 20px 10px; }
    section#hotel-contacts-desc div div.item {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px; }
    section#hotel-contacts-desc div div.item-rich {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px; }
    section#hotel-contacts-desc div div.item-rich:last-of-type {
      margin-bottom: 0; }

  section#speed-desc div {
    padding: 10px;
    background-color: #f2f2f2; } }
