@keyframes arrow-down-animation {
  0% {
    transform: rotateY(0) translate(0, -20px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotateY(720deg) translate(0, 0);
    opacity: 0; } }
body {
  padding: 0 0 0 160px;
  font-family: "Noto Sans";
  font-weight: 400;
  margin: 0; }
  body section#first {
    position: relative;
    padding: 80px;
    box-sizing: border-box; }
    body section#first div#contacts {
      position: absolute;
      top: 60px;
      left: 80px;
      height: auto;
      text-align: center; }
      body section#first div#contacts div.container {
        display: inline-block;
        width: 200px;
        margin-right: 20px;
        text-align: left; }
        body section#first div#contacts div.container p {
          font-size: 18px;
          color: white;
          margin: 0 0 10px 0;
          line-height: 15px; }
    body section#first button[role=button] {
      z-index: 1;
      border: none;
      background: none;
      width: 30px;
      height: 15px;
      position: absolute;
      bottom: 20px;
      left: calc(50% - 15px);
      cursor: pointer;
      padding: 0;
      perspective: 1200px;
      outline: none; }
      body section#first button[role=button] img {
        width: 30px;
        height: auto;
        display: block;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        animation: arrow-down-animation 1.5s infinite; }
    body section#first div#header {
      height: 100%;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      position: relative; }
      body section#first div#header div {
        width: 880px;
        color: white;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        body section#first div#header div h1 {
          font-family: "Raleway";
          font-weight: 100;
          font-size: 60px;
          margin: 0 0 40px 0;
          padding: 0; }
          body section#first div#header div h1 strong {
            font-weight: 300; }
        body section#first div#header div p {
          font-size: 24px;
          line-height: 28px;
          margin: 0;
          padding: 0;
          font-weight: 300; }
      body section#first div#header nav {
        height: 40px;
        position: absolute;
        width: 100%;
        bottom: 0;
        direction: rtl;
        text-align: left; }
        body section#first div#header nav br {
          display: none; }
        body section#first div#header nav a {
          direction: ltr;
          color: white;
          text-decoration: none;
          position: relative;
          display: inline-block;
          height: 40px;
          padding: 10px 20px 10px 40px;
          box-sizing: border-box;
          background-color: #4967AF;
          box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
          border-radius: 20px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
          text-transform: uppercase;
          line-height: 20px;
          font-size: 14px;
          font-family: "Raleway";
          font-weight: 500;
          text-align: center; }
          body section#first div#header nav a::before {
            content: " ";
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            top: 12.5px;
            left: 12.5px; }
          body section#first div#header nav a:hover {
            box-shadow: rgba(0, 0, 0, 0.15686) 0px 3px 10px, rgba(0, 0, 0, 0.22745) 0px 3px 10px; }
        body section#first div#header nav a.red {
          background-color: #FF1749; }
          body section#first div#header nav a.red::before {
            background-image: url(arrow-forward.svg); }
        body section#first div#header nav a.green {
          background-color: #20D320;
          margin: 0 20px; }
          body section#first div#header nav a.green::before {
            background-image: url(phone.svg); }
        body section#first div#header nav a.blue {
          position: absolute;
          right: 0; }
          body section#first div#header nav a.blue::before {
            background-image: url(download.svg); }
    body section#first div#image-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1; }
      body section#first div#image-container div.overlay {
        background-color: rgba(0, 0, 0, 0.48);
        position: absolute;
        width: 100%;
        height: 100%; }
      body section#first div#image-container div.image {
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2; }

@media (min-width: 730px) and (max-width: 1199px) {
  body {
    padding: 80px 0 0 0; }
    body section#first {
      padding: 40px; }
      body section#first div#contacts {
        left: 40px;
        top: 40px; }
      body section#first div#header {
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 80px); }
        body section#first div#header div {
          position: static;
          transform: none;
          width: 100%; }
          body section#first div#header div p {
            margin-bottom: 40px; }
        body section#first div#header nav {
          position: static;
          direction: ltr;
          height: auto; }
          body section#first div#header nav br {
            display: inline; }
          body section#first div#header nav a.green {
            margin: 0;
            margin-bottom: 20px; }
          body section#first div#header nav a {
            width: auto;
            margin-bottom: 20px; }
          body section#first div#header nav a.blue {
            position: relative;
            right: 0; } }
@media (min-width: 320px) and (max-width: 729px) {
  body {
    padding: 60px 0 0 0; }
    body section#first {
      padding: 15px; }
      body section#first div#contacts {
        display: none; }
      body section#first div#header {
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 30px); }
        body section#first div#header div {
          position: static;
          transform: none;
          width: 100%; }
          body section#first div#header div h1 {
            margin-bottom: 20px;
            font-size: 36px; }
          body section#first div#header div p {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 20px; }
        body section#first div#header nav {
          position: static;
          direction: ltr;
          height: 160px; }
          body section#first div#header nav br {
            display: inline; }
          body section#first div#header nav a.green {
            margin: 0;
            margin-bottom: 20px; }
          body section#first div#header nav a {
            width: auto;
            margin-bottom: 20px;
            font-size: 12px; }
          body section#first div#header nav a.blue {
            position: relative;
            right: 0; } }
header#pc {
  z-index: 9000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  perspective: 2000px; }
  header#pc img {
    width: 140px;
    height: 120px;
    display: block;
    margin: 20px auto; }
  header#pc div#h-locale-selector {
    position: relative; }
    header#pc div#h-locale-selector div#h-locale-current {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current span {
        display: inline-block;
        text-align: center;
        width: 100%;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#pc div#h-locale-selector div#h-locale-current::before {
        content: " ";
        width: 20px;
        height: 40px;
        position: absolute;
        background-image: url(locale-arrow.svg);
        background-size: 20px 40px;
        opacity: 0;
        right: 0;
        transform: translateX(-20px);
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc div#h-locale-selector div#h-locale-current:hover {
      background-color: rgba(255, 255, 255, 0.12); }
      header#pc div#h-locale-selector div#h-locale-current:hover span {
        width: 40%; }
      header#pc div#h-locale-selector div#h-locale-current:hover::before {
        transform: translateX(0px);
        opacity: 1; }
    header#pc div#h-locale-selector ul#h-locale-list {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 0;
      left: 100%;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#pc div#h-locale-selector ul#h-locale-list li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#pc div#h-locale-selector ul#h-locale-list li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#pc div#h-locale-selector ul#h-locale-list li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#pc nav {
    margin-top: 50px; }
    header#pc nav a {
      color: white;
      text-decoration: none;
      display: block;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
    header#pc nav a:hover {
      background-color: rgba(255, 255, 255, 0.12); }

@media (max-width: 1199px) {
  header#pc {
    display: none; } }
header#mobile {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2A2F5D;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  perspective: 900px; }
  header#mobile img {
    width: 115px;
    height: 40px; }
  header#mobile div#h-locale-selector-mobile {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px;
    line-height: 20px;
    cursor: pointer; }
    header#mobile div#h-locale-selector-mobile::before {
      content: " ";
      position: absolute;
      height: 40px;
      width: 20px;
      background-image: url(locale-arrow-mobile.svg);
      right: 0;
      top: 0; }
    header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
      z-index: 9100;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transform: rotateY(-45deg);
      top: 60px;
      left: 0;
      list-style: none;
      width: 160px;
      margin: 0;
      padding: 0;
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li {
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #2A2F5D;
        transform: rotateX(-90deg); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a {
          color: white;
          text-decoration: none;
          display: block;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
        header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile li a:hover {
          background-color: rgba(255, 255, 255, 0.12); }
  header#mobile div#h-menu-mobile {
    position: absolute;
    width: 25px;
    height: 40px;
    right: 20px;
    top: 20px;
    background-image: url(menu-mobile.svg);
    cursor: pointer; }
  header#mobile ul#h-menu-list-mobile {
    z-index: 9050;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px; }
    header#mobile ul#h-menu-list-mobile li {
      transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #2A2F5D;
      transform: rotateX(-90deg);
      text-align: center; }
      header#mobile ul#h-menu-list-mobile li a {
        color: white;
        text-decoration: none;
        display: block;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1); }
      header#mobile ul#h-menu-list-mobile li a:hover {
        background-color: rgba(255, 255, 255, 0.12); }

@media (min-width: 1200px) {
  header#mobile {
    display: none; } }
@media (min-width: 320px) and (max-width: 729px) {
  header#mobile {
    height: 60px;
    padding: 15px; }
    header#mobile img {
      height: 30px;
      width: auto; }
    header#mobile div#h-locale-selector-mobile {
      right: 45px;
      top: 10px;
      width: 105px; }
      header#mobile div#h-locale-selector-mobile ul#h-locale-list-mobile {
        top: 50px;
        width: 105px; }
    header#mobile div#h-menu-mobile {
      right: 10px;
      top: 10px; }
    header#mobile ul#h-menu-list-mobile {
      top: 60px; } }
