@import "../reset-styles";

section.bs-nf-container {
	margin: 40px auto;
	max-width: 1200px;
}

h2.bs-nf-header {
	font-size: 24px;
	line-height: 25px;
	text-align: center;
	margin-bottom: 20px;
}

p.bs-nf-description {
	font-size: 16px;
	line-height: 160%;
	color: rgba(black, .54);
	text-align: center;
	max-width: 600px;
	margin: 0 auto
}

div.bs-nf-telephones {
	margin: 40px 0;

	a.bs-nf-tel {
		color: #4967af;
		font-size: 20px;
		line-height: 20px;
		font-weight: 700;
		font-family: "Noto Sans";
		display: block;
		width: 190px;
		margin: 0 auto;
		border-bottom: 1px solid rgba(#4967af, 0);
		text-align: center;

		&:first-of-type {
			margin-bottom: 15px;
		}
		
		&:hover {
			border-bottom: 1px solid rgba(#4967af, 1);
		}
	}
}

div.bs-nf-buttons {
	text-align: center;
	font-size: 0;
	word-spacing: 40px;

	button.bs-nf-button {
		box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
		width: 240px;
		display: inline-block;
		padding: 0 20px 0 40px;
		box-sizing: border-box;
		line-height: 40px;
		text-transform: uppercase;
		color: white;
		border: none;
		outline: none;
		cursor: pointer;
		font-family: "Raleway";
		font-weight: 500;
		border-radius: 20px;
		margin: 0 auto;
		position: relative;

		&:hover {
			box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
		}

		&::before {
			content: " ";
			position: absolute;
			display: block;
			width: 15px;
			height: 15px;
			top: 12px;
			left: 12px;
		}
	}

	button.bs-nf-write-to-us {
		background-color: #20d320;

		&:before {
			background-image: url(img/email.svg);
		}
	}

	button.bs-nf-recall {
		background-color: #4967af;

		&:before {
			background-image: url(img/phone.svg);
		}
	}
}

section.vk-calc-sitetypes {
	margin: 40px auto;
	position: relative;
	max-width: 1200px;
}

div#types-container {
	position: absolute;
	white-space: nowrap;
	transition: all .45s cubic-bezier(0.23, 1, 0.32, 1);

	div.type-item {
		display: inline-block;
		vertical-align: top;
		width: 300px;
		height: 480px;
		box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
		border-radius: 2px;
		margin: 0 10px;
		box-sizing: border-box;
		padding: 20px;

		img {
			width: 175px;
			height: 175px;
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		div.header {
			position: relative;
			height: 40px;

			h2 {
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin: 0;
				padding: 0;
				font-size: 20px;
				font-family: "Raleway";
				font-weight: 300;
				text-align: center;
				line-height: 24px;

				span {
					display: block;
					font-size: 16px;
				}
			}
		}

		hr {
			border: none;
			display: block;
			width: 120px;
			height: 1px;
			background-color: rgba(black, .12);
			margin: 20px auto;
		}

		p {
			white-space: normal;
			min-height: 75px;
			font-size: 14px;
			line-height: 20px;
			color: rgba(black, .54);
			margin: 0;
			margin-bottom: 20px;
		}

		a {
			text-decoration: none;
			color: white;
			position: relative;
			display: block;
			height: 40px;
			padding: 10px 20px 10px 40px;
			box-sizing: border-box;
			background-color: #4967AF;
			box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
			border-radius: 20px;
			transition: all .45s cubic-bezier(0.23, 1, 0.32, 1);
			text-transform: uppercase;
			line-height: 20px;
			font-size: 14px;
			font-family: "Raleway";
			font-weight: 500;
			text-align: center;

			&::before {
				content: " ";
				position: absolute;
				display: block;
				width: 15px;
				height: 15px;
				background-image: url(arrow-forward.svg);
				top: 12.5px;
				left: 12.5px;
			}

			&:hover {
				box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
			}
		}
	}
}

@media (min-width: 1800px) {

	div#types-container {
		position: static;
		margin-top: 40px;
		text-align: center;
		white-space: normal;

		div.type-item {
			width: 340px;
			height: 255px;
			margin: 5px;

			img {
				width: 60px;
				height: 60px;
				display: inline-block;
				margin-right: 20px;
				vertical-align: top;
			}

			div.header {
				display: inline-block;
				width: 220px;
				height: 60px;
				vertical-align: top;
			}

			hr {
				display: none;
			}

			p {
				height: 75px;
				text-align: left;
			}
		}
	}
}

@media (max-width: 1799px) {

	div#types-container {
		position: static;
		margin-top: 40px;
		text-align: center;
		white-space: normal;

		div.type-item {
			width: 340px;
			height: 255px;
			margin: 5px;

			img {
				width: 60px;
				height: 60px;
				display: inline-block;
				margin-right: 20px;
				vertical-align: top;
			}

			div.header {
				display: inline-block;
				width: 220px;
				height: 60px;
				vertical-align: top;
			}

			hr {
				display: none;
			}

			p {
				height: 75px;
				text-align: left;
			}
		}
	}
}

@media (max-width: 1199px) {

	section.vk-calc-sitetypes {
		width: calc(100% - 30px);
	}

	div#types-container {
		position: static;
		margin-top: 40px;
		text-align: center;
		white-space: normal;

		div.type-item {
			width: 340px;
			height: 255px;
			margin: 5px;

			img {
				width: 60px;
				height: 60px;
				display: inline-block;
				margin-right: 20px;
				vertical-align: top;
			}

			div.header {
				display: inline-block;
				width: 220px;
				height: 60px;
				vertical-align: top;
			}

			hr {
				display: none;
			}

			p {
				height: 75px;
				text-align: left;
			}
		}
	}

	ul.vk-calc-cost-factors-list {
		width: calc(100% - 40px);
	}
}

@media (max-width: 729px) {

	section.bs-nf-container {
		width: calc(100% - 20px);
	}

	div.bs-nf-buttons {

		button.bs-nf-button:first-of-type {

			margin-bottom: 20px;
		}
	}

	h1 {
		font-size: 24px;
		margin: 20px auto;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
	}

	section.vk-calc-sitetypes {
		margin: 40px auto;
		width: 100%;

		h2.vk-calc-sitetypes-h {
			margin-bottom: 20px;
		}
	}

	div#types-container {
		margin-top: 0;
		width: 100%;
		position: static;
		text-align: center;
		white-space: normal;

		div.type-item {
			width: 100%;
			max-width: 340px;
			height: auto;
			margin: 5px 0;

			img {
				width: 40px;
				height: 40px;
				display: inline-block;
				margin-right: 20px;
				vertical-align: top;
			}

			div.header {
				display: inline-block;
				width: 200px;
				height: 40px;
				vertical-align: top;
			}

			hr {
				display: none;
			}

			p {
				height: auto;
				text-align: left;
			}
		}
	}

	ul.vk-calc-cost-factors-list {
		width: calc(100% - 30px);

		li.vk-calc-cost-factor {
			margin-bottom: 30px;
		}

		h3.vk-calc-cost-factor-name {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
}