.custom-input-calendar {
	-webkit-user-select: none;
}

.calendar-days-wrapper {
	width: 224px;
}

.calendar-day-cell {
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 2px;
	display: inline-block;
	margin: 2px;
	background: #F8F8F8;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	color: rgba(0, 0, 0, .54);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.calendar-day-cell:hover {
	box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
	color: rgba(0, 0, 0, 1);
}

.custom-calendar-day-active {
	background: #4967AF!important;
	color: #fff!important;
}

.calendar-day-cell-st {
	background: #E9ECF5;
	color: rgba(0, 0, 255, .54);
}

.calendar-day-cell-st:hover {
	color: rgba(0, 0, 255, 1);	
}

.calendar-day-cell-sn {
	background: #FFE3E3;
	color: rgba(255, 0, 0, .54);
}

.calendar-day-cell-sn:hover {
	color: rgba(255, 0, 0, 1);
}

.custom-calendar-nav-btn, .custom-calendar-nav-month {
	display: inline-block;
	width: 20px;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
	height: 35px!important;
	overflow: hidden;
	line-height: 35px;
	border-bottom: 1px solid rgba(0, 0, 0, .12);
	font-family: Segoe UI;
	color: rgba(0, 0, 0, .54);
	font-weight: normal;
	padding: 0 0 10px 0;
}

.custom-calendar-nav-btn {
	font-weight: bold;
	color: #4967AF;
}

.custom-calendar-nav-btn img {
	vertical-align: middle;
	height: 20px;
}

.custom-calendar-nav-month {
	width: 184px;
}

.custom-input-calendar {
	position: relative;
	display: inline-block;
	font-size: 0px;
	vertical-align: top;
}

.custom-input-calendar .value {
	height: 35px;
	line-height: 35px;
	border: 1px solid #757575;
	font-size: 16px;
	padding: 0 10px;
	min-width: 200px;
	cursor: pointer;
}

.calendar-block {
	display: none;
	position: absolute;
	text-align: center;
	padding: 10px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
	z-index: 90;
}

.calendar-days-wrapper {
	text-align: left;
}

.calendar-block button {
	border: none;
	outline: none;
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
	background: #123;
	margin: 0 auto;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	display: none;
}

@keyframes showCalendar {
	0% {
		opacity: 0;
		top: 35px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

.calendar-block[dataVisible='true'] {
	display: block;
	animation-name: showCalendar;
    animation-duration: 400ms;
	top: 0;
}

.calendar-week-days {
	font-size: 14px;
}

.calendar-week-day {
	text-transform: lowercase;
	display: inline-block;
	width: 28px;
	margin: 0 2px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: rgba(0, 0, 0, .54);
}

.calendar-hide {
	opacity: 0!important;
	cursor: default;
}