.mdd {
	width: 260px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}


.mdd-b-line {
	height: 40px;
	line-height: 40px;
}

.mdd-b-line .custom-radio {
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
}

.mdd-b-line .custom-radio-body {
	height: 20px;
	margin: 10px 0;
}


.mdd-b-line:hover {
	background: rgba(73, 103, 175, .12);
	color: rgba(73, 103, 175, 1); ;
}

.mdd-b-header {
	height:40px;
	line-height: 40px;
	position: relative;
	padding: 0 0 0 10px;
	font-size: 18px;
	color: rgba(0, 0, 0, .54);
	cursor: pointer;
	position: relative;
}

.mdd-block:last-of-type .mdd-b-header:after {
    display: none;
}

.mdd-b-header:after {
	display: block;
	content: '';
	width: calc(100% - 20px);
	height: 1px;
	background: rgba(0, 0, 0, .12);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	margin-left: 0;
}

.mdd-b-img {
	position: absolute;
	right: 10px;
	top: 10px;
	background: rgba(0, 0, 0, .54);
	width: 20px;
	height: 20px;
	border-radius: 100%;
	overflow: hidden;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	line-height: 20px;
}

.mdd-b-img img {
	height: 100%;
	margin: 1px 0 0 0;
}


.mdd-b-dropdown {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 900ms ease;
	padding: 0 10px;
}

.mdd-block-active .mdd-b-dropdown {
	max-height: 320px;
  border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.mdd-block:last-of-type .mdd-b-dropdown {
    border: none!important;
}

.product-characteristics .mdd-block-active .mdd-b-dropdown {
    max-height: 900px;
}

.mdd-block-active .mdd-b-header {
	color: #4967AF;
}

.mdd-block-active .mdd-b-header:after {
	width: 0px;
	margin-left: 50%;
}

.mdd-block-active .mdd-b-img {
	transform: rotateX(180deg);
	background: #4967AF;
}






.video-galery__video__dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 180px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    cursor: pointer;
}

.video-galery__video__dark-overlay:hover {
    opacity: 1;
}

.video-galery__video__dark-overlay img {
    vertical-align: middle;
    width: 70px;
}

.video-galery {
/*    text-align: justify;*/
    line-height: 200px;
    word-spacing: 20px;
}

.authentication {
    border: 1px solid #4967AF;
    border-radius: 2px;
    overflow: hidden;
    width: 300px;
    margin: 10px auto;
}



.authentication__gray-input {

}
