.custom-help-popup {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 100%;
    display: inline-block;
    z-index: 200;
    text-align: center;
}

.custom-help-msg {
	position: absolute;
	min-width: 200px;
	background: #fff;
	border-radius: 2px;
	width: auto;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	padding: 5px;
	left: 50%;
	transform: translatex(-50%);
	top: calc(100% + 10px);
    z-index: 999999;
}

.custom-help-icon {
	width: 20px;
	height: 20px;
	background: #123;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.custo-help-arrow {
	width: 20px;
	height: 20px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	z-index: 22;
	transform: rotate(45deg);
	position: relative;
	top: 5px;
}

.custo-help-arrow-wrap {
	position: absolute;
	z-index: 99999999;
	height: 10px;
	width: 20px;
	overflow: hidden;
}

.custom-help-hidden-part {
	display: none
}

.custom-help-icon:hover + .custom-help-hidden-part {
	display: block;
	animation-name: customPopupAnimation;
	animation-duration: 300ms;
}

@keyframes customPopupAnimation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
