.custom-radio-circle-wrapper {
	width: 20px;
	height: 20px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.custom-radio .value {
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
}

.custom-radio-circle {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 3px solid #4967AF;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -10px 0 0 -10px;
}

.custom-radio-circle-inside {
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: #123;
	border-radius: 100%;
}

.custom-radio {
	position: relative;
	display: inline-block;
}

.custom-radio>input {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 999;
}

.custom-radio-circle-outside {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	border-radius: 100%;
	background: #4967AF;
	opacity: .1;

}



.custom-radio>input:checked + .custom-radio-body .custom-radio-circle-wrapper .custom-radio-circle-inside {
	margin: -5px 0 0 -5px;
	width: 10px;
	height: 10px;
	background: #4967AF;
	animation-name: centerCircleAnim;
	animation-duration: 300ms;
}

.custom-radio>input:checked + .custom-radio-body .custom-radio-circle-wrapper .custom-radio-circle {
	animation-name: circleAnim;
	animation-duration: 300ms;
}

.custom-radio>input:checked + .custom-radio-body .custom-radio-circle-wrapper .custom-radio-circle-outside {
	animation-name: outCircleAnim;
	animation-duration: 300ms;
}

@keyframes centerCircleAnim {
	from {
		margin: 0 0 0 0;
		width: 0;
		height: 0;
	}

	to {
		margin: -5px 0 0 -5px;
		width: 10px;
		height: 10px;
	}
}

@keyframes circleAnim {
	from {
		width: 10px;
		height: 10px;
		margin: -5px 0 0 -5px;
	}

	to {
		width: 20px;
		height: 20px;
		margin: -10px 0 0 -10px;
	}
}

@keyframes outCircleAnim {
	from {
		width: 0px;
		height: 0px;
		margin: 0 0 0 0;
	}

	to {
		width: 40px;
		height: 40px;
		margin: -20px 0 0 -20px;
	}
}
