body .custom-range-wrapper {
	position: relative!important;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	height: 20px;
}

.custom-range-circle {
	width: 20px;
	height: 20px;
	background: #4967AF;
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin: -10px 0 0 0;
}

.custom-range-circle:before {
	content: attr(data-value);
	position: relative;
	top: -20px;
	display: block;
	text-align: center;
	width: 60px;
	transform: translatex(-50%);
	left: 10px;
	color: #4967AF;
	font-size: 14px;
	font-weight:  bold;
	font-family: Noto Sans;
	background:  linear-gradient(90deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, .9))
}

.custom-range-circle:after {
	content: attr(data-value-bottom);
	position: relative;
	top: 100%;
	display: block;
	text-align: center;
	width: 60px;
	transform: translatex(-50%);
	left: 10px;
	color: #4967AF;
	font-size: 14px;
	font-weight:  bold;
	font-family: Noto Sans;
	background:  linear-gradient(90deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, .9))
}

.custom-range-circle:hover {
	z-index: 900;
}

.custom-range-value-line, .custom-range-back-line {
	height: 4px;
	background: #4967AF;
	border-radius: 2px;
	position: absolute;
	top: 50%;
	margin: -2px 0 0 0;
	
}

.custom-range-value-line {
	left: 0;
}

.custom-range-back-line {
	width: 100%;
	opacity: .38;
}

.custom-range-value {
	top: 100%;
	position: absolute;
	font-size: 16px;
	line-height: 16px;
	color: #4967AF;
	left: 5px;
}

.custom-range-value-no-active {
	opacity: .38;
}

.custom-range-max-value {
	top: 100%;
	position: absolute;
	font-size: 16px;
	line-height: 16px;
	color: #4967AF;
	right: 5px;
	opacity: .38
}

.custom-range-max-value-active {
	opacity: 1;
}

.custom-range-line {
	position: absolute;
	top: 100%;
	height: 10px;
	width: 1px;
	background: rgba(0, 0, 0, .12);
	margin-left: 10px;
}

.custom-range-line-long {
	height: 20px;
}

.custom-range-line:after {
	content: attr(data-after-text);
	display: block;
	font-size: 12px;
	width: 60px;
	height: 12px;
	text-align: center;
	transform: translatex(-50%);
	position: relative;
	top: 20px;
	opacity: .38;
}

.custom-range-wrapper[data-drag-2="true"] .custom-range-circle:nth-of-type(5) {
	z-index: 22;
}


.norms-table__header {
    font-size: 12px;
}

.norms-table__header td {
    height: 1px!important;
    padding: 5px!important;
}

.norms-table__header td {
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}



.jd-tickets-way-type {
    font-size: 14px;
    font-family: Noto Sans;
    color: rgba(0, 0, 0, .54);
    word-spacing: 15px;
    text-align: center;
    padding: 10px;
}

.jd-tickets-way-type__custom-radio .value {
    padding: 0 0 0 6px;
}

.jd-tickets-way-type__custom-radio {
    word-spacing: normal;
}



.jq-tickets__find__material-btn {
    width: 100%!important;
    max-width: 300px;
    font-size: 14px;
}






