@keyframes fadeIn {
	0% {
		opacity: 0;
		top: 35px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

.custom-time {
	display: inline-block;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	width: 100%;
}

.custom-time .value {
	height: 35px;
	line-height: 35px;
	/*border: 1px solid rgba(0, 0, 0, .54);*/
	padding: 0 10px;
	color: 1px solid rgba(0, 0, 0, .54);
	cursor: pointer
}

.custom-time-chose {
	width: 220px;
	padding: 10px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
	border-radius: 2px;
	display: none;
	position: absolute;
	left: 0;
}

.custom-time-chose[data-visible="true"] {
	display: block;
	top: 0;
	animation-name: fadeIn;
	animation-duration: 400ms;
    z-index: 999;
}

.custom-time-body-circes {
	white-space: nowrap;
	font-size: 0px;
	width: 220px;
	overflow: hidden;
}

.custom-time-body-circle {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	margin: 20px 35px;
	display: inline-block;
	overflow: hidden;
	transition: left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	left: 0;
}

.custom-time-body-circle>canvas {
	background: #F8F8F8;
}

.custom-time-body-circle-hour {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #4967AF;
	background: #fff;
	font-weight: normal;
	cursor: pointer;
	background: rgba(77, 103, 175, 0);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	margin: 5px;
}

.custom-time-body-circle-hour:hover {
	background: rgba(77, 103, 175, .12);
}

.custom-time-header {
	text-align: center;
	font-size: 36px;
	color: rgba(0, 0, 0, .36);
	border-bottom: 1px solid rgba(0, 0, 0, .12);
	padding: 0 0 10px 0;
}

.custom-time-minutes, .custom-time-hours {
	cursor: pointer;
	display: inline-block;
	position: relative;
	line-height: 30px;
	color: rgba(0, 0, 0, .36);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.custom-time-edit {
	position: absolute;
	top: 100%;
	color: rgba(0, 0, 0, .35);
	font-size: 12px;
	line-height: 12px;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.custom-time-chose[data-chose="minutes"] .custom-time-edit {
	opacity: 1;
}

.custom-time-chose[data-chose="hours"] .custom-time-hours {
	color: #20D320;
}
.custom-time-chose[data-chose="minutes"] .custom-time-minutes {
	color: #20D320;
}

.custom-time-chose[data-chose="minutes"] .custom-time-body-circle {
	left: -220px;
}

.custom-time-chose button {
	background: #4967AF;
	width: 220px;
	cursor: pointer;
	height: 30px;
	line-height: 28px;
	color: #fff;
	text-transform: uppercase;
	border: none;
	outline: none;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.custom-time-chose button:hover {
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
